@using RightsU_Entities;
@model List<RightsU_Entities.Email_Config_Detail_User>
@using UTOFrameWork.FrameworkClasses;
<style>
    #popupFade {
        position: absolute;
        display: none;
        max-width: 300px;
        overflow: hidden;
        border: #bbb 1px solid;
        z-index: 100;
    }

        #popupFade form .modal_block {
            padding: 3px 10px;
        }

    #divPlatformTree {
        max-height: 300px;
        overflow-y: auto;
    }

    .SumoSelect.open > .optWrapper {
        top: 35px;
        display: block;
        width: 250px !important;
    }

    .SumoSelect {
        width: 150px !important;
    }
</style>
<input type="hidden" value="@ViewBag.IsBusinessUnit" id="hdnIsBusinessUnit" />
<input type="hidden" value="@ViewBag.IsChannel" id="hdnIsChannel" />
<input type="hidden" value="@ViewBag.CommandName" id="hdnCommandName" />

<input type="hidden" id="hdnDeleteId" />
<table class="table table-bordered table-hover" id="TableMain">
    <thead>
        <tr>
            @if (ViewBag.IsBusinessUnit == "Y")
            {
                <th style="width: 15%;">Business Unit</th>
            }
            <th style="width: 10%;">Type</th>
            <th style="width: 15%;">Users</th>
            <th style="width: 15%;">CC</th>
            <th style="width: 15%;">BCC</th>
            @if (ViewBag.IsChannel == "Y")
            {
                <th style="width: 20%;">Channel</th>
            }
            @if (ViewBag.CommandName != "VIEW")
            {
                <th style="width: 10%;">Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            int count = 0;
            if (ViewBag.CommandName == "ADD")
            {
                <tr>
                    @if (ViewBag.IsBusinessUnit == "Y")
                    {
                        <td>
                            <div id="divBusinessUnit" style="width:152px;">
                                @Html.DropDownList("Business_Unit_Code", (List<SelectListItem>)ViewBag.lstBU, new
                           {
                               @id = "lstBusinessUnit",
                               style = "width:150px;",
                               @multiple = "multiple",
                               @onchange = "PopulateUser()"
                           })
                            </div>
                        </td>
                    }
                    <td>
                        @Html.RadioButton("Type", "U", true, new { style = "cursor: pointer;", onclick = "PopulateUser()" }) &nbsp; Users &nbsp;
                        <br />
                        @Html.RadioButton("Type", "G", false, new { style = "cursor: pointer;", onclick = "PopulateUser()" }) &nbsp;  Groups &nbsp;
                        <br />
                        @*@Html.RadioButton("Type", "E", false, new { style = "cursor:pointer;", onclick = "PopulateUser()" }) &nbsp; Email &nbsp;*@

                    </td>
                    <td>
                        <div id="divUser" style="width:152px;">
                            <select id="lstUser" style="width:150px;" multiple></select>
                        </div>
                        <div id="divGrp" style="width:152px;">
                            <select id="lstGroup" style="width:150px;display:none" class="form_input chosen-select"></select>
                        </div>
                        <div id="divUserEmail" style="width:152px;">
                            <textarea type="text" id="txtuseremail" spellcheck="false" placeholder="Use a comma to seprate multiple emails" style="width:150px;height:30px;display:none;overflow-y:scroll;" />
                        </div>
                    </td>
                    <td>
                        <div id="divCc" style="width:152px;">
                            <select id="lstCcUser" style="width:150px;" multiple></select>
                        </div>
                        <div id="divCcuserEmail" style="width:152px;">
                            <textarea type="text" id="txtccuseremail" spellcheck="false" placeholder="Use a comma to seprate multiple emails" style="width:150px;height:30px;display:none;overflow-y:scroll;" />
                        </div>
                    </td>
                    <td>
                        <div id="divBcc" style="width:152px;">
                            <select id="lstBccUser" style="width:150px;" multiple></select>
                        </div>
                        <div id="divBccuserEmail" style="width:152px;">
                            <textarea type="text" id="txtbccuseremail" spellcheck="false" placeholder="Use a comma to seprate multiple emails" style="width:150px;height:30px;display:none;overflow-y:scroll;" />
                        </div>
                    </td>
                    @if (ViewBag.IsChannel == "Y")
                    {
                        <td>
                            <div id="divChannel" style="width:177px;">
                                @Html.DropDownList("Channel_Code", (List<SelectListItem>)ViewBag.lstChannel, new
                           {
                               @id = "lstChannel",
                               style = "width:175px;",
                               @multiple = "multiple"
                           })
                            </div>
                        </td>
                    }
                    <td>
                        <a title="Save" href="#" data-original-title="Save" class="glyphicon glyphicon-ok-circle" onclick="SaveUser('')"></a>
                        <a title="" href="#" class="glyphicon glyphicon-remove-circle" data-original-title="Cancel" onclick="BindUserGrid('CANCEL');"></a>
                    </td>
                </tr>
            }
            foreach (var item in Model)
            {
                count++;
                if (ViewBag.CommandName == "EDIT" && ViewBag.CodeForEdit == item.Dummy_Guid)
                {
                    <tr>
                        @if (ViewBag.IsBusinessUnit == "Y")
                        {
                            <td>
                                <div id="divBusinessUnit" style="width:177px;">
                                    @Html.DropDownList("Business_Unit_Code", (List<SelectListItem>)ViewBag.lstBU, new
                               {
                                   @id = "lstBusinessUnit",
                                   style = "width:175px;",
                                   @multiple = "multiple",
                                   @onchange = "PopulateUser('')"
                               })
                                </div>
                            </td>
                        }
                        <td>
                            @{
                                bool Is_User = true, Is_Group = false, Is_Email = false;
                                if ((item.User_Type ?? "") != "U")
                                {
                                    Is_User = false;
                                    Is_Group = true;
                                }
                                if ((item.User_Type ?? "") != "U" && (item.User_Type ?? "") != "G")
                                {
                                    Is_User = false;
                                    Is_Group = false;
                                    Is_Email = true;
                                }
                            }

                            @Html.RadioButton("Type", "U", Is_User, new { style = "cursor: pointer;", onclick = "PopulateUser()" }) &nbsp; Users &nbsp;
                            <br />
                            @Html.RadioButton("Type", "G", Is_Group, new { style = "cursor: pointer;", onclick = "PopulateUser()" }) &nbsp;  Groups &nbsp;
                            <br />
                            @*@Html.RadioButton("Type", "E", Is_Email, new { style = "cursor:pointer;", onclick = "PopulateUser()" }) &nbsp; Email &nbsp;*@
                        </td>
                        <td>
                            <div id="divUser" style="width:152px;">
                                <select id="lstUser" style="width:150px;" multiple></select>
                            </div>
                            <div id="divGrp" style="width:152px;">
                                <select id="lstGroup" style="width:150px;display:none" class="form_input chosen-select"></select>
                            </div>
                            <div id="divUserEmail" style="width:152px;">
                                <textarea type="text" id="txtuseremail" spellcheck="false"  style="width:150px;height:30px;display:none;overflow-y:scroll;">@((item.ToUser_MailID??"").Replace(";",","))</textarea>
                            </div>
                        </td>
                        <td>
                            <div id="divCc" style="width:152px;">
                                <select id="lstCcUser" style="width:150px;" multiple></select>
                            </div>
                            <div id="divCcuserEmail" style="width:152px;">
                                <textarea type="text" id="txtccuseremail" spellcheck="false" style="width:150px;height:30px;display:none;overflow-y:scroll;">@((item.CCUser_MailID??"").Replace(";", ","))</textarea>
                            </div>

                        </td>
                        <td>
                            <div id="divBcc" style="width:152px;">
                                <select id="lstBccUser" style="width:150px;" multiple></select>
                            </div>
                            <div id="divBccuserEmail" style="width:152px;">
                                <textarea type="text" id="txtbccuseremail" spellcheck="false"style="width:150px;height:30px;display:none;overflow-y:scroll;">@((item.BCCUser_MailID ?? "").Replace(";", ","))</textarea>
                            </div>
                        </td>
                        @if (ViewBag.IsChannel == "Y")
                        {
                            <td>
                                <div id="divChannel" style="width:177px;">
                                    @Html.DropDownList("Channel_Code", (List<SelectListItem>)ViewBag.lstChannel, new
                               {
                                   @id = "lstChannel",
                                   style = "width:175px;",
                                   @multiple = "multiple"
                               })
                                </div>
                            </td>
                        }
                        <td>
                            <a title="Save" href="#" data-original-title="Save" class="glyphicon glyphicon-ok-circle" onclick="SaveUser('@item.Dummy_Guid')"></a>
                            <a title="" href="#" class="glyphicon glyphicon-remove-circle" data-original-title="Cancel" onclick="BindUserGrid('CANCEL');"></a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        @if (ViewBag.IsBusinessUnit == "Y")
                        {
                            <td><span class="expand_fields">@item.Business_Unit_Names</span></td>
                        }
                        <td>
                            <span>@(item.User_Type == "U" ? "User" : (item.User_Type == "G" ? "Group" : "Email"))</span>
                        </td>
                        <td>
                            @if (item.User_Type == "G")
                            {
                                <span style="cursor: pointer;" onclick="showCountryList()">@item.Security_Group_Names</span>
                                <a id="@(count)_aViewUsers" title="View Users" class="glyphicon glyphicon-triangle-right clsPlatformPopup"></a>
                                <input id="@(count)_hdnUserNames" value="@item.User_Names" type="hidden" />

                            }
                            else if (item.User_Type == "U")
                            {
                                <span class="expand_fields">@item.User_Names</span>
                            }
                            else
                            {
                                <span class="expand_fields">
                                    @Html.Raw(Html.Encode(item.ToUser_MailID).Replace(";", "<br />"))
                                </span>
                            }
                        </td>
                        <td>
                            @if (item.User_Type == "E")
                            {
                                <span class="expand_fields">
                                    @Html.Raw(Html.Encode(item.CCUser_MailID).Replace(";", "<br />"))
                                </span>
                            }
                            else
                            {
                                <span class="expand_fields">@item.CC_User_Names</span>
                            }
                        </td>
                        <td>
                            @if (item.User_Type == "E")
                            {
                                <span class="expand_fields">
                                    @Html.Raw(Html.Encode(item.BCCUser_MailID).Replace(";", "<br />"))
                                </span>
                            }
                            else
                            {
                                <span class="expand_fields">@item.BCC_User_Names</span>
                            }
                        </td>
                        @if (ViewBag.IsChannel == "Y")
                        {
                            <td><span class="expand_fields">@item.Channel_Names</span></td>
                        }
                        @if (ViewBag.CommandName != "VIEW")
                        {
                            <td>
                                @if (ViewBag.Show_Hide_Buttons.Contains("~" + GlobalParams.RightCodeForEdit + "~"))
                                {
                                    <a href="#" class="glyphicon glyphicon-pencil" title="Edit" onclick="BindUserGrid('EDIT','@item.Dummy_Guid')"></a>
                                }
                                @if (ViewBag.Show_Hide_Buttons.Contains("~" + GlobalParams.RightCodeForDelete + "~"))
                                {
                                    <a href="#" class="glyphicon glyphicon-trash" title="Delete" onclick="DeleteConfirmation('@item.Dummy_Guid')"></a>
                                }
                            </td>
                        }
                    </tr>
                }
            }
        }
    </tbody>
</table>
<div id="popupFade">
    <div class="modal-dialog">
        <div class="modal-content clearfix">
            <form class="form">
                <div class="form_fields" style="min-width:80px !important;/*max-height: 200px !important;overflow-y: auto;*/">
                    <div class="modal_block modal_header">
                        <a class="close" onclick="FadeOutPopup()">
                            <span>×</span>
                            <span class="sr-only">Close</span>
                        </a>
                        <h5>Users</h5>
                    </div>
                    <div class="modal_block treeClass" id="divPlatformTree">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('.expand_fields').expander({
        slicePoint: 12,
        expandPrefix: '',
        expandText: '...read more',
        collapseTimer: 0,
        userCollapseText: '<span>[^]</span>'
    });
    $(document).ready(function () {
        initializeTooltip();
        $('#lstBusinessUnit,#lstChannel').SumoSelect();
        if ('@ViewBag.CommandName' == "ADD" || '@ViewBag.CommandName' == "EDIT")
            PopulateUser('@ViewBag.DummyGuid');

    });
    $('.clsPlatformPopup').on('click', function (e) {
        debugger;
        var btdId = e.target.id;
        var btdId = e.target.id;
        var hdnUserNames = btdId.replace("_aViewUsers", "_hdnUserNames");
        var UserNames = ($('#' + hdnUserNames).val()).split(',');
        pos = $('#' + btdId).offset();
        var str = "";
        if ($('#' + hdnUserNames).val() != "")
            for (var i = 0; i < UserNames.length; i++) {
                str += "<span>" + UserNames[i] + "</span><br/>"
            }
        if (str == "")
            str = "<span>No Active User</span>"
        $('#divPlatformTree').html(str);
        $('#popupFade').offset({ top: pos.top, left: pos.left }).fadeIn();
        $('#popupFade').offset({ top: pos.top, left: pos.left }).fadeIn();
        return false;
    });

    $("#popupFade").click(function (event) {
        event.stopPropagation();
    });
    function FadeOutPopup() {
        debugger;
        if ($('#popupFade') != undefined) {
            $('#popupFade').offset({ top: pos.top, left: pos.left }).fadeOut();
            return false;
        }
        return true;
    }
</script>
