@model RightsU_Entities.USP_Title_Objection_List_Result

<style>
    #ddlTitle_Status_chosen {
        max-width: 46%;
    }

    #popupFadeP {
        position: absolute;
        display: none;
        max-width: 300px;
        border: #bbb 1px solid;
        z-index: 100;
    }

        #popupFadeP .modal-dialog ul.fancytree-container {
            height: 100%;
            border: 0;
            max-height: 300px;
        }

        #popupFadeP form .modal_block {
            padding: 3px 1px;
        }

        #popupFadeP #Rights_Platform {
            max-height: 300px !important;
        }

    #Tree_Filter_Rights_Platform {
        max-width: 300px;
        padding-left: 3px;
        position: relative !important;
    }

    #Rights_Platform {
        margin: 0px 0px 0px 0px !important;
    }

    #divTree {
        overflow-x: hidden;
    }

    #popupFadeP .modal_header {
        background: #c3c3c3;
    }

    .tooltip {
        z-index: 9999 !important;
    }

    input.isDatepicker {
        width: 100px;
        z-index: auto;
    }
</style>
<script>
    var URL_BindPlatformTree = '@Url.Action("BindPlatformTree", "Title_Objection")';
    var URL_BindCountryTerritory = '@Url.Action("BindCountryTerritory", "Title_Objection")';


    $(document).ready(function () {

        initializeChosen();
        initializeDatepicker();
        initializeTooltip();

        var restrictCharLengthOR = $(".restrictCharOR").val().length;
        $("#spn_ObjRemark").html(restrictCharLengthOR + "/4000");

        var restrictCharLengthRR = $(".restrictCharRR").val().length;
        $("#spn_ResRemark").html(restrictCharLengthRR + "/4000");

        $("#ddlCT,#ddlCarName").SumoSelect();

        $('#txtStart').change(function () {
            SetMinDt();
        });
        $('#txtEnd').change(function () {
            SetMaxDt();
        });
        $('input[type=radio][name=rb_CT').change(function () {
            CountryTerritoryMapping(this.value)
        });
    });

    $(document).on('keyup', 'textarea', function () {
        var count = $(this).val().length;
        if (this.id == "txt_Resolution_Remarks") {
            $("#spn_ResRemark").html(count + "/4000");
        }
        else {
            $("#spn_ObjRemark").html(count + "/4000");
        }
    });

    $("#popupFadeP").click(function (event) {
        event.stopPropagation();
    });
    function SetMaxDt() {
        setMinMaxDates('txtStart', '', $('#txtEnd').val());
    }
    function SetMinDt() {
        setMinMaxDates('txtEnd', $('#txtStart').val(), '');
    }
    function CountryTerritoryMapping(MapFor) {
        debugger;

        var Type = $("input[name='rb_CT']:checked").val();

        $.ajax({
            type: "POST",
            url: URL_BindCountryTerritory,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                Type: Type
            }),
            async: false,
            success: function (result) {
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    debugger;
                    $("#ddlCT").empty();
                    $(result.lstCT).each(function (index, item) {
                        $("#ddlCT").append($("<option>").val(this.Value).text(this.Text));
                    });
                    $("#ddlCT")[0].sumo.reload();
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
                hideLoading();
            }
        });
    }

    function ClosePopup() {
        //if (Tree_Type_G == "E") {
        //    var PromoterCount = $('#Rights_PlatformplatformCnt').text();
        //    $('#' + dummyID).text(PromoterCount + " Promoters");
        //    Promoter_Codes_G = $("#hdnPGCodes").val();
        //}
        $('#popupFadeP').hide('slow');
    }


    $('.clsPromoterPopup').on('click', function (e) {
        debugger;
        e.preventDefault();
        var btdId = e.target.id;
        var codes = "";
        pos = $('#' + btdId).offset();
        @*$("#hdnPGCodes").val('@j');*@
        //if ($('#hdnPGCodes').val() != Promoter_Codes_G && Promoter_Codes_G != '') {
        //    codes = Promoter_Codes_G;
        //}
        //else {
        //    codes = $('#hdnPGCodes').val();
        //}
        //var text = $('#' + btdId).hasClass('View');
        //if (text == true) {
        //    Tree_Type_G = "V";
        //    codes = "";
        //}
        //else {
        //    Tree_Type_G = "E";
        //}
        $.ajax({
            type: "POST",
            url: URL_BindPlatformTree,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            data: JSON.stringify({
                PlatformCode: codes,
                DummyProperty: ''

            }),
            success: function (result) {
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    $('#divTree').html(result);
                    pos.left = 206;
                    $('#popupFadeP').offset({ top: pos.top, left: pos.left }).fadeIn();
                    $('#popupFadeP').offset({ top: pos.top, left: pos.left }).fadeIn();
                    initializeChosen();
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
            }
        });
    });
</script>
<div class="">
    <div class="title_block dotted_border clearfix">
        <h2 class="pull-left">
            Add Title Objection
            <span></span>
        </h2>
        <div class="pull-right" style="line-height: 4;">
            <span>
                @Html.DropDownList("Title_Status", (IEnumerable<SelectListItem>)ViewBag.ddlTitle_Status, new { @id = "ddlTitle_Status", @class = "form_input chosen-select" })
            </span>
        </div>

    </div>
    <div class="grid_area">
        <table class="table table-bordered table-hover" style="width:100%">
            <tr>
                <td style="width:20%"> <label class="bold">Title : </label></td>
                <td style="width:80%" colspan="3"> @Model.Title </td>
            </tr>
            <tr>
                <td style="width:20%"> <label class="bold">Agreement No : </label></td>
                <td style="width:80%" colspan="3"> @Model.Agreement_No </td>
            </tr>
            <tr>
                <td style="width:20%"> <label class="bold">Select Platform : </label></td>
                <td style="width:80%" colspan="3">
                    <a id="0_aviewplatform" href="#" title="" class="clsPromoterPopup" data-original-title="View Platform" style="text-decoration:underline">Platform</a>

                </td>
            </tr>
            <tr>
                <td style="width:20%"> <label class="bold">Region : </label></td>
                <td style="width:80%" colspan="3">
                    <input type="radio" checked="true" name="rb_CT" value="C"> Country &nbsp;&nbsp;
                    <input type="radio" name="rb_CT" value="T"> Territory &nbsp;&nbsp;
                    @Html.DropDownList("ddlCT", (IEnumerable<SelectListItem>)ViewBag.ddlCT, new { @id = "ddlCT", @multiple = "multiple" })
                </td>
            </tr>
            <tr>
                <td style="width:20%"> <label class="bold">Objection Start Date : </label></td>
                <td style="width:30%">
                    <input type="hidden" id="hdnStartDate" />
                    <input type="text" class="isDatepicker" id="txtStart" name="Start_Date" placeholder="DD/MM/YYYY" width="100" autocomplete="off"
                           title="Objection Start Date" ondrop="return false" onpaste="return false" onkeypress="return false" onkeydown="return false" />

                </td>
                <td style="width:20%"> <label class="bold">Objection End Date : </label></td>
                <td style="width:30%">
                    <input type="text" class="isDatepicker" id="txtEnd" name="End_Date" placeholder="DD/MM/YYYY" autocomplete="off"
                           title="Objection End Date" ondrop="return false" onpaste="return false" onkeypress="return false" onkeydown="return false" />
                </td>
            </tr>
            <tr>
                <td style="width:20%"> <label class="bold">Type Of Objection : </label></td>
                <td style="width:80%" colspan="3">

                    <select id="ddlCarName" multiple="multiple" placeholder="Hello  im from placeholder" class="SlectBox-grp">
                        <optgroup label="US Brands">
                            <option value="chrysler">Chrysler</option>
                            <option value="gm">General Motors</option>
                            <option value="ford">Ford</option>
                        </optgroup>
                        <optgroup label="French Brands">
                            <option value="citroen">Citroën</option>
                            <option value="peugeot">Peugeot</option>
                            <option value="renault">Renault</option>
                            <option value="nissan">Nissan</option>
                        </optgroup>
                        <optgroup label="Italian brands">
                            <option value="fiat">Fiat</option>
                            <option value="alpha-Romeo">Alpha Romeo</option>
                            <option value="lamborghini">Lamborghini</option>
                        </optgroup>
                        <optgroup label="German brands">
                            <option value="audi">Audi</option>
                            <option value="bMW">BMW</option>
                            <option value="volkswagen">Volkswagen</option>
                        </optgroup>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="width:20%"> <label class="bold">Objection Remarks : </label></td>
                <td style="width:80%" colspan="3">
                    <span style="float:right;" id="spn_ObjRemark"></span>
                    @Html.TextArea("txt_Objection_Remarks", new { @class = "textarea restrictCharOR", @rows = "2", @cols = "20", @maxlength = "4000" })
                </td>
            </tr>
            <tr>
                <td style="width:20%"> <label class="bold">Resolution Remarks : </label></td>
                <td style="width:80%" colspan="3">
                    <span style="float:right;" id="spn_ResRemark"></span>
                    @Html.TextArea("txt_Resolution_Remarks", new { @class = "textarea restrictCharRR", @rows = "2", @cols = "20", @maxlength = "4000" })
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="popupFadeP">
    <div class="modal-dialog">
        <div class="modal-content clearfix">
            <form class="form">
                <div class="form_fields">
                    <div class="modal_block modal_header">
                        <a class="close" onclick="ClosePopup()">
                            <span style="margin-right:6px;">×</span>
                            <span class="sr-only">Close</span>
                        </a>
                        <h5 style="margin-bottom:10px;margin-left:7px;">Platform Matrix</h5>
                        <input type="hidden" id="hdnPGCodes" name="hdnPGCodes" />
                        <div id="divTree" class="platform_wrapper">
                            <div id="tree" class="treeClass">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>