@model RightsU_Entities.USP_Title_Objection_List_Result
@{
    string isCT = "I", pCodes = "", rpCodes = "", ctCodes = "", objTypeCode = "";
    RightsU_Entities.Title_Objection objTitleObjection = new RightsU_Entities.Title_Objection();

    if (ViewBag.obj_Usp_TO != null)
    {
        objTitleObjection = (RightsU_Entities.Title_Objection)ViewBag.obj_Usp_TO;

        if (objTitleObjection.Title_Objection_Code > 0)
        {
            objTypeCode = objTitleObjection.Title_Objection_Type_Code.ToString();
            isCT = objTitleObjection.Title_Objection_Territory.FirstOrDefault().Territory_Type;
            pCodes = ViewBag.PCodes;
            rpCodes = ViewBag.RPCodes;
            ctCodes = ViewBag.CTCodes;
        }
    }
}
<style>
    #ddlTitle_Status_chosen {
        width: 42% !important;
    }

    .sumo_ddlLP, .sumo_ddlCT {
        width: 100%;
    }

    #popupFadeP {
        position: absolute;
        display: none;
        max-width: 300px;
        border: #bbb 1px solid;
        z-index: 100;
    }

        #popupFadeP .modal-dialog ul.fancytree-container {
            height: 100%;
            border: 0;
            max-height: 300px;
        }

        #popupFadeP form .modal_block {
            padding: 3px 1px;
        }

        #popupFadeP #Rights_Platform {
            max-height: 300px !important;
        }

    #Tree_Filter_Rights_Platform {
        max-width: 300px;
        padding-left: 3px;
        position: relative !important;
    }

    #Rights_Platform {
        margin: 0px 0px 0px 0px !important;
    }

    #divTree {
        overflow-x: hidden;
    }

    #popupFadeP .modal_header {
        background: #c3c3c3;
    }

    .tooltip {
        z-index: 9999 !important;
    }

    input.isDatepicker {
        width: 100px;
        z-index: auto;
    }

    .count {
        position: absolute;
        text-align: center;
        width: 17px;
        height: 17px;
        font-size: 10px;
        padding-top: 0.1em;
        background: #f9df73;
        border-radius: 50%;
        box-shadow: 0 0 7px #aaa;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 5fr;
    }
</style>
<script>

    $(document).ready(function () {
        debugger;
        initializeChosen();
        initializeDatepicker();
        initializeTooltip();

        $("#ddlCT,#ddlLP").SumoSelect();
        BindObjectionType();

        var restrictCharLengthOR = $(".restrictCharOR").val().length;
        $("#spn_ObjRemark").html(restrictCharLengthOR + "/4000");

        var restrictCharLengthRR = $(".restrictCharRR").val().length;
        $("#spn_ResRemark").html(restrictCharLengthRR + "/4000");

        $('#txtStart').change(function () {
            SetMinDt();
        });
        $('#txtEnd').change(function () {
            SetMaxDt();
        });
        $('input[type=radio][name=rb_CT').change(function () {
            CountryTerritoryMapping(this.value)
        });
    });
    $('.clsPromoterPopup').on('click', function (e) {

        e.preventDefault();
        var btdId = e.target.id;
        var codes = "";
        pos = $('#' + btdId).offset();

        codes = $('#hdnTVCodes').val();

        $.ajax({
            type: "POST",
            url: URL_BindPlatformTree,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            data: JSON.stringify({
                PlatformCode: codes,
                isView: callFrom === "VIEW" ? "Y" : "N"
            }),
            success: function (result) {
                if (result === "true") {
                    redirectToLogin();
                }
                else {
                    $('#divTree').html(result);
                    pos.left = 440;
                    $('#popupFadeP').offset({ top: pos.top, left: pos.left }).fadeIn();
                    $('#popupFadeP').offset({ top: pos.top, left: pos.left }).fadeIn();
                    initializeChosen();
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
            }
        });
    });

</script>
<div class="">
    <div class="title_block dotted_border clearfix">
        <h2 class="pull-left">
            Add Title Objection
            <span></span>
        </h2>
        <div class="pull-right" style="line-height: 50px;width: 23%;">
            <span class="bold">Title Objection Status :&nbsp;&nbsp;</span>
            <span>
                @Html.DropDownList("Title_Status", (IEnumerable<SelectListItem>)ViewBag.ddlTitle_Status, new { @id = "ddlTitle_Status", @class = "form_input chosen-select" })
            </span>
        </div>

    </div>
    <div class="grid_area">
        <table class="table table-bordered table-hover" style="width:100%" border="0">
            <tr>
                <td style="width:15%"> <label class="bold">Title : </label></td>
                <td style="width:80%" colspan="3">
                    @Model.Title
                    <input type="hidden" id="hdnTitleCode" value="@Model.Title_Code" />
                    <input type="hidden" id="hdnRecordType" value="@ViewBag.Type" />
                    <input type="hidden" id="hdnRecordCode" value="@Model.Acq_Deal_Code" />
                </td>
            </tr>
            <tr>
                <td style="width:15%"> <label class="bold">Agreement No : </label></td>
                <td style="width:80%" colspan="3"> @Model.Agreement_No</td>
            </tr>
            <tr>
                <td style="width:15%"> <label class="bold">Select Platform : </label></td>
                <td style="width:80%" colspan="3">
                    <a id="0_aviewplatform" href="#" title="" class="clsPromoterPopup" data-original-title="Add Platform" style="text-decoration:underline">
                        Add Platform Matrix  &nbsp;&nbsp;
                        <span id="pCount" class="count">0</span>
                    </a>

                </td>
            </tr>
            <tr>
                <td style="width:15%"> <label class="bold">Region : </label></td>
                <td style="width:80%" colspan="3">
                    <div class="grid-container">
                        <div style="line-height: 25px;">
                            <input type="radio" checked=true name="rb_CT" value="C"> Country &nbsp;&nbsp;
                            <input type="radio" name="rb_CT" value="T"> Territory &nbsp;&nbsp;
                        </div>
                        <div id="divddlCT" style="width:35%">
                            @Html.DropDownList("ddlCT", (IEnumerable<SelectListItem>)ViewBag.ddlCT, new { @id = "ddlCT", @multiple = "multiple" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:15%"> <label class="bold">License Period : </label></td>
                <td style="width:80%" colspan="3">
                    <div id="divddlLP" style="width:35%">
                        @Html.DropDownList("ddlLP", (IEnumerable<SelectListItem>)ViewBag.ddlLP, new { @id = "ddlLP", @multiple = "multiple" })
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:15%"> <label class="bold">Objection Period : </label></td>
                <td style="width:80%" colspan="3">
                    <input type="hidden" id="hdnStartDate" />
                    <input type="text" class="isDatepicker" id="txtStart" name="Start_Date" placeholder="DD/MM/YYYY" width="100" autocomplete="off"
                           title="Objection Start Date" ondrop="return false" onpaste="return false" onkeypress="return false" onkeydown="return false" />
                    &nbsp;&nbsp;<b> To </b> &nbsp;&nbsp;
                    <input type="text" class="isDatepicker" id="txtEnd" name="End_Date" placeholder="DD/MM/YYYY" autocomplete="off"
                           title="Objection End Date" ondrop="return false" onpaste="return false" onkeypress="return false" onkeydown="return false" />
                </td>
            </tr>
            <tr>
                <td style="width:15%"> <label class="bold">Type Of Objection : </label></td>
                <td style="width:80%" colspan="3">
                    <select id="ddlObjType" class="form_input chosen-select"></select>
                </td>
            </tr>
            <tr>
                <td style="width:15%"> <label class="bold">Objection Remarks : </label></td>
                <td style="width:80%" colspan="3">
                    <span style="float:right;" id="spn_ObjRemark"></span>
                    @Html.TextArea("txt_Objection_Remarks", new { @class = "textarea restrictCharOR", @rows = "2", @cols = "20", @maxlength = "4000" })
                </td>
            </tr>
            <tr>
                <td style="width:15%"> <label class="bold">Resolution Remarks : </label></td>
                <td style="width:80%" colspan="3">
                    <span style="float:right;" id="spn_ResRemark"></span>
                    @Html.TextArea("txt_Resolution_Remarks", new { @class = "textarea restrictCharRR", @rows = "2", @cols = "20", @maxlength = "4000" })
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="bottom_action">
        <ul class="form_link_nav clearfix">
            <li>
                <input type="submit" id="btnSave" class="btn btn-primary" value="Save" onclick="return SaveTitleObjection(0);" />
            </li>
            <li>
                <input type="button" id="btnCancel" class="btn btn-primary" value="Cancel" onclick="CancelSaveDeal()" />
            </li>
        </ul>
    </div>
</div>
<div id="popupFadeP">
    <div class="modal-dialog">
        <div class="modal-content clearfix">
            <form class="form">
                <div class="form_fields">
                    <div class="modal_block modal_header">
                        <a class="close" onclick="ClosePopup()">
                            <span style="margin-right:6px;">×</span>
                            <span class="sr-only">Close</span>
                        </a>
                        <h5 style="margin-bottom:10px;margin-left:7px;">Platform Matrix</h5>
                        <input type="hidden" id="hdnTVCodes" value="@pCodes" name="hdnTVCodes" />
                        <div id="divTree" class="platform_wrapper">
                            <div id="tree" class="treeClass">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
