@using UTOFrameWork.FrameworkClasses
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script src="~/JS_Core/jquery.sumoselect.js"></script>
<link href="~/CSS/sumoselect.css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="~/css/chosen.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<link type="text/css" rel="stylesheet" href="~/css/ui.fancytree.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<script type="text/javascript" src="~/JS_Core/jquery.fancytree.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<script type="text/javascript" src="~/JS_Core/jquery.fancytree.filter.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>

<div class="main_section">
    <section class="rightsU_container clearfix">
        <div class="container acq main_col">
            <div id="divTitleObjection">

            </div>
        </div>
    </section>
</div>
<script>
    var URL_BindPartialPages = '@Url.Action("BindPartialPages", "Title_Objection")';
    var Command_Name = "";
    var TitleObjectCode = '@ViewBag.TitleObjectCode';

    $(document).ready(function () {
        BindPartialView('@ViewBag.callFrom');
    });

    function CancelSaveDeal() {
        Command_Name = "CANCEL_SAVE_DEAL";
        showAlert("I", 'All Unsaved Data Will Be Lost. Still WantTo Go Ahead?', "OKCANCEL");
    }
    function handleOk() {
        if (Command_Name == "CANCEL_SAVE_DEAL") {
            BindPartialView("LIST");
        }
    }
    function cancelView() {
        BindPartialView("LIST", '@ViewBag.EditRecCode', '@ViewBag.EditTitCode')
    }

    function BindPartialView(key, Deal_Code = 0, Title_Code = 0) {
        debugger
        Record_Type = TitleObjectCode === 0 ? $("input[name='rb_AcqSyn']:checked").val() : 'A';

        $.ajax({
            type: "POST",
            url: URL_BindPartialPages,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            data: JSON.stringify({
                key: key,
                Record_Type: Record_Type,
                Deal_Code: Deal_Code,
                Title_Code: Title_Code,
                TitleObjectCode: TitleObjectCode
            }),
            success: function (result) {
                debugger;
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    $('#divTitleObjection').empty();
                    $('#divTitleObjection').html(result);

                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
            }
        });
    }
</script>