@model RightsU_Entities.Acq_Deal_Pushback
@using UTOFrameWork.FrameworkClasses
@{
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}
<link type="text/css" rel="stylesheet" href="~/css/ui.fancytree.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<script type="text/javascript" src="~/JS_Core/jquery.fancytree.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<script type="text/javascript" src="~/JS_Core/jquery.fancytree.filter.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>

<style>
    #Tree_Filter_Rights_Platform {
        width: 413px;
        position: relative !important;
        margin-left: 0px !important;
        margin-top: 0px !important;
    }

    #Rights_Platform {
        margin: 0px 0px 0px 0px !important;
    }

    ul.col-md-6 {
        padding-left: 0;
    }

    .form_li_sub {
        margin-right: 10px;
    }

    #popEditRevHB .fancytree-container {
        height: 550px;
    }

    .modal_block ul.col-md-6 > li {
        margin-bottom: 10px;
    }

    .tabbable .isDatepicker {
        width: 80px !important;
        font-size: 11px;
        height: 26px;
    }

    .SumoSelect, #divlbTitle_Popup, #divCountryHB {
        width: 400px;
    }
</style>
@if (ViewBag.Mode != null && (ViewBag.Mode == "ADD" || ViewBag.Mode == "EDIT" || ViewBag.Mode == "CLONE"))
{
    <div class="modal-dialog">
        <div class="modal-content clearfix">
            @using (Html.BeginForm("Save_Pushback", "Acq_Pushback", FormMethod.Post, new { objAD_MVC = Model, @ID = "frm_Save_Pushback" }))
            {
               // <input type="hidden" id="hdntype" name="hdntype" value="@ViewBag.Mode" />
                @Html.Hidden("type", (string)(ViewBag.Mode ?? 0))
                <div>
                    <div class="form_fields acq">
                        <div class="modal_block modal_header">
                            <a class="close" data-dismiss="modal" href="#">
                                <span>×</span>
                                <span class="sr-only">Close</span>
                            </a>

                            <h2>@Html.Label("HELLO", new { @id = "lblHeader", @name = "lblHeader" })</h2>
                        </div>
                        <div class="modal_block">
                            <ul class="form_fields_wrapper">
                                <li class="clearfix">
                                    <div id="tdTitleCodes"></div>
                                    <label class="bold">@objMessageKey.Title</label>&nbsp;&nbsp;
                                    <div id="divlbTitle_Popup">
                                        @Html.ListBox("lbTitle_Popup", ViewBag.Title_List_Popup as MultiSelectList, new { @id = "lbTitle_Popup" })
                                    </div>
                                    @Html.HiddenFor(m => Model.Acq_Deal_Code, new { @id = "hdnAcq_Deal_Code", @name = "Acq_Deal_Code" })
                                    @Html.HiddenFor(m => Model.Acq_Deal_Pushback_Code, new { @id = "hdnAcq_Deal_Pushback_Code", @name = "Acq_Deal_Pushback_Code" })
                                    @Html.Hidden("hdnTitleList")
                                    @Html.Hidden("Right_Type")
                                    @Html.Hidden("TCODE", (int)(ViewBag.TCODE ?? 0))
                                    @Html.Hidden("Episode_From", (int)(ViewBag.Episode_From ?? 0))
                                    @Html.Hidden("Episode_To", (int)(ViewBag.Episode_To ?? 0))
                                    @Html.Hidden("PCODE", (int)(ViewBag.PCODE ?? 0))
                                    @Html.Hidden("Title_Code_Search", (string)(ViewBag.Title_Code_Search ?? "0"))
                                    @Html.Hidden("View_Type_Search", (string)(ViewBag.View_Type_Search ?? "G"))
                                </li>
                                <li class="clearfix">
                                    <ul class="col-md-6">
                                        <li>
                                            <label class="bold small_title">@objMessageKey.Region</label>
                                            <div>
                                                <label class="radio-inline">
                                                    <input type="radio" name="rdoTerritoryType" id="rdoCountryHB" value="I" onchange="BindDropdown('rdoTerritoryType');" checked="checked" />
                                                    @objMessageKey.Country
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="rdoTerritoryType" id="rdoTerritoryHB" value="G" onchange="BindDropdown('rdoTerritoryType');" />
                                                    @Html.Hidden("hdnTerritory_Type")
                                                    @objMessageKey.Territory
                                                </label>
                                            </div>
                                            <div id="divCountryHB">
                                                @Html.ListBox("lbTerritory_Popup", ViewBag.Territory_List_Popup as MultiSelectList)
                                                @Html.Hidden("hdnTerritoryList")
                                            </div>
                                            <div id="divTerritoryHB" style="display: none">
                                            </div>
                                        </li>
                                        <li style="width: 95%">
                                            <label class="bold small_title">@objMessageKey.Validity</label>
                                            <div class="tabbable">
                                                <ul id="ulRightType" class="nav nav-tabs nav-tab pull-left">
                                                    <li class="active">
                                                        <a data-toggle="tab" id="liTabYear" href="#tabYear" onclick="ChangeRightType('Year')" role="tab">@objMessageKey.Yearbased</a>
                                                    </li>
                                                    <li class="">
                                                        <a data-toggle="tab" id="liTabMilestone" href="#tabMilestone" onclick="ChangeRightType('Milestone')" role="tab">@objMessageKey.Milestone</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content clearfix table-wrapper scale_table_container">
                                                    <div class="tab-pane active scale_table_block" id="tabYear">
                                                        <ul class="clearfix" style="margin-bottom: 5px;">
                                                            <li>
                                                                <div class="divBlock">
                                                                    <label class="checkbox-inline">
                                                                        @Html.CheckBox("chk_Is_Tentative", (Model.Is_Tentative != null && Model.Is_Tentative == "Y") ? true : false)
                                                                        @Html.Hidden("Is_Tentative")
                                                                        @objMessageKey.Tentative
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <ul class="from_to clearfix">
                                                            <li class="form_li_sub">
                                                                <label>@objMessageKey.StartDate</label>
                                                                @*@Html.TextBoxFor(m =>string.Format("{0:dd/MM/yyyy}", Model.Right_Start_Date), new { @class = "isDatepicker" })*@
                                                                @Html.TextBox("Right_Start_Date", string.Format("{0:dd/MM/yyyy}", Model.Right_Start_Date), new { @class = "isDatepicker", @id = "txtRight_Start_Date", @placeholder = "DD/MM/YYYY" })
                                                            </li>
                                                            <li class="form_li_sub">
                                                                <label>YY</label>
                                                                @Html.TextBox("Year", Model.Term != null ? Model.Term.Split('.').GetValue(0) : 0, new { @id = "txtYear", @class = "smallTextBox", @maxlength = 4 })
                                                            </li>
                                                            <li class="form_li_sub">
                                                                <label>MM</label>
                                                                @Html.TextBox("Month", Model.Term != null ? Model.Term.Split('.').GetValue(1) : 0, new { @id = "txtMonth", @class = "smallTextBox", @maxlength = 4 })
                                                            </li>
                                                            <li class="form_li_sub">
                                                                <label>DD</label>
                                                                @Html.TextBox("Day", Model.Term != null ? Model.Term.Split('.').GetValue(2) : 0, new { @id = "txtDay", @class = "smallTextBox", @maxlength = 4 })
                                                            </li>
                                                            <li class="form_li_sub">
                                                                <label>@objMessageKey.EndDate</label>
                                                                @{
                                                                    @(Model.Is_Tentative == "Y" ? @Html.TextBoxFor(model => model.Right_End_Date,
                                                                    new
                                                                    {
                                                                        @name = "Right_End_Date",
                                                                        @class = "isDatepicker",
                                                                        @placeholder = "DD/MM/YYYY",
                                                                        id = "txtRight_End_Date",
                                                                        @disabled = "disabled",
                                                                        Value = ""
                                                                    }) :
                                                                    Html.TextBoxFor(model => model.Right_End_Date, new
                                                                    {
                                                                        @name = "Right_End_Date",
                                                                        @class = "isDatepicker",
                                                                        @placeholder = "DD/MM/YYYY",
                                                                        id = "txtRight_End_Date",
                                                                        Value = String.Format("{0:dd/MM/yyyy}", Model.Right_End_Date)
                                                                    }))
                                                                                                                                    }
                                                                @Html.Hidden("hdnRight_Start_Date")
                                                                @Html.Hidden("hdnRight_End_Date")
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="tab-pane scale_table_block" id="tabMilestone">
                                                        <ul class="from_to clearfix">
                                                            <li class="form_li_sub" style="width: 160px;">
                                                                <label>@objMessageKey.From</label>
                                                                @Html.DropDownList("Milestone_Type_Code", (SelectList)ViewBag.Milestone_Type_Popup, new { @class = "form_input chosen-select" })
                                                            </li>
                                                            <li class="form_li_sub">
                                                                <label>@objMessageKey.To</label>
                                                                <input type="text" name="Milestone_No_Of_Unit" id="txtMilestone_No_Of_Unit" class="smallTextBox" value="@Model.Milestone_No_Of_Unit" maxlength="3" />
                                                            </li>
                                                            <li class="form_li_sub" style="width: 100px;">
                                                                <label></label>
                                                                <br />
                                                                @Html.DropDownList("Milestone_Unit_Type", (SelectList)ViewBag.Milestone_Unit_Popup, new { @id = "ddlMilestoneUnitType", @class = "form_input chosen-select" })
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <label class="bold small_title">@objMessageKey.Language</label>
                                            <div class="platform_checkbox">
                                                <label class="checkbox-inline">
                                                    @Html.CheckBox("chk_Is_Title_Language_Right", (Model.Is_Title_Language_Right != null && Model.Is_Title_Language_Right == "Y") ? true : false)
                                                    @Html.Hidden("Is_Title_Language_Right")
                                                    @objMessageKey.TitleLanguageRight
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <label class="radio-inline">
                                                <input type="radio" name="rdoSubtitlingLanguage" id="rdoSubSingleHB" onchange="BindDropdown('rdoSubtitlingLanguage');" value="SL" checked />
                                                @objMessageKey.Subtitle
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="rdoSubtitlingLanguage" id="rdoSubGroupHB" value="SG" onchange="BindDropdown('rdoSubtitlingLanguage');" />
                                                @objMessageKey.SubtitleGroup
                                            </label>
                                            <div id="divSubSingleHB">
                                                @Html.ListBox("lb_Sub_Language_Popup", ViewBag.SL_List_Popup as MultiSelectList, new { @onchange = "fillTotal('HLS');" })
                                                @Html.Hidden("hdn_Sub_LanguageList")
                                                @Html.Hidden("hdn_SubTitling_Type")
                                            </div>
                                        </li>
                                        <li>
                                            <label class="radio-inline">
                                                <input type="radio" name="rdoDubbingLanguage" id="rdoDubSingleHB" value="DL" onchange="BindDropdown('rdoDubbingLanguage');" checked />
                                                @objMessageKey.Dubbing
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="rdoDubbingLanguage" id="rdoDubGroupHB" value="DG" onchange="BindDropdown('rdoDubbingLanguage');" />
                                                @objMessageKey.DubbingGroup

                                                @Html.Hidden("hdn_Dubbing_Type")
                                            </label>
                                            <div id="divDubSingleHB">
                                                @Html.ListBox("lb_Dubb_Language_Popup", ViewBag.DL_List_Popup as MultiSelectList, new { @onchange = "fillTotal('HLD');" })
                                                @Html.Hidden("hdn_Dubb_LanguageList")
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="platform_wrapper col-md-6">
                                        <label class="bold small_title" for="platform">@objMessageKey.Platform</label>
                                        <div id="tree2" class="treeClass">
                                            @Html.Partial("_TV_Platform")

                                            <input type="hidden" name="hdnRights_Platform_Code" id="hdnRights_Platform_Code" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="divBlock">
                                        <div class="bold small_title" style="padding-right: 320px;">@objMessageKey.Remarks</div>
                                        <div style="">&nbsp;&nbsp;</div>
                                        <div id="CharNum" class="charNum" style="float: right;">0/4000</div>
                                    </div>
                                    @Html.TextAreaFor(m => Model.Remarks, new { @id = "txtRemarks", @class = "textarea", @onkeypress = "countChar(this)", @onkeyup = "countChar(this)", @maxlength = 4000 })
                                </li>
                            </ul>
                        </div>
                        <div class="modal_block_full">
                            <div class="form_links">
                                <ul class="modal_block clearfix">
                                    <li>
                                        <input type="button" id="btnSave" class="btn btn-primary" value="@objMessageKey.Save" onclick="return Validate_Save_Pushback();" />
                                    </li>
                                    <li>
                                        <a data-dismiss="modal" class="btn-primary" href="#">@objMessageKey.Cancel</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<script>
    $(document).ready(function () {
       // $("#ancFileName").attr('href', 'Help/index.html?IntCode=@Session["FileName"]');
        $("#lblHeader")[0].innerHTML = PushbackText;
        initializeChosen();
        initializeDatepicker();
        initializeDateRange('txtRight_Start_Date', 'txtRight_End_Date');
        if ('@ViewBag.Mode' == "EDIT" || '@ViewBag.Mode' == "CLONE") {
            if ('@Model.Acq_Deal_Pushback_Code' > 0) {
                var Territory_Type = '@Model.Acq_Deal_Pushback_Territory.Select(i => i.Territory_Type).FirstOrDefault()';
                var Platform_Code = '0';
                if ($('input[name=optViewType]:checked').val() != 'D') {
                    Platform_Code = '@string.Join(",", @Model.Acq_Deal_Pushback_Platform.Select(i => i.Platform_Code).Distinct().ToArray())';
                }
                else {
                    Platform_Code = $('#PCODE').val();
                }
                $('#hdnRights_Platform_Code').val(Platform_Code);
                //alert(Platform_Code);
                var txtRemark = document.getElementById('txtRemarks');
                countChar(txtRemark);
                if (Territory_Type == 'G') {
                    $("#rdoCountryHB").prop("checked", false);
                    $("#rdoTerritoryHB").prop("checked", true);
                }
                var SL_Type = '@Model.Acq_Deal_Pushback_Subtitling.Select(i => i.Language_Type).FirstOrDefault()';
                if (SL_Type == 'G') {
                    $("#rdoSubSingleHB").prop("checked", false);
                    $("#rdoSubGroupHB").prop("checked", true);
                }

                var DL_Type = '@Model.Acq_Deal_Pushback_Dubbing.Select(i => i.Language_Type).FirstOrDefault()';
                if (DL_Type == 'G') {
                    $("#rdoDubSingleHB").prop("checked", false);
                    $("#rdoDubGroupHB").prop("checked", true);
                }
                if ($('#Right_Type').val() == 'M') {
                    $($('.tabbable').find('a#liTabYear')).parent().removeClass('active');
                    $('#tabYear.tab-pane').removeClass('active');
                    $($('.tabbable').find('a#liTabMilestone')).parent().addClass('active');
                    $('#tabMilestone.tab-pane').addClass('active');
                }
                if ($('#Right_Type').val() == 'Y') {
                    SetMinDt();
                    SetMaxDt();
                }
            }
        }
        fillTotal('HLS');
        fillTotal('HLD');
    });
    $('#txtYear').change(function () {
        OnFocusLostTerm();
    });
    $('#txtMonth').change(function () {
        OnFocusLostTerm();
    });
    $('#txtDay').change(function () {
        OnFocusLostTerm();
    });
    function SetMaxDt() {
        setMinMaxDates('txtRight_Start_Date', '', $('#txtRight_End_Date').val());
    }

    function SetMinDt() {
        setMinMaxDates('txtRight_End_Date', $('#txtRight_Start_Date').val(), '');
    }

    $('#txtRight_Start_Date').change(function () {
        var txtStartDate = $('#txtRight_Start_Date');
        var txtEndDate = $('#txtRight_End_Date');
        var rightSD = new Date(MakeDateFormate(txtStartDate.val()));
        var rightED = new Date(MakeDateFormate(txtEndDate.val()));
        if (!isNaN(rightSD) && !isNaN(rightED)) {
            rightED.setDate(rightED.getDate() + 1);
            var term = CalculateTerm(rightSD, rightED);
            var arr = term.split('.');
            $('#txtYear').val(arr[0]);
            $('#txtMonth').val(arr[1]);
            $('#txtDay').val(arr[2]);
        }
        SetMinDt();
    });

    $('#txtRight_End_Date').change(function () {
        var txtStartDate = $('#txtRight_Start_Date');
        var txtEndDate = $('#txtRight_End_Date');
        var rightSD = new Date(MakeDateFormate(txtStartDate.val()));
        var rightED = new Date(MakeDateFormate(txtEndDate.val()));
        if (!isNaN(rightSD) && !isNaN(rightED)) {
            rightED.setDate(rightED.getDate() + 1);
            var term = CalculateTerm(rightSD, rightED);
            var arr = term.split('.');
            $('#txtYear').val(arr[0]);
            $('#txtMonth').val(arr[1]);
            $('#txtDay').val(arr[2]);
        }
        SetMaxDt();
    });

    $("#txtMonth").numeric({
        allowMinus: false,
        allowThouSep: false,
        allowDecSep: false,
        maxDigits: 2
    });
    $("#txtDay").numeric({
        allowMinus: false,
        allowThouSep: false,
        allowDecSep: false,
        maxDigits: 2
    });
    $("#txtYear").numeric({
        allowMinus: false,
        allowThouSep: false,
        allowDecSep: false,
        maxDigits: 2
    });
    $("#txtMilestone_No_Of_Unit").numeric({
        allowMinus: false,
        allowThouSep: false,
        allowDecSep: false,
        maxDigits: 3
    });

    function MakeDateFormate(dateInString) {
        if (dateInString != null || dateInString != "") {
            dateInString = dateInString.replace('-', '/');
            dateInString = dateInString.replace('-', '/');
            var array = dateInString.split('/');
            var month = parseFloat(array[1]);
            switch (month) {
                case 1:
                    array[1] = "Jan";
                    break;

                case 2:
                    array[1] = "Feb";
                    break;

                case 3:
                    array[1] = "Mar";
                    break;

                case 4:
                    array[1] = "Apr";
                    break;

                case 5:
                    array[1] = "May";
                    break;

                case 6:
                    array[1] = "Jun";
                    break;

                case 7:
                    array[1] = "Jul";
                    break;

                case 8:
                    array[1] = "Aug";
                    break;

                case 9:
                    array[1] = "Sep";
                    break;

                case 10:
                    array[1] = "Oct";
                    break;

                case 11:
                    array[1] = "Nov";
                    break;

                case 12:
                    array[1] = "Dec";
                    break;
            }
            var format = array[0] + " " + array[1] + " " + array[2];
            return format;
        }
        return "";
    }

    function CalculateTerm(startDate, endDate) {
        debugger;
        var val = CalculateMonthBetweenTwoDate(startDate, endDate);
        var year = val / 12;
        var month = val % 12;

        var day = 0;
        var SDno = startDate.getDate();
        var EDno = endDate.getDate();

        if (EDno > SDno) {
            day = EDno - SDno
        }
        else if (startDate.getMonth() == endDate.getMonth() && startDate.getFullYear() == endDate.getFullYear()) {
            day = CalculateDaysBetweenTwoDates(startDate, endDate);
        }
        else if (SDno == EDno) {
            day = 0;
        }
        else {
            var m = endDate.getMonth(),
                y = endDate.getFullYear();
            var FirstDay = new Date(y, m, 1);
            day = CalculateDaysBetweenTwoDates(FirstDay, endDate);

            startDate.setMonth(startDate.getMonth() + month);
            startDate.setYear(startDate.getYear() + year);

            m = startDate.getMonth(),
                y = startDate.getFullYear();
            var LastDay = new Date(y, m + 1, 1);
            day = day + CalculateDaysBetweenTwoDates(startDate, LastDay);
        }
        var term = parseInt(year) + '.' + month + "." + day;
        return term;
    }
    function CalculateMonthBetweenTwoDate(startDate, endDate) {
        var months = (endDate.getFullYear() - startDate.getFullYear()) * 12;
        months += endDate.getMonth() - startDate.getMonth();
        if (endDate.getDate() < startDate.getDate())
            months--;
        return months;
    }

    function OnFocusLostTerm() {
        var canAssign = true;
        if ($('#chk_Is_Tentative').prop('checked'))
            canAssign = false

        var txtStartDate = $('#txtRight_Start_Date');
        var txtEndDate = $('#txtRight_End_Date');
        var txtTermYear = $('#txtYear');
        var txtTermMonth = $('#txtMonth');
        var txtTermDay = $('#txtDay');

        if (txtTermYear.val() == '' || isNaN(txtTermYear.val()))
            txtTermYear.val('0');
        if (txtTermMonth.val() == '' || isNaN(txtTermMonth.val()))
            txtTermMonth.val('0');
        if (txtTermDay.val() == '' || isNaN(txtTermDay.val()))
            txtTermDay.val('0');

        if (txtStartDate.val() != "") {
            var rightSD = new Date(MakeDateFormate(txtStartDate.val()));
            if (!isNaN(rightSD)) {
                var year = 0;
                var month = 0;
                var day = 0;

                if (txtTermYear.val() != '')
                    year = parseInt(txtTermYear.val());
                if (txtTermMonth.val() != '')
                    month = parseInt(txtTermMonth.val());
                if (txtTermDay.val() != '')
                    day = parseInt(txtTermDay.val());

                if (year > 0 || month > 0 || day > 0) {
                    var newDate = CalculateEndDate(rightSD, year, month, day);
                    if (canAssign) {
                        txtEndDate.val(newDate);
                        SetMaxDt();
                    }
                    else {
                        txtEndDate.val('');
                    }
                }
                else {
                    txtEndDate.val('');
                }
            }
        }
        else if (txtEndDate.val() != "") {
            var rightED = new Date(MakeDateFormate(txtEndDate.val()));
            if (!isNaN(rightED)) {

                var year = 0;
                var month = 0;
                var day = 0;

                if (txtTermYear.val() != '')
                    year = parseInt(txtTermYear.val());
                if (txtTermMonth.val() != '')
                    month = parseInt(txtTermMonth.val());
                if (txtTermDay.val() != '')
                    day = parseInt(txtTermDay.val());

                if (year > 0 || month > 0 || day > 0) {
                    var newDate = CalculateStartDate(rightED, year, month, day);
                    txtStartDate.val(newDate);
                    SetMinDt();
                }
                else {
                    txtStartDate.val('');
                }
            }
        }
        else {
            txtTermYear.val('0');
            txtTermMonth.val('0');
            txtTermDay.val('0');
        }
    }
    function Validate_Save_Pushback() {
        debugger;

        



        $('.required').removeClass('required');
        $("[required='required']").removeAttr("required");
        var IsValid = true;
        $('#hdnCommandName').val('SAVE');
        $('#hdnRight_Start_Date').val($('#txtRight_Start_Date').val());
        $('#hdnRight_End_Date').val($('#txtRight_End_Date').val());

        if ($("#lbTitle_Popup").val() == null) {
            $("#divlbTitle_Popup").addClass("required");
            //showAlert('E', 'Please select atleast one title');
            IsValid = false;
        }
        var Selected_Right_Type_Tab = $('#ulRightType > li.active a').attr('id');
        if (Selected_Right_Type_Tab == 'liTabYear') {
            var txtRightStartDate = $("#txtRight_Start_Date").val();
            var txtRightEndDate = $("#txtRight_End_Date").val();
            var txtYear = $('#txtYear').val();
            var txtMonth = $('#txtMonth').val();
            var txtDay = $('#txtDay').val();
            if ((txtRightStartDate == null || txtRightStartDate == '' || txtRightStartDate == undefined)) {
                $("#txtRight_Start_Date").attr('required', true);
                //showAlert('E', 'Please select Start date');
                IsValid = false;
            }
            if ((txtRightEndDate == null || txtRightEndDate == '' || txtRightEndDate == undefined) && !($('#chk_Is_Tentative').prop('checked'))) {
                $("#txtRight_End_Date").attr('required', true);
                //showAlert('E', 'Please select End date');
                IsValid = false;
            }
            if (($('#chk_Is_Tentative').prop('checked')) && (txtYear == null || txtYear == '0' || txtYear == undefined || txtYear == '') && (txtMonth == null || txtMonth == '0' || txtMonth == undefined || txtMonth == '')
                && (txtDay == null || txtDay == '0' || txtDay == undefined || txtDay == '')
            ) {
                $("#txtYear").addClass('required');
                $("#txtMonth").addClass('required');
                $("#txtDay").addClass('required');
                //showAlert('E', 'Please enter valid Term');
                IsValid = false;
            }
            else {
                $("#txtYear").removeClass('required');
                $("#txtMonth").removeClass('required');
                $("#txtDay").removeClass('required');
            }

            if (IsValid) {
                var rightSD = new Date(MakeDateFormate(txtRightStartDate));
                var rightED = new Date(MakeDateFormate(txtRightEndDate));
                rightED.setDate(rightED.getDate() + 1)

                var term = CalculateTerm(rightSD, rightED);
                var arr = term.split('.');
                $('#Term_YY').val(arr[0]);
                $('#Term_MM').val(arr[1]);
                $('#Term_DD').val(arr[2]);
            }
        }
        if (Selected_Right_Type_Tab == 'liTabMilestone') {
            var selectedVal = $("#ddlMilestoneUnitType option:selected").text();
            if ($('#txtMilestone_No_Of_Unit').val() == '') {
                $("#txtMilestone_No_Of_Unit").attr('required', true);
                //showAlert('E', "Please enter no of " + selectedVal.toLowerCase());
                IsValid = false;
            }
        }
        if ($("#hdnRights_Platform_Code").val() == null || $("#hdnRights_Platform_Code").val() == '') {
            $('#Rights_Platform').addClass('required');
            //showAlert('E', 'Please select atleast one platform');
            IsValid = false;
        }
        else
            $('#Rights_Platform').removeClass('required');
        if ($("#lbTerritory_Popup").val() == null) {
            $("#divCountryHB").addClass('required');
            //showAlert('E', 'Please select atleast one region');
            IsValid = false;
        }
        if (IsValid) {

            var noOfUnit = parseInt($('#txtMilestone_No_Of_Unit').val());
            if (noOfUnit <= 0) {
                showAlert('E', "No of " + selectedVal.toLowerCase() + " should be greater than 0");
                return false;
            }

            if ($("#lb_Sub_Language_Popup").val() == null && $("#lb_Dubb_Language_Popup").val() == null && !($('#chk_Is_Title_Language_Right').prop('checked'))) {
                showAlert('E', '@objMessageKey.Pleaseselectatleasttitlelanguageoronesubtitlingoronedubbing');
                return false;
            }

            showLoading();
            if (Selected_Right_Type_Tab == 'liTabYear')
                $('#Right_Type').val('Y');
            else
                $('#Right_Type').val('M');
            $('#Is_Tentative').val('N');
            $('#Is_Title_Language_Right').val('N');
            if ($('#chk_Is_Tentative').prop('checked')) $('#Is_Tentative').val('Y');
            if ($('#chk_Is_Title_Language_Right').prop('checked')) $('#Is_Title_Language_Right').val('Y');
            $('#hdnTerritory_Type').val($('input[name=rdoTerritoryType]:radio:checked').val());
            $('#hdn_Dubbing_Type').val($('input[name=rdoDubbingLanguage]:radio:checked').val());
            $('#hdn_SubTitling_Type').val($('input[name=rdoSubtitlingLanguage]:radio:checked').val());
            $('#hdnTitleList').val($("#lbTitle_Popup").val().join(","));
            $('#hdnTerritoryList').val($("#lbTerritory_Popup").val().join(","));
            var arr = $("#lb_Dubb_Language_Popup").val();
            $('#hdn_Dubb_LanguageList').val
                (
                    $("#lb_Dubb_Language_Popup").val() == null ? ''
                        : $("#lb_Dubb_Language_Popup").val().join(",")
                );
            $('#hdn_Sub_LanguageList').val
                ($("#lb_Sub_Language_Popup").val() == null ? ''
                    : $("#lb_Sub_Language_Popup").val().join(",")
                );

            var formData = $("#frm_Save_Pushback").serializeArray();
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action("Save_Pushback", "Acq_Pushback")',
                data: formData,         
                async: false,
                success: function (result) {
                    if (result == "true") {
                        redirectToLogin();
                    }
                    hideLoading();
                    if (result.Status == "U" || result.Status == "A") {
                        $('#popEditRevHB').modal('hide');

                        var msg = result.Status == "A" ? PushbackText + " saved successfully" : PushbackText + " updated successfully";
                        showAlert("S", msg);
                        var Pushback_PageNo = 0;
                        if ($('#hdnCurrentPageNo').val() != undefined && $('#hdnCurrentPageNo').val() != '')
                            Pushback_PageNo = $('#hdnCurrentPageNo').val();
                        var page_Index = parseInt(Pushback_PageNo) - 1;
                        var rd_value = $('input[name=optViewType]:checked').val();
                        Bind_Grid(rd_value, page_Index, 'N');
                        BindRightsFilterData();
                        // showAlert("I", msg, "OK");
                    }
                },
                error: function (result) {
                    alert('Error Validate_Save_Pushback: ' + result.responseText);
                }
            });
        }
        else
            return IsValid;
    }
    $("#chk_Is_Tentative").change(function () {
        $("#txtRight_End_Date").val('');
        if ($('#chk_Is_Tentative').is(':checked')) {
            $("#txtRight_End_Date").prop('disabled', true);
        }
        else {
            OnFocusLostTerm();
            $("#txtRight_End_Date").attr("disabled", false);
        }
    });

    function CalculateEndDate(startDate, year, month, days) {
        debugger;
        var yearToMonth = 12 * year;
        month = month + yearToMonth;
        startDate.setMonth(startDate.getMonth() + month);
        startDate.setDate(startDate.getDate() + days);
        startDate.setDate(startDate.getDate() - 1);
        var newDateStr = ConvertDateToCurrentFormat(startDate);
        return newDateStr;
    }
    function CalculateStartDate(startDate, year, month, days) {
        debugger;
        var yearToMonth = 12 * year;
        month = month + yearToMonth;
        startDate.setMonth(startDate.getMonth() - month);
        startDate.setDate(startDate.getDate() - days);
        startDate.setDate(startDate.getDate() + 1);
        var newDateStr = ConvertDateToCurrentFormat(startDate);
        return newDateStr;
    }

    function ConvertDateToCurrentFormat(objDate) {
        var dd = objDate.getDate();
        var mm = objDate.getMonth() + 1; //January is 0!
        var yyyy = objDate.getFullYear();

        if (dd < 10)
            dd = '0' + dd

        if (mm < 10)
            mm = '0' + mm

        var newDate = dd + '/' + mm + '/' + yyyy;
        return newDate;
    }
    function CalculateDaysBetweenTwoDates(startDate, endDate) {
        var oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
        var diffDays = Math.round(Math.abs((startDate.getTime() - endDate.getTime()) / (oneDay)))
        return diffDays;
    }
    function ChangeRightType(obj) {
        if (obj == 'Year') {
            $('#txtMilestone_No_Of_Unit').removeAttr('required');
            $('#txtMilestone_No_Of_Unit').val('');
            $("select#Milestone_Type_Code.form_input.chosen-select").val('1').trigger('chosen:updated');
            $("select#ddlMilestoneUnitType.form_input.chosen-select").val('1').trigger('chosen:updated');
        }
        else
            if (obj == 'Milestone') {
                $("#txtRight_Start_Date").removeAttr('required');
                $("#txtRight_End_Date").removeAttr('required');
                $("#txtYear").removeClass('required');
                $("#txtMonth").removeClass('required');
                $("#txtDay").removeClass('required');
                $("#txtRight_End_Date").removeAttr('disabled');
                $("#txtRight_Start_Date").val('');
                $("#txtRight_End_Date").val('');
                $("#txtYear").val('0');
                $("#txtMonth").val('0');
                $("#txtDay").val('0');
                $('#chk_Is_Tentative').prop("checked", false);
                $('#Is_Tentative').val('N')
            }
    }
</script>
