@model ICollection<RightsU_Entities.Acq_Deal_Payment_Terms>
@using UTOFrameWork.FrameworkClasses;
@{
    RightsU_Entities.Deal_Schema objSchema = new RightsU_Entities.Deal_Schema();
    if (Session[RightsU_Entities.RightsU_Session.ACQ_DEAL_SCHEMA] != null)
    {
        objSchema = (RightsU_Entities.Deal_Schema)Session[RightsU_Entities.RightsU_Session.ACQ_DEAL_SCHEMA];
    }
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}
<script type="text/javascript">
    var IsAddEditMode="N";
    var PaymentIntCode = 0;
    var canSave=0;
    var MessageFrom = '';

    var dealMode_G = '@ViewBag.PageMode';
    var message_G = '@ViewBag.Message';
    var recordLockingCode_G = @ViewBag.Record_Locking_Code;
    var CostTypeCode_G = 0;
    var Acq_Deal_Payment_Terms_Code_G = 0;
    var deal = "";
    var URL_Global_Refresh_Lock = '@Url.Action("Refresh_Lock", "Global", null, Request.Url.Scheme)'
    var URL_Index = '@Url.Action("Index", "Acq_List")';
    var URL_Cancel = '@Url.Action("Cancel", "Acq_Payment_Term")';
    var URL_Delete = '@Url.Action("Delete", "Acq_Payment_Term")';
    var URL_Global_SetApprovalRemarks = '@Url.Action("SetApprovalRemarks", "Global")';
    var URL_Create = '@Url.Action("Create", "Acq_Payment_Term")';
    var URL_BindGridAcqPaymentTerms = '@Url.Action("BindGridAcqPaymentTerms", "Acq_Payment_Term")';
    var URL_Edit = '@Url.Action("Edit", "Acq_Payment_Term")';
    var URL_SavePaymentTerms = '@Url.Action("SavePaymentTerms", "Acq_Payment_Term")'
    var URL_AddPaymentTerm = '@Url.Action("Save_Payment_Term", "Acq_Payment_Term")';

    $(document).ready(function () {
        setChosenWidth("#Payment_Term_Code","85%");
        setChosenWidth("#Cost_Type_Code","40%");

        if(message_G != '')
            showAlert('E',message_G);

        $("#Days_After").numeric({
            allowMinus   : false,
            allowThouSep : false,
            allowDecSep  : false
        });

        var Percentage = $(this).find("input[id*='Percentage']");
        Percentage.numeric({
            allowMinus   : false,
            allowThouSep : false,
            allowDecSep  : true,
            maxDecimalPlaces : 3
        });

        if(dealMode_G !="V" && dealMode_G != "APRV" && dealMode_G != "EWOA")
        {
            var txtRemark = document.getElementById('Payment_Terms_Conditions');
            countChar(txtRemark);
        }

        LoadAcqDealPayment(0,'Y');
        if (recordLockingCode_G > 0)
            Call_RefreshRecordReleaseTime(recordLockingCode_G, URL_Global_Refresh_Lock);
    });


    function AddPaymentTerm() {
        $("#Payment_Term_Name").val('');
        $("#popAddPaymentTerm").modal();
    }

    function validate() {
        $('.required').removeClass('required');
        $("[required='required']").removeAttr("required");

        var Payment_Term_Name = $.trim($("#Payment_Term_Name").val());
        if (Payment_Term_Name == "") {
            $("#Payment_Term_Name").val('');
            $("#Payment_Term_Name").attr('required', true);
            return false;
        }

        $.ajax({
            type: "POST",
            url: URL_AddPaymentTerm,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                Payment_Term_Name: Payment_Term_Name
            }),
            success: function (result) {

                if (result.Status == "S") {
                    showAlert("S", result.Message);
                    $("#popAddPaymentTerm").modal('hide');
                    $('#ddl_Payment_Term_Code').append("<option selected='selected' value=" + result.Value + ">" + result.Text + "</option>");
                    $('#ddl_Payment_Term_Code').trigger("chosen:updated");

                }
                else {
                    showAlert("E", result.Message);
                    ("#popAddPaymentTerm").modal();
                }
            },
            error: function (result) { }
        });
    }



    function CheckEditMode(){
        if(IsAddEditMode == 'Y'){
            message = '@objMessageKey.PleasecompletetheAddEditfirst.';
            showAlert('E',message);
            return false;
        }
        else{
            return true;
        }
    }
    function validatePercentOnEdit(Percentage, CostType, Payment_Term_Code)
    {
        debugger;
        var CurrentAmount = $("#txt_Percentage").val();
        var totalSumPercent = 0;
        var tempSumPercent = 0;
        var valtxtFPercent = 0;
        var valddlFCostType = 0;
        var valddlFPaymentTerm = 0;
        var tCount = 0;
        var PaymentTermName = '';
        var rowNum;
        var txtFPercent = $("#txt_Percentage");
        var ddlFCostType = $("#ddl_Cost_Type_Code");
        var Payment_Term_Code = $("#ddl_Payment_Term_Code");

        if (txtFPercent != null) {
            if (txtFPercent.value != "")
                valtxtFPercent = txtFPercent.val();
        }

        if (ddlFCostType != null)
            valddlFCostType = ddlFCostType.val();

        if (Payment_Term_Code != null)
            valddlFPaymentTerm = Payment_Term_Code.val();

        $("#TableMain tr:not(:has(th))").each(function () {
            var Payment_Terms_Code = $(this).find("label[id*='Payment_Terms_Code_Edit']").text();
            var Cost_Type_Code = $(this).find("label[id*='Cost_Type_Code_Edit']").text();
            var Percentage =  $(this).find("label[id*='Percentage_Edit']").text();
            debugger
            if(Payment_Terms_Code!=null && Cost_Type_Code!=null && Percentage!=null)
            {
                if(Payment_Terms_Code == valddlFPaymentTerm && Cost_Type_Code == valddlFCostType)
                {
                    tempSumPercent =  parseFloat( tempSumPercent)+ parseFloat(Percentage);
                }
                else if(Cost_Type_Code == valddlFCostType)
                {
                    tempSumPercent =  parseFloat( tempSumPercent)+ parseFloat(Percentage);
                }
            }
        });

        if( parseFloat(  tempSumPercent)>0)
        {
            totalSumPercent =  parseFloat(CurrentAmount)+ parseFloat(tempSumPercent);
        }
        else
            totalSumPercent =  parseFloat(CurrentAmount);

        if (parseFloat(totalSumPercent) > 100) {
            $("#txt_Percentage").val('');
            $('#txt_Percentage').focus();
            showAlert('E',"@objMessageKey.SumofPercentageshouldbeequalorlessthan100");
            return false;
        }

        if (parseFloat(CurrentAmount) == 0) {
            $("#txt_Percentage").val('');
            $('#txt_Percentage').focus();
            showAlert('E',"@objMessageKey.Percentageshouldbegreaterthanzero");
            return false;
        }
    }
    function validatePercent(Percentage, Amount, CostType, Payment_Term_Code, NewRow) {
        debugger;
        canSave=0;
        //"Sum of percentage should be less than or equal to 100"
       var i = 1;
        var CurrentAmount = $(Percentage).val();
        var CurrentAmt = $(Amount).val();
        var totalSumPercent = 0;
        var totalSumAmount = 0;
        var tempSumPercent = 0;
        var tempSumAmount = 0;
        var valtxtFPercent = 0;
        var valddlFCostType = 0;
        var valddlFPaymentTerm = 0;
        var tCount = 0;
        var PaymentTermName = '';
        var rowNum;
        var txtFPercent =  $(Percentage);
        var ddlFCostType =  $(CostType);
        var Payment_Term_Code = $(Payment_Term_Code);
        

        if (txtFPercent != null) {
            if (txtFPercent.value != "")
                valtxtFPercent = txtFPercent.val();
        }

        if (ddlFCostType != null)
        {
            valddlFCostType = ddlFCostType.val();
        }

        if (Payment_Term_Code != null)
            valddlFPaymentTerm = Payment_Term_Code.val();


        $("#TableMain tr:not(:has(th))").each(function () {
            debugger;
            var Payment_Terms_Code = $(this).find("label[id*='Payment_Terms_Code']").text();
            var Cost_Type_Code = $(this).find("label[id*='Cost_Type_Code']").text();
            var Percentage = $(this).find("label[id*='Percentage']").text();
            var Amount = $(this).find("label[id*='Amount']").text();
            debugger
            if (Payment_Terms_Code != null && Cost_Type_Code != null && Percentage != null && Amount != null)
            {debugger
                if(Payment_Terms_Code == valddlFPaymentTerm && Cost_Type_Code == valddlFCostType)
                {
                    tempSumPercent = parseFloat(tempSumPercent) + parseFloat(Percentage);
                    tempSumAmount = parseFloat(tempSumAmount) + parseFloat(Amount);
                }
                else if(Cost_Type_Code == valddlFCostType)
                {
                    tempSumPercent = parseFloat(tempSumPercent) + parseFloat(Percentage);
                    tempSumAmount = parseFloat(tempSumAmount) + parseFloat(Amount);
                }
            }
        });

        if( parseFloat(  tempSumPercent)>0)
        {
            totalSumPercent =  parseFloat(CurrentAmount)+ parseFloat(tempSumPercent);
        }
        else
            totalSumPercent = parseFloat(CurrentAmount);

        if (parseFloat(tempSumAmount) > 0) {
            totalSumAmount = parseFloat(CurrentAmt) + parseFloat(tempSumAmount);
        }
        else
            totalSumAmount = parseFloat(CurrentAmt);

        if (NewRow == 1) {
            if (parseFloat(totalSumPercent) > 100) {
                $("#txtPercentageSR_" + i).val('');
                $('#txtPercentageSR_' + i).focus();
                showAlert('E', "@objMessageKey.SumofPercentageshouldbeequalorlessthan100");
                canSave = 1;
                return false;
            }
        }
        else {
            if (parseFloat(totalSumPercent) > 100) {
             $("#txtPercentageSR_0").val('');
             $('#txtPercentageSR_0').focus();
             showAlert('E',"@objMessageKey.SumofPercentageshouldbeequalorlessthan100");
             canSave=1;
             return false;
             }
        }
       
      


    }
    function checkForsave(NewRow) {
        debugger;
        $('.required').removeClass('required');
        var i = 1;
        var returnVal = true;
        var tmp_ValidateCostType = 0;
        var Acq_Deal_Payment_Terms_Code = 0
        if (NewRow == 1) {
            var deal = "E";
            Acq_Deal_Payment_Terms_Code = $("#Acq_Deal_Payment_Terms_Code").val();
            var Cost_Type_Code1 = $('#ddl_Cost_Type_Code_' + i).val();
            var Percentage1 = $('#txtPercentageSR_' + i).val();
            var Amount1 = $('#txtAmountSR_' + i).val();
            Acq_Deal_Payment_Terms_Code_G = Acq_Deal_Payment_Terms_Code;
            CostTypeEDIT();
            var AmtNew = $('#hdn_BudgetedAmt_' + i).val();
            var CTCODE = $('#hdn_CostTypeCode_' + i).val();
            CostTypeCode_G = CTCODE;
        }
        else {
            Acq_Deal_Payment_Terms_Code_G = 0;
            var Cost_Type_Code1 = $('#ddl_Cost_Type_Code_0').val();
            var Percentage1 = $('#txtPercentageSR_0').val();
            var Amount1 = $('#txtAmountSR_0').val();
            CostTypeADD();
            var AmtNew = $('#hdn_BudgetedAmt_0').val();
            var CTCODE = $('#hdn_CostTypeCode_0').val();
            CostTypeCode_G = CTCODE;
            var deal = "A";
        }
        var Payment_Term_Code = $("#ddl_Payment_Term_Code").val();
        var Due_Date=$('#Due_Date').val();

        var Days_After1=$('#txt_Days_After').val();

        if (Payment_Term_Code == "0") {
            $("#ddl_Payment_Term_Code").addClass('required');
            $('#ddl_Payment_Term_Code').focus();
            canSave=1;
            returnVal = false;
        }
        if (Days_After1 == "") {
            $('#txt_Days_After').attr('required', true);
            $('#txt_Days_After').focus();
            canSave=1;
            returnVal = false;
        }
        if (Percentage1 == "") {
            $('#txtPercentageSR_0').attr('required', true);
            $('#txtPercentageSR_0').focus();
            canSave=1;
            returnVal = false;
        }
        if (Amount1 == "") {
            $('#txtAmountSR_0').attr('required', true);
            $('#txtAmountSR_0').focus();
            canSave = 1;
            returnVal = false;
        }

        if( parseFloat( Percentage1) == "0")
        {
            showAlert('E','@objMessageKey.PercentageamountshouldbegreaterthanZero');
            $("#txtPercentageSR_0").val('');
            $('#txtPercentageSR_0').focus();
            canSave=1;
            returnVal = false;
        }
        if (parseFloat(Amount1) == "0")
        {
            showAlert('E','Amount Should Be Greater Than Zero');
            $("#txtAmountSR_0").val('');
            $('#txtAmountSR_0').focus();
            canSave=1;
            returnVal = false;
        }

        if (parseFloat(Percentage1) > 100) {
            $("#txtPercentageSR_0").val('');
            $('#txtPercentageSR_0').focus();
            showAlert('E',"@objMessageKey.SumofPercentageshouldbeequalorlessthan100");
            canSave=1;
            return false;
        }
        if (parseFloat(AmtNew) < parseFloat(Amount1)) {
            showAlert('E', 'Sum of cost should not exceed cost type amount defined');
            return false;
             canSave=1;
        }
        if (Cost_Type_Code1 == "0") {
            $('#ddl_Cost_Type_Code_0').addClass('required');
            $('#ddl_Cost_Type_Code_0').focus();
            canSave=1;
            returnVal = false;
        }


        if(returnVal)
        {
            if (NewRow == 1) {
                validatePercent($("#txtPercentageSR_" + i), $("#txtAmountSR_" + i), $("#ddl_Cost_Type_Code_" + i), $("#ddl_Payment_Term_Code"), 1);
            }
            else {
                validatePercent($("#txtPercentageSR_0"), $("#txtAmountSR_0") ,$("#ddl_Cost_Type_Code_0"), $("#ddl_Payment_Term_Code"), 0);
            }
            
        }
        returnVal =  ChkDuplicatePaymentTerm();
        if(canSave==0)
        {
            showLoading();
            SavePaymentTerms(Acq_Deal_Payment_Terms_Code, Payment_Term_Code, Cost_Type_Code1, Percentage1, Amount1, Days_After1, Due_Date)
            hideLoading();
        }
        return returnVal;
    }

    function ChkDuplicatePaymentTerm() {
        debugger;
        var ISDuplicate = "";
        var Payment_Term_Code = $("#ddl_Payment_Term_Code").val();
             $.ajax({
                        type: "POST",
                        url: '@Url.Action("ValidateIsDuplicate", "Acq_Payment_Term")',
                        traditional: true,
                        enctype: 'multipart/form-data',
                        async: false,
                         data: JSON.stringify({
                             Acq_Deal_Payment_Term_Code : Acq_Deal_Payment_Terms_Code_G,
                            PaymentTermCode: Payment_Term_Code,
                            CostTypeCode: CostTypeCode_G
                        }),
                        contentType: "application/json; charset=utf-8",
                          success: function (result) {
                     debugger;
                            if (result.Message != "") {
                                ISDuplicate = result.Message;
                                showAlert("E", ISDuplicate);
                                canSave = 1;
                                return false;
                            }
                        },
                        error: function (result) {
                        }
                    });
    }

    function OnDeleteClick(Acq_Deal_Payment_Terms_Code)
    {
        if(CheckEditMode())
        {
            PaymentIntCode = Acq_Deal_Payment_Terms_Code;
            $('#hdn_Command_Name').val('DELETE');
            showAlert("I","@objMessageKey.Areyousureyouwanttodeletethispaymentterm? ","OKCANCEL");
        }
    }
    function CancelSaveDeal() {
        $('#hdn_Command_Name').val('CANCEL_SAVE_DEAL');
        showAlert("I", '@objMessageKey.AllUnsavedDataWillBeLostStillWantToGoAhead?', "OKCANCEL");
    }
    function handleOk() {
        if (MessageFrom == 'SV') {
            if ($('#hdnTabName').val() == '') {
                $('#hdn_Command_Name').val('');
                window.location.href = URL_Index;
            }
        }
        if ($('#hdn_Command_Name').val() != undefined && $('#hdn_Command_Name').val() != '' && $('#hdn_Command_Name').val() == "CANCEL_SAVE_DEAL") {
            location.href = URL_Cancel;
        } else if ($('#hdn_Command_Name').val() != undefined && $('#hdn_Command_Name').val() != '' && $('#hdn_Command_Name').val() == "DELETE") {
            DeletePaymentTerm();
        }
    }
    function handleCancel() {
        return false;
    }
    function DeletePaymentTerm()
    {
        showLoading();

        $.ajax({
            type: "POST",
            url: URL_Delete,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            data: JSON.stringify({
                Acq_Deal_Payment_Terms_Code: PaymentIntCode
            }),
            success: function (result) {
                if (result == "true")
                {
                    redirectToLogin();
                }
                else{
                    hideLoading();
                    initializeTooltip();
                    $('#dvDealAcqPaymentList').html(result);
                    showAlert('S', "Payment Term  deleted successfully");
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
            }
        });

    }
    function OnFinalSaveClick()
    {

        if (!clickedOnTab) {
            if ($(event.target).val().toUpperCase() == "SAVE & APPROVE") {
                $('input[name=hdnReopenMode]').val('RO');
            }
            else {
                $('input[name=hdnReopenMode]').val('E');
            }
        }
        else {
            $('input[name=hdnReopenMode]').val('E');
        }

        var Isvalid = true;
        if(CheckEditMode())
        {
            $("#HdnPaymentTermRemark").val($("#Payment_Terms_Conditions").val());
        }
        else
        {
            Isvalid=false;
        }
        return Isvalid;
    }
    function ValidateSave() {
        if(CheckEditMode())
        {
            hideLoading();
            var Isvalid = true;
            $("#HdnPaymentTermRemark").val($("#Payment_Terms_Conditions").val());
            // Code for Maintaining approval remarks in session
            if (dealMode_G == 'APRV') {
                var approvalremarks = $('#approvalremarks').val();
                $.ajax({
                    type: "POST",
                    url: URL_Global_SetApprovalRemarks,
                    traditional: true,
                    enctype: 'multipart/form-data',
                    contentType: "application/json; charset=utf-8",
                    async: true,
                    data: JSON.stringify({
                        approvalremarks: $('#approvalremarks').val()
                    }),
                    success: function (result) {
                        if (result == "true")
                        {
                            redirectToLogin();
                        }
                        else{
                            Isvalid = true;
                        }
                    },
                    error: function (result) {
                        Isvalid = false;
                    }
                });
            }
            else
                Isvalid = true;

            if (Isvalid) {
                if (dealMode_G == dealMode_View || dealMode_G == dealMode_Approve || dealMode_G == dealMode_EditWOA) {
                    hideLoading();
                    var tabName = $('#hdnTabName').val();
                    BindPartialTabs(tabName);
                }
            }
            hideLoading();
            //Code end for approval
            return Isvalid;
        }
    }
    function AddCancelPaymentTerms(isAdd) {
        if (isAdd == "0" || (CheckEditMode() && isAdd == "1")) {
            showLoading();
            if(isAdd == "0")
                IsAddEditMode="N";
            else
                IsAddEditMode="Y";
            $.ajax({
                type: "POST",
                url: URL_Create,
                traditional: true,
                enctype: 'multipart/form-data',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                data: JSON.stringify({
                    isAdd: isAdd
                }),
                success: function (result) {
                    if (result == "true")
                    {
                        redirectToLogin();
                    }
                    else{
                        $('#dvDealAcqPaymentList').html(result);
                        initializeChosen();
                        initializeDatepicker();
                        initializeTooltip();
                        hideLoading();
                        $(".numberDaysText").numeric({
                            allowMinus   : false,
                            allowThouSep : false,
                            allowDecSep  : false
                        });

                        $('.numberText').numeric({
                            allowMinus   : false,
                            allowThouSep : false,
                            allowDecSep  : true,
                            maxDecimalPlaces : 3
                        });
                    }
                },
                error: function (result) {
                    alert('Error: ' + result.responseText);
                }
            });
        }
    }
    function LoadAcqDealPayment(pagenumber,isLoad) {
        showLoading();
        var txtPageSize=10;

        if(isLoad=="N")
        {
            if($('#txtPageSize')!=null || $('#txtPageSize')!='')
                txtPageSize=parseInt($('#txtPageSize').val());
        }
        $.ajax({
            type: "POST",
            url: URL_BindGridAcqPaymentTerms,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            data: JSON.stringify({
                txtPageSize: txtPageSize,
                page_No: pagenumber
            }),
            success: function (result) {
                if (result == "true")
                {
                    redirectToLogin();
                }
                else{
                    $('#dvDealAcqPaymentList').html(result);
                    hideLoading();
                    initializeTooltip();
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
            }
        });
    }
    function EditPaymentTerm(Acq_Deal_Payment_Terms_Code) {
        if (CheckEditMode()) {
            IsAddEditMode="Y";
            $.ajax({
                type: "POST",
                url: URL_Edit,
                traditional: true,
                enctype: 'multipart/form-data',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                data: JSON.stringify({
                    Acq_Deal_Payment_Terms_Code: Acq_Deal_Payment_Terms_Code
                }),
                success: function (result) {
                    if (result == "true")
                    {
                        redirectToLogin();
                    }
                    else{
                        $('#dvDealAcqPaymentList').html(result);
                        initializeChosen();
                        initializeDatepicker();
                        initializeTooltip();
                        $(".numberDaysText").numeric({
                            allowMinus   : false,
                            allowThouSep : false,
                            allowDecSep  : false
                        });

                        $('.numberText').numeric({
                            allowMinus   : false,
                            allowThouSep : false,
                            allowDecSep  : true,
                            maxDecimalPlaces : 3
                        });
                    }
                },
                error: function (result) {
                    alert('Error: ' + result.responseText);
                }
            });
        }
    }
    function SavePaymentTerms(Acq_Deal_Payment_Terms_Code,Payment_Term_Code,Cost_Type_Code,Percentage,Amount,Days_After,Due_Date)
    {
        debugger;
        IsAddEditMode="N";
        showLoading();
        $.ajax({
            type: "POST",
            url: URL_SavePaymentTerms,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async:false,
            data: JSON.stringify({
                Acq_Deal_Payment_Terms_Code: Acq_Deal_Payment_Terms_Code,
                Payment_Term_Code: Payment_Term_Code,
                Cost_Type_Code: Cost_Type_Code,
                Percentage: Percentage,
                Amount: Amount,
                Days_After:Days_After,
                Due_Date:Due_Date
            }),
            success: function (result) {
                if (result == "true")
                {
                    redirectToLogin();
                }
                else{
                    hideLoading();
                    initializeTooltip();
                    $('#dvDealAcqPaymentList').html(result);
                    var strMessage="@objMessageKey.PaymentTermaddedsuccessfully";
                    if(Acq_Deal_Payment_Terms_Code>0)
                        strMessage="@objMessageKey.PaymentTermupdatedsuccessfully";
                    showAlert('S', strMessage);
                    var IsAddEditMode="N";
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
            }
        });
    }
    function ClearHidden() {
        if (!clickedOnTab) {
            $("#hdnTabName").val('');
        }
    }
    function Save_Success(message) {
        hideLoading();
        if (message == "true") {
            redirectToLogin();
        }
        else{
            if (message.Success_Message != "") {
                MessageFrom = "SV"
                showAlert('S', message.Success_Message, 'OK');
            }
            else {
                var tabName = $('#hdnTabName').val();
                BindPartialTabs(tabName);
            }
        }

        if(message.Status == "SA")
        {
            $.ajax({
                type: "POST",
                url: URL_Approve_Reject_Reopen,
                traditional: true,
                enctype: 'multipart/form-data',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    user_Action: 'A',
                    approvalremarks: ''//$('#txtRemark').val()
                }),
                async: false,
                success: function (data) { }
            });
        }

    }
</script>
<style>
    #ddl_Payment_Term_Code_chosen {
        width: 292px !important;
    }
</style>
<script>
    $('.expand_Payment_Terms_Conditions').expander({
        slicePoint: 520,
        expandPrefix: '',
        expandText: '...@objMessageKey.readmore',
        collapseTimer: 0,
        userCollapseText: '<span>[^]</span>'
    });
</script>
@using (Ajax.BeginForm("ChangeTab", "Acq_Payment_Term", new AjaxOptions { OnSuccess = "Save_Success" }))
{
    @Html.Hidden("HdnPaymentTermRemark")
    @Html.Hidden("hdn_Command_Name")
    <div class="grid_area">
        <div class="navigation_tabs">
            <div class="tabbable">
                <div class="tab-content clearfix table-wrapper scale_table_container acq">
                    <div class="tab-pane active" id="tabPayTerm">
                        <div class="scale_table_block">
                            <div class="sub_block clearfix">
                                <div class="pull-right">
                                </div>
                            </div>
                            <div class="scale_table_block" id="dvDealAcqPaymentList">
                            </div>
                            <br>
                            <div>
                                <span class="remarks">@objMessageKey.PaymentTermsandConditions:</span>
                                @if (ViewBag.PageMode != "V" && ViewBag.PageMode != "APRV" && ViewBag.PageMode != GlobalParams.DEAL_MODE_EDIT_WO_APPROVAL)
                                {
                                    <textarea name="@objMessageKey.PaymentTermsandConditions" id="Payment_Terms_Conditions" style="margin-left:5px;" class="textarea" onkeypress="countChar(this)" onkeyup="countChar(this)">@ViewBag.Remark</textarea>
                                    <div class="divBlock">
                                        <div id="CharNum" class="charNum">4000</div>
                                    </div>
                                }
                                else
                                {
                                    <br />
                                    <div class="expand_Payment_Terms_Conditions" style="margin-left:5px;">
                                        @Html.Raw(ViewBag.Remark.Replace("\r\n", "<br/>").Replace("\n", "<br/>"))<br /><br /><br /><br />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @if (objSchema.Mode == GlobalParams.DEAL_MODE_EDIT_WO_APPROVAL)
                    {
                        @Html.Partial("_Edit_Without_Approval")
                    }
                    @if (ViewBag.PageMode == "APRV")
                    {
                        @Html.Partial("_Approved_List")
                    }
                    else if (objSchema.Mode != GlobalParams.DEAL_MODE_EDIT_WO_APPROVAL)
                    {

                        <div class="bottom_action">

                            @Html.Hidden("HdnRemark")
                            <ul class="form_link_nav clearfix">
                                @if (ViewBag.PageMode != "V" && ViewBag.PageMode != "APRV")
                                {
                                    <li>
                                        <input type="submit" id="btnSaveDeal" title="@objMessageKey.Save" value="@objMessageKey.Save" class="btn btn-primary" onclick="ClearHidden(); return OnFinalSaveClick();" />
                                        <input type="hidden" id="hdnReopenMode" name="hdnReopenMode" value="E" />
                                    </li>
                                    if (objSchema.Deal_Workflow_Flag == GlobalParams.DEAL_MODE_REOPEN || objSchema.Mode == GlobalParams.DEAL_MODE_REOPEN)
                                    {
                                        <li>
                                            <input type="submit" id="btnSaveApproveDeal" title="@objMessageKey.SaveApprove" value="@objMessageKey.SaveApprove" class="btn btn-primary" onclick="ClearHidden(); return OnFinalSaveClick();" />
                                        </li>
                                    }
                                    <li>
                                        <input type="button" id="btnCancelDeal" title="@objMessageKey.Cancel" class="btn btn-primary" value="@objMessageKey.Cancel"
                                               onclick="if(CheckEditMode()) CancelSaveDeal()">
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <input type="button" id="btnCancel_Deal" title="@objMessageKey.Cancel" class="btn btn-primary" value="@objMessageKey.Cancel"
                                               onclick="if(CheckEditMode()) location.href='@Url.Action("Cancel", "Acq_Payment_Term" ) '">
                                    </li>
                                }
                            </ul>

                        </div>
                    }
                    <input type="hidden" id="hdnTabName" name="hdnTabName" />
                </div>
            </div>
        </div>
    </div>
}
