@model RightsU_Entities.Acq_Deal
@using UTOFrameWork.FrameworkClasses

@{
    LoginEntity objLoginEntity = new LoginEntity();
    if (Session["objLoginEntity"] != null)
    {
        objLoginEntity = (LoginEntity)Session["objLoginEntity"];
    }
    RightsU_Entities.Deal_Schema objSchema = new RightsU_Entities.Deal_Schema();
    if (Session[RightsU_Entities.RightsU_Session.ACQ_DEAL_SCHEMA] != null)
    {
        objSchema = (RightsU_Entities.Deal_Schema)Session[RightsU_Entities.RightsU_Session.ACQ_DEAL_SCHEMA];
        if (objSchema.General_PageSize == 0)
        {
            objSchema.General_PageSize = 10;
        }

        if (objSchema.General_PageNo == 0)
        {
            objSchema.General_PageNo = 1;
        }

        if (string.IsNullOrEmpty(objSchema.General_Search_Title_Codes))
        {
            objSchema.General_Search_Title_Codes = "";
        }
    }
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}
<meta charset="utf-8">
<title>RightsU</title>

<link type="text/css" rel="stylesheet" href="~/css/chosen.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<style>
    .matchFrom_Sport {
        border: 0px solid !important;
        background-color: transparent !important;
    }

    .MoreActionDiv {
        right: 445px !important;
    }

    .four_column td:nth-child(2n) {
        width: 35% !important;
    }

    .four_column td:nth-child(2n+1) {
        width: 15% !important;
        font-weight: 700 !important;
    }

    .SumoSelect {
        width: 94% !important;
    }
</style>
<script>

    var IsCall = 'Y';
    var Role_Assignment = @GlobalParams.RoleCode_Assignment, Role_License = @GlobalParams.RoleCode_License, Role_Own_Production = @GlobalParams.RoleCode_OwnProduction;

    var dealMode_G = '@objSchema.Mode';
    var recordLockingCode_G = @ViewBag.Record_Locking_Code;
    var pageNo_G = @objSchema.General_PageNo;
    var pageSize_G = @objSchema.General_PageSize;
    var searchCodes_G = '@objSchema.General_Search_Title_Codes';
    var roleCode_G = @Model.Role_Code;
    var dealTypeCode_G = @Model.Deal_Type_Code;
    var masterDealMovieCode_G = @Model.Master_Deal_Movie_Code_ToLink;

    var URL_Global_Refresh_Lock = '@Url.Action("Refresh_Lock", "Global", null, Request.Url.Scheme)';
    var URL_BindTitleLabel = '@Url.Action("BindTitleLabel", "Acq_General")';
    var URL_BindTitleGridview = '@Url.Action("BindTitleGridview", "Acq_General")';
    var URL_SearchTitle = '@Url.Action("SearchTitle", "Acq_General")';
    var URL_SetApprovalRemarks = '@Url.Action("SetApprovalRemarks", "Global")';
    var ShowMessage = {
        "lblForAssignor": '@objMessageKey.Assignor',
        "lblForLicensor": '@objMessageKey.Licensor',
        "lblForProducerLineProducer" : '@objMessageKey.ProducerLineProducer',
        "MsgForSelectTitle": '@objMessageKey.Pleaseselectatleastonetitle'
    }
    $(document).ready(function () {
        $("#show_hide").parent().find('.MoreActionDiv').slideToggle('fast');
    });
</script>
<script>
    $('.remarks_General').expander({
        slicePoint: 520,
        expandPrefix: '',
        expandText: '...@objMessageKey.readmore',
        collapseTimer: 0,
        userCollapseText: '<span>[^]</span>'
    });
    function MoreActionDiv_onHover() {
        debugger
        // Get the current title
        var title = $('#show_hide').attr("data-original-title");
        // Store it in a temporary attribute
        $('#show_hide').attr("tmp_title", title);
        // Set the title to nothing so we don't see the tooltips
        $('#show_hide').attr("data-original-title", "");
    }
</script>
<link href="~/CSS/sumoselect.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" rel="stylesheet" />
<script src="~/JS_Core/jquery.sumoselect.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<script src="~/Custom_Scripts/Acq_Deal_Gen_View.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<div class="grid_area">
    <div class="navigation_tabs">
        <div class="tabbable">
            <div class="tab-content clearfix table-wrapper scale_table_container">
                <div class="tab-pane active" id="tabGeneral">
                    <div class="scale_table_block" onclick="hideStarCast()">
                        <table class="four_column table style_table">
                            <tbody>
                                <tr>
                                    <td>@objMessageKey.DealType</td>
                                    @{
                                        string strDealType = Model.Is_Master_Deal.Trim() == "Y" ? "Master Deal" : "Sub Deal";
                                        <td>@strDealType</td>
                                    }
                                    @{
                                        string Show_Acq_SubDeal_List = new RightsU_BLL.System_Parameter_New_Service(objLoginEntity.ConnectionStringName)
                                                        .SearchFor(x => x.Parameter_Name == "Show_Acq_SubDeal_List").Select(x => x.Parameter_Value).FirstOrDefault();

                                        if (Show_Acq_SubDeal_List == "Y")
                                        {
                                            string DealToLink = Model.Is_Master_Deal.Trim() == "Y" ? "Master Deal To Link" : "Sub Deal To Link";
                                            <td>@DealToLink</td>

                                            if (Model.Is_Master_Deal.Trim() != "Y")
                                            {
                                                int? masterDealMovieCode = Model.Master_Deal_Movie_Code_ToLink;
                                                string strMasterDeal = @GlobalParams.msgNA;
                                                if (masterDealMovieCode != null && masterDealMovieCode > 0)
                                                    strMasterDeal = new RightsU_BLL.Acq_Deal_Movie_Service(objLoginEntity.ConnectionStringName).SearchFor(x => x.Acq_Deal_Movie_Code == masterDealMovieCode).
                                                        Select(w => w.Title.Title_Name + " - " + w.Acq_Deal.Agreement_No).First();

                                                <td>@strMasterDeal</td>
                                            }
                                            else
                                            {
                                                var subDeal_List = new RightsU_BLL.Acq_Deal_Service(objLoginEntity.ConnectionStringName)
                                                    .SearchFor(x => x.Is_Master_Deal == "N" && x.Agreement_No.Contains(Model.Agreement_No))
                                                    .Select(x => new { x.Agreement_No, x.Master_Deal_Movie_Code_ToLink }).ToList();

                                                <td>
                                                    <a title="More Sub Deal" id="show_hide" href="#" class="glyphicon glyphicon-sd-video show_hide"></a>
                                                    <div id="extent" class="MoreActionDiv" style="right: 425px !important;display: block;width: 20%;text-align: center;color: grey;" onmouseover="MoreActionDiv_onHover()">
                                                        <table>
                                                            @foreach (var item in subDeal_List)
                                                            {
                                                                string strMasterDeal = @GlobalParams.msgNA;
                                                                if (item.Master_Deal_Movie_Code_ToLink != null && item.Master_Deal_Movie_Code_ToLink > 0)
                                                                    strMasterDeal = new RightsU_BLL.Acq_Deal_Movie_Service(objLoginEntity.ConnectionStringName).SearchFor(x => x.Acq_Deal_Movie_Code == item.Master_Deal_Movie_Code_ToLink).
                                                                        Select(w => w.Title.Title_Name).FirstOrDefault();
                                                                <tr>
                                                                    <td>@strMasterDeal - @item.Agreement_No</td>
                                                                </tr>
                                                            }
                                                        </table>
                                                    </div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td>@objMessageKey.MasterDealToLink</td>

                                            int? masterDealMovieCode = Model.Master_Deal_Movie_Code_ToLink;
                                            string strMasterDeal = @GlobalParams.msgNA;
                                            if (masterDealMovieCode != null && masterDealMovieCode > 0)
                                                strMasterDeal = new RightsU_BLL.Acq_Deal_Movie_Service(objLoginEntity.ConnectionStringName).SearchFor(x => x.Acq_Deal_Movie_Code == masterDealMovieCode).
                                                    Select(w => w.Title.Title_Name + " - " + w.Acq_Deal.Agreement_No).First();

                                            <td>@strMasterDeal</td>

                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>@objMessageKey.ModeofAcquisition</td>
                                    <td>
                                        @Model.Role.Role_Name
                                    </td>
                                    <td>@objMessageKey.YearDefinition</td>
                                    @{
                                        string strYearType = "";

                                        switch (Model.Year_Type.Trim())
                                        {
                                            case "FY":
                                                strYearType = objMessageKey.FYAprMar;
                                                break;
                                            case "CY":
                                                strYearType = objMessageKey.JanDec;
                                                break;
                                            case "DY":
                                                strYearType = objMessageKey.DealYear;
                                                break;
                                        }
                                        <td>@strYearType</td>
                                    }
                                </tr>

                                <tr>
                                    <td>@objMessageKey.DealFor</td>
                                    <td>
                                        @Model.Deal_Type1.Deal_Type_Name
                                    </td>
                                    <td>@objMessageKey.Currency</td>
                                    <td>@Model.Currency.Currency_Name</td>
                                </tr>
                                <tr>
                                    <td>@objMessageKey.Licensee/ @objMessageKey.Assignee</td>
                                    <td>@Model.Entity.Entity_Name</td>
                                    <td>@objMessageKey.BusinessUnit</td>
                                    <td>@Model.Business_Unit.Business_Unit_Name</td>
                                </tr>
                                <tr>
                                    <td><span id="lblLicensor"></span></td>
                                    <td>
                                        <span style="font-weight: 800">@Model.Vendor.Vendor_Name</span>
                                        <div class="expandable">
                                            @string.Join(", ", Model.Acq_Deal_Licensor.Where(x => x.Vendor_Code != Model.Vendor_Code).Select(s => s.Vendor.Vendor_Name).ToArray())
                                        </div>
                                    </td>
                                    <td>@objMessageKey.Category</td>
                                    <td>@Model.Category.Category_Name</td>
                                </tr>
                                <tr>
                                    <td>@objMessageKey.PrimaryContact</td>
                                    @{
                                        string vendorContactName = GlobalParams.msgNA,
                                            vendorPhone = GlobalParams.msgNA, vendorEmail = GlobalParams.msgNA;
                                        if (Model.Vendor_Contacts != null)
                                        {
                                            vendorContactName = Model.Vendor_Contacts.Contact_Name;
                                            vendorPhone = Model.Vendor_Contacts.Phone_No;
                                            vendorEmail = Model.Vendor_Contacts.Email;
                                        }
                                    }
                                    <td>@vendorContactName</td>
                                    <td>Reference No.</td>
                                    <td>@Model.Ref_No</td>
                                </tr>
                                <tr>
                                    @if (ViewBag.Is_Acq_Confirming_Party == "Y")
                                    {
                                    <tr>
                                        <td>@objMessageKey.Phone</td>
                                        <td>@vendorPhone</td>

                                        <td>Confirming Party</td>
                                        <td>
                                            @Model.Confirming_Party
                                        </td>
                                    </tr>

                                }
                                else
                                {
                                    <tr>
                                        <td>@objMessageKey.Phone</td>
                                        <td>@vendorPhone</td>
                                        <td>@objMessageKey.Email</td>
                                        <td>@vendorEmail</td>
                                    </tr>
                                }
                                    </tr>

                                    @if (ViewBag.DealSegment == "Y" || ViewBag.RevenueVertical == "Y")
                                    {
                                        <tr>
                                            @if (ViewBag.DealSegment == "Y")
                                            {
                                                <td>@objMessageKey.DealSegment</td>
                                                if (Model.Deal_Segment != null)
                                                {
                                                    <td>
                                                        @Model.Deal_Segment.Deal_Segment_Name
                                                    </td>
                                                }
                                            }
                                            @if (ViewBag.RevenueVertical == "Y")
                                            {
                                                <td>Revenue Vertical</td>
                                                if (Model.Revenue_Vertical != null)
                                                {
                                                    <td>
                                                        @Model.Revenue_Vertical.Revenue_Vertical_Name
                                                    </td>
                                                }
                                            }
                                        </tr>
                                    }

                                    @if (ViewBag.Is_Acq_Confirming_Party == "Y")
                                    {
                                        <tr>
                                            <td>@objMessageKey.Email</td>
                                            <td>@vendorEmail</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="scale_table_block" id="movieSearchBand" onclick="hideStarCast()">
                            <table class="table style_table">
                                <tr>
                                    <td class="bold" style="width: 15%;"><span id="lblTitleLabel"></span><span id="lblTitleCount"></span></td>
                                    <td class="bold" style="width: 10%; text-align: right;">@objMessageKey.Titles:</td>
                                    <td style="width: 50%;">
                                        @if (ViewBag.Title_Search_List != null)
                                        {
                                            @Html.DropDownList("Title_Search_List", (List<SelectListItem>)ViewBag.Title_Search_List, new { @id = "ddlTitle_Search_List", @multiple = "multiple", @onchange = "ddlTitle_Search_List_OnChange()" });
                                        }

                                    </td>
                                    <td style="width: 10%;">
                                        <input type="button" id="btnSearch" class="button" value="@objMessageKey.Search" onclick="btnSearchTitle_Click()">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="paging_area clearfix" onclick="hideStarCast()">
                            <span class="pull-left">@objMessageKey.TotalRecords: </span>
                            <span class="pull-left" id="lblTitleSearchCount"></span>
                            @Html.Hidden("hdnPageNo", 1)
                            @Html.Hidden("hdnPagePerBatch", 5)
                            @Html.Hidden("hdnRecordCount", 0)
                            <input type="hidden" id="hdnTabName" name="hdnTabName" />

                            <div id="Pagination" class="pagination">
                            </div>
                            <span class="pull-right">
                                @objMessageKey.PageSize:
                                <input type="text" id="txtPageSize" name="txtPageSize" class="smallTextBox pagingSize" value="10" onchange="txtPageSize_OnChange()">
                            </span>
                        </div>
                        <div class="scale_table_block" id="subDealMovie">
                        </div>
                        <div class="scale_table_block" onclick="hideStarCast()">
                            <div class="divBlock">
                                <div class="bold" style="padding-right: 100%;">@objMessageKey.Remarks</div>
                                <div class="remarks_General">
                                    @{
                                        if (!string.IsNullOrEmpty(Model.Remarks))
                                        {
                                            @Html.Raw(Model.Remarks.Replace("\n", "<br/>"))
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (objSchema.Mode == GlobalParams.DEAL_MODE_EDIT_WO_APPROVAL)
                    {
                        @Html.Partial("_Edit_Without_Approval")
                    }
                    @if (objSchema.Mode == GlobalParams.DEAL_MODE_APPROVE)
                    {
                        @Html.Partial("_Approved_List")
                    }
                    else if (objSchema.Mode != GlobalParams.DEAL_MODE_EDIT_WO_APPROVAL)
                    {
                        <div class="bottom_action" onclick="hideStarCast()">
                            <ul class="form_link_nav clearfix">
                                <li>
                                    <input type="button" id="btnCancelDeal" class="btn btn-primary" value="@objMessageKey.Cancel"
                                           onclick="location.href='@Url.Action("Cancel", "Acq_General")    '">
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
