@model RightsU_Entities.Syn_Deal_Rights
@using UTOFrameWork.FrameworkClasses
@{
    RightsU_Entities.Deal_Schema objSchema = new RightsU_Entities.Deal_Schema();
    RightsU_Plus.Controllers.Rights_Page_Properties objPage_Properties = new RightsU_Plus.Controllers.Rights_Page_Properties();
    if (Session[RightsU_Entities.RightsU_Session.Syn_DEAL_SCHEMA] != null)
    {
        objSchema = (RightsU_Entities.Deal_Schema)Session[RightsU_Entities.RightsU_Session.Syn_DEAL_SCHEMA];
    }
    if (Session["Rights_Page_Properties"] != null)
    {
        objPage_Properties = (RightsU_Plus.Controllers.Rights_Page_Properties)Session["Rights_Page_Properties"];
    }
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}
<script>
    var YearBased = "Y", Milestone = "M", Perpetuity = "U";

    var Record_Locking_Code_SRV_G = '@ViewBag.Record_Locking_Code'
    , Right_Type_G = '@Model.Original_Right_Type'
    , Is_Theatrical_Right_G = '@Model.Is_Theatrical_Right'
    , MODE_SR_G = '@ViewBag.MODE'
    , Disable_RightType_G = '@Model.Disable_RightType'
    , Existing_RightType_G = '@Model.Existing_RightType'
    , ShowPopup_G = '@ViewBag.ShowPopup'
    , Message_SR_G = '@ViewBag.Message'
    , Obj_Mode_SR_G = '@objSchema.Mode'
    , Approvalremarks_G = '@objSchema.Approver_Remark'
    , MessageFrom_SR_G = '@ViewBag.MessageFrom'
    , SelectedTitleCodes_G = '@ViewBag.SelectedTitleCodes';

    var BindHoldback_URL = '@Url.Action("BindHoldback", "Syn_Rights_Holdback")'
    , BindBlackOut_URL = '@Url.Action("BindBlackOut", "Syn_Rights_Blackout")'
    , Refresh_Lock_SRV_URL = '@Url.Action("Refresh_Lock", "Global", null, Request.Url.Scheme)'
    , Index_SRL_URL = '@Url.Action("Index", "Syn_Rights_List")'
    , Cancel_Rights_URL = '@Url.Action("Cancel_Rights", "Syn_Rights")'
    , BindPlatformTreeView_URL = '@Url.Action("BindPlatformTreeView", "Syn_Rights")'
    , SetSynApprovalRemarks_URL = '@Url.Action("SetSynApprovalRemarks", "Global")';
    var URL_BindPromoter = '@Url.Action("BindPromoter", "Syn_Rights_Promoter")';
    var ShowMessage = {
        "Cannotselectrighttypeyearbasedasrightsalreadysyndicated": '@objMessageKey.Cannotselectrighttypeyearbasedasrightsalreadysyndicated ',
        "Cannotselectrighttypeperpetuityasrightsalreadysyndicated": '@objMessageKey.Cannotselectrighttypeperpetuityasrightsalreadysyndicated',
        "Cannotselectrighttypemilestoneasrightsalreadysyndicated": '@objMessageKey.Cannotselectrighttypemilestoneasrightsalreadysyndicated',
        "Country": '@objMessageKey.Country',
        "Circuit": '@objMessageKey.Circuit'
    }
</script>
<link type="text/css" rel="stylesheet" href="~/css/ui.fancytree.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<script src="~/JS_Core/jquery.fancytree.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<script src="~/Custom_Scripts/Syn_Deal_Rights_View.js"></script>
<script type="text/javascript" src="~/JS_Core/jquery.fancytree.filter.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>

<style>
    #Tree_Filter_Rights_Platform {
        width: 511px;
        position: relative !important;
    }

    #Rights_Platform {
        margin: 0px 0px 0px 0px !important;
    }

    #tabBlackout td {
        text-align: center;
    }

    ul.fancytree-container {
        height: 500px;
        width: 510px;
    }

    #popPlatformRights .fancytree-container {
        height: 400px;
        width: 100%;
    }

    .modal-open {
        overflow: scroll !important;
        padding-right: 0px !important;
    }

    .Count {
        position: absolute;
        top: -22%;
        background: #f9df73;
        border-radius: 87%;
        font-size: 11px;
        height: 18px;
        width: 18px;
        text-align: center;
        vertical-align: middle;
        right: -21%;
        z-index: 2;
    }
</style>
<script>
    $('.expand_tabRestriction').expander({
        slicePoint: 520,
        expandPrefix: '',
        expandText: '@objMessageKey.readmore',
        collapseTimer: 0,
        userCollapseText: '<span>[^]</span>'
    });
</script>
<div class="grid_area">
    <div class="navigation_tabs">
        <div class="tabbable">
            <div class="tab-content clearfix table-wrapper scale_table_container">
                <div class="tab-pane active" id="tabRights">
                    <div class="scale_table_block">
                        <table>
                            <tr>
                                <td width="50%" valign="top">
                                    <input type="hidden" value="@ViewBag.MODE" id="Mode" />
                                    <input type="hidden" value="@ViewBag.TitleCode_prom" id="lbTitles" />
                                    <input type="hidden" value="@ViewBag.CountryCode_prom" id="lbTerritory" />
                                    <input type="hidden" value="@ViewBag.SubtitlingCode_prom" id="lbSub_Language" />
                                    <input type="hidden" value="@ViewBag.DubbingCode_prom" id="lbDub_Language" />

                                    <label class="bold">@objMessageKey.Titles</label>
                                    <div class="expandable">
                                        @ViewBag.TitleNames
                                        @{string ORightType = "";
                                            if (@ViewBag.Enabled_Perpetuity == "Y" && Model.Original_Right_Type != null && Model.Original_Right_Type != "")
                                            {
                                                ORightType = Model.Original_Right_Type;
                                            }
                                            else
                                            {
                                                ORightType = Model.Right_Type;
                                            }}
                                        <input type="hidden" id="hdnTabName" name="hdnTabName" />
                                    </div>
                                    <br />
                                    <label class="bold">@objMessageKey.RightsDefinition</label>
                                    <div class="platform_checkbox">
                                        <label>@objMessageKey.ExclusiveRights : @(Model.Is_Exclusive == "Y" ? objMessageKey.Yes : objMessageKey.NO)</label>
                                        <br />
                                        @objMessageKey.TitleLangauge :
                                        <input type="hidden" value="@Model.Is_Title_Language_Right" id="Is_Title_Language_Right" />
                                        <label id="@objMessageKey.TitleLangauge">@ViewBag.TitleLanguageName @(Model.Is_Title_Language_Right == "Y" ? objMessageKey.Yes : objMessageKey.NO)</label>
                                        <br />
                                        <label>@objMessageKey.DomesticTheatrical : @(Model.Is_Theatrical_Right == "Y" ? objMessageKey.Yes : objMessageKey.NO)</label>
                                    </div>
                                    <label>
                                        <font class="bold">@objMessageKey.Region :</font>&nbsp; @ViewBag.selected_Country_Count
                                    </label>
                                    <input type="hidden" value="@ViewBag.Terr_Type_prom" id="rdoTerritoryHB" />
                                    <div class="expandable">
                                        @ViewBag.selected_Country
                                    </div>
                                    <br />
                                    <label class="bold">@objMessageKey.Sublicensing</label>
                                    <div class="expandable">
                                        @(Model.Sub_License_Code != null ? Model.Sub_License.Sub_License_Name : "No")
                                    </div>
                                    <br />
                                    <input type="hidden" id="hdn_Term" value="@ORightType" />
                                    @if (ORightType == "Y")
                                    {
                                        <label class="bold">@objMessageKey.Yearbased</label>
                                        <br />
                                        <label>@objMessageKey.Tentative : </label>
                                        @(Model.Is_Tentative == "Y" ? objMessageKey.Yes : objMessageKey.NO)
                                        <span>&emsp;&emsp;&emsp;&emsp;@objMessageKey.Term:  </span>
                                        @Html.Display("Term_YY", Model.Term_YY)
                                        <span>@objMessageKey.Years </span>
                                        @Html.Display("Term_MM", Model.Term_MM)
                                        <span>@objMessageKey.Months</span>
                                        @Html.Display("Term_DD", Model.Term_DD)
                                        <span>Days</span>
                                        <br />
                                        <label>@objMessageKey.StartDate: </label>
                                        <span>@string.Format("{0:" + GlobalParams.DateFormat_Display + "}", Model.Actual_Right_Start_Date).Replace("/", "-")</span>
                                        <label>&emsp;&emsp;@objMessageKey.EndDate: </label>
                                        if (Model.Is_Tentative != "Y")
                                        {
                                            <span>@string.Format("{0:" + GlobalParams.DateFormat_Display + "}", Model.Actual_Right_End_Date).Replace("/", "-")</span>
                                            <input type="hidden" value="@Model.Actual_Right_End_Date" id="End_Date" />
                                        }
                                        <input type="hidden" value="@Model.Actual_Right_Start_Date" id="Start_Date" />

                                    }
                                    else if (ORightType == "M")
                                    {
                                        <label class="bold">@objMessageKey.Milestonebased</label>
                                        <br />
                                        <label>@objMessageKey.From</label>
                                        @(Model.Milestone_Type_Code != null ? Model.Milestone_Type.Milestone_Type_Name : "")

                                        <label>&emsp;&emsp;&emsp;&emsp;@objMessageKey.Term:  </label>
                                        @Model.Milestone_No_Of_Unit
                                        <label></label>
                                        @ViewBag.Milestone_Unit_Type

                                        if (!string.IsNullOrEmpty(Model.Milestone_Start_Date))
                                        {
                                            <br />
                                            <label>@objMessageKey.StartDate: </label>
                                            <span id="Milestone_SD" name="Milestone_SD">@string.Format("{0:" + GlobalParams.DateFormat_Display + "}", Model.Actual_Right_Start_Date).Replace("/", "-")</span>
                                            <label>&emsp;&emsp;@objMessageKey.EndDate: </label>
                                            <span id="Milestone_ED" name="Milestone_ED">@string.Format("{0:" + GlobalParams.DateFormat_Display + "}", Model.Actual_Right_End_Date).Replace("/", "-")</span>

                                            <input type="hidden" value="@Model.Actual_Right_Start_Date" id="Start_Date" />
                                            <input type="hidden" value="@Model.Actual_Right_End_Date" id="End_Date" />
                                        }
                                    }
                                    else if (ORightType == "U")
                                    {
                                        <label class="bold">@objMessageKey.Perpetuity</label>
                                        <br />
                                        if (ViewBag.Enabled_Perpetuity == "Y")
                                        {
                                            <span>@objMessageKey.Term:&nbsp;&nbsp;</span>
                                            @Html.Display("Term_YY", Model.Term_YY)
                                            <span> @objMessageKey.Years&nbsp;&nbsp;</span>
                                            @Html.Display("Term_MM", Model.Term_MM)
                                            <span> @objMessageKey.Months</span>
                                            @Html.Display("Term_DD", Model.Term_DD)
                                            <span> Days</span>
                                            <br />
                                        }
                                        <label>@objMessageKey.StartDate: </label>
                                        <span>@string.Format("{0:" + GlobalParams.DateFormat_Display + "}", Model.Actual_Right_Start_Date).Replace("/", "-")</span>
                                        if (ViewBag.Enabled_Perpetuity == "Y")
                                        {
                                            <label>&emsp;&emsp;@objMessageKey.EndDate: </label>
                                            <span>@string.Format("{0:" + GlobalParams.DateFormat_Display + "}", Model.Actual_Right_End_Date).Replace("/", "-")</span>
                                            <input type="hidden" value="@Model.Actual_Right_End_Date" id="End_Date" />
                                        }
                                        <input type="hidden" value="@Model.Actual_Right_Start_Date" id="Start_Date" />

                                    }
                                    @Html.Hidden("Right_Type", Model.Right_Type)
                                    @Html.Hidden("Original_Right_Type", Model.Original_Right_Type)
                                    <br />
                                    <br />
                                    <label class="bold">@objMessageKey.ROFR</label>
                                    @if (Model.ROFR_DT != null)
                                    {
                                        <span id="ROFR_DT">@string.Format("{0:" + GlobalParams.DateFormat_Display + "}", Model.ROFR_Date).Replace("/", "-")</span>
                                        <label class="bold">&nbsp;&nbsp;&nbsp;@objMessageKey.Days</label>
                                        @Html.Display("ROFR_Days", Model.ROFR_Days)
                                    }
                                    else
                                    {
                                        <text>@objMessageKey.NA</text>
                                        <label class="bold">&nbsp;&nbsp;&nbsp;DAYS</label>
                                        <text>@objMessageKey.NA</text>
                                    }
                                    @if (Model.ROFR != null && objPage_Properties.Is_ROFR_Type_Visible == "Y")
                                    {
                                        <br />
                                        <label class="bold">@objMessageKey.ROFRType</label>
                                        @Model.ROFR.ROFR_Type
                                    }
                                    @if (Model.ROFR == null && objPage_Properties.Is_ROFR_Type_Visible == "Y")
                                    {
                                        <br />
                                        <label class="bold">@objMessageKey.ROFRType</label>
                                        <text>@objMessageKey.NA</text>
                                    }
                                    <br />
                                    <br />
                                    <input type="hidden" value="@ViewBag.Sub_Type_prom" id="rdoSubLG" />
                                    <label class="bold">@objMessageKey.Subtitling&nbsp;:&nbsp;</label> @ViewBag.selected_SL_Count
                                    <div class="expandable">
                                        @ViewBag.selected_SL
                                    </div>
                                    <br />
                                    <input type="hidden" value="@ViewBag.Dub_Type_prom" id="rdoDubbingLG" />
                                    <label class="bold">@objMessageKey.Dubbing&nbsp;:&nbsp;</label>@ViewBag.selected_DL_Count
                                    <div class="expandable">
                                        @ViewBag.selected_DL
                                    </div>
                                    <br />
                                </td>
                                <td valign="top">
                                    <div class="platform_wrapper">
                                        <label class="bold" for="platform">@objMessageKey.PlatformRights</label>
                                        <div id="tree" class="treeClass">
                                        </div>
                                        <span id="lblTheatrical" style="display: none;">@objMessageKey.Theatrical</span>
                                        <input type="hidden" id="hdnTVCodes" name="hdnTVCodes" value="@Model.Platform_Codes" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label class="bold">@objMessageKey.SpecialDetails</label>
                                    <div class="tabbable">
                                        <ul class="nav nav-tabs nav-tab pull-left">
                                            <li class="active">
                                                <a data-toggle="tab" href="#tabRestriction" onclick="OnTabChange('RR')" role="tab">@objMessageKey.RestrictionRemark</a>
                                            </li>
                                            <li data-toggle="tab" href="#tabHoldback" onclick="OnTabChange('HB')" role="tab">
                                                <a class="" href='#'>@objMessageKey.Holdback</a>
                                                <span id="spnHoldBackCount" class="Count">@Model.Syn_Deal_Rights_Holdback.Count()</span>
                                            </li>
                                            <li data-toggle="tab" href="#tabBlackout" onclick="OnTabChange('BO')" role="tab">
                                                <a class="" href="#">@objMessageKey.Blackout</a>
                                                <span id="spnBlackOutCount" class="Count">@Model.Syn_Deal_Rights_Blackout.Count()</span>
                                            </li>
                                            @if (ViewBag.PromoterTab == "Y")
                                            {
                                                <li data-toggle="tab" href="#tabPromoter" onclick="OnTabChange('PR')" role="tab" style="z-index:0;">
                                                    <a class="" href="#">@objMessageKey.Promoter</a>
                                                    <span id="spnPromotercount" class="Count">@Model.Syn_Deal_Rights_Promoter.Count()</span>
                                                </li>
                                            }
                                        </ul>
                                        <div class="tab-content clearfix table-wrapper scale_table_container">

                                            <div class="tab-pane scale_table_block" id="tabHoldback">
                                            </div>

                                            <div class="tab-pane scale_table_block" id="tabBlackout">
                                            </div>
                                            <div class="tab-pane active scale_table_block" id="tabRestriction">
                                                <div class="expand_tabRestriction">
                                                    @{
                                                        if (!string.IsNullOrEmpty(Model.Restriction_Remarks))
                                                        {
                                                            @Html.Raw(Model.Restriction_Remarks.Replace("\n", "<br/>"))
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="tab-pane scale_table_block" id="tabPromoter">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                @if (objSchema.Mode == GlobalParams.DEAL_MODE_APPROVE)
                {
                    @Html.Partial("_Syn_Approved_List")
                    <br />
                }
                <div class="bottom_action">
                    <ul class="form_link_nav clearfix">
                        <li>
                            @*<input type="button" id="btnCancelDeal" class="btn btn-primary" value="Cancel" onclick="location.href='@Url.Action("Index", "Syn_Rights_List")    '" />*@
                            <input type="button" id="btnCancelDeal" class="btn btn-primary" value="@objMessageKey.Cancel" onclick="return Cancel_Rights();" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



