@model List<RightsU_Entities.Right_Rule>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}

<link type="text/css" rel="stylesheet" href="~/css/chosen.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>

    var URL_BindPartialPages = '@Url.Action("BindPartialPages", "RightRule")';

    var URL_CheckRecordLock = '@Url.Action("CheckRecordLock", "RightRule")';
    var URL_Refresh_Lock = '@Url.Action("Refresh_Lock", "Global")';
    var URL_Release_Lock = '@Url.Action("Release_Lock", "Global")';
    var URL_Reload_Current_Page = '@Url.Action("Index", "RightRule")';




    $(document).ready(function () {
        debugger;
       // $("#ancFileName").attr('href', '../Help/Masters/Layout.html?RightRule');
        BindPartialView("LIST", 0);
    });


    function BindPartialView(key, RightruleCode) {
        debugger
        if (key == "ADD" || key == "EDIT") {
            Search = $('#searchCommon').val();
            $('#hdnSearch').val($('#searchCommon').val());
        }
        if (key == "LIST")
        {
            var recordLockingCode = parseInt($('#hdnRecodLockingCode_temp').val())
            if (recordLockingCode > 0)
                ReleaseRecordLock(recordLockingCode, URL_Release_Lock);
        }

        $.ajax({
            type: "POST",
            url: URL_BindPartialPages,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            data: JSON.stringify({
                key: key,
                RightruleCode: RightruleCode
            }),
            success: function (result) {
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    $('#divRightRulerr').empty();
                    $('#divRightRulerr').html(result);

                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
            }
        });
    }

    //--------------------Record Locking---------------------------------------------------

    function CheckRecordLock(key, RightruleCode) {
        debugger;
        $.ajax({
            type: "POST",
            url: URL_CheckRecordLock,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                key: key,
                RightruleCode: RightruleCode
            }),
            async: false,
            success: function (result) {
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    if (result.Is_Locked == "Y") {
                        BindPartialView(key, RightruleCode)
                        $('#hdnRecodLockingCode_temp').val(result.Record_Locking_Code); // This syntax must be after AddEditCountry() this
                        Call_RefreshRecordReleaseTime(result.Record_Locking_Code, URL_Refresh_Lock);
                    }
                    else
                        showAlert("E", result.Message);
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
                hideLoading();
            }
        });
    }

</script>

<div class="main_section">
    <section class="rightsU_container clearfix">
        <div class="container acq main_col">
      
            <div id="divRightRulerr">
            </div>

        </div>
    </section>
    <input type="hidden" id="hdnRecodLockingCode_temp" name="hdnRecodLockingCode" value="0" />
    <input type="hidden" id="hdnSearch" name="hdnSearch" />
</div>
