@model IEnumerable<RightsU_Entities.Digital>

<link type="text/css" rel="stylesheet" href="~/css/chosen.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<script>
    var Url_SearchDigitalSupp = '@Url.Action("SearchConfig", "Acq_DigitalMaster")';

    function txtPageSize_OnChange() {
        debugger;
        $("[required='required']").removeAttr("required");
        $('.required').removeClass('required');
        if (!ValidatePageSize())
            return false;

        BindDigitalList("Digi");
        SetPagingDigi();
    }

    function btnSearch_OnClick() {
        debugger;
        $('.required').removeClass('required');
        $("[required='required']").removeAttr("required");


        var searchText = $.trim($('#searchCommon').val());

        if (searchText == '') {
            $('#searchCommon').val('');
            $('#searchCommon').attr('required', true)
            return false;
        }
        SearchDigi(searchText);
    }

    function btnShowAll_OnClick() {
        debugger;
        $('.required').removeClass('required');
        $("[required='required']").removeAttr("required");
        if (!ValidatePageSize())
            return false;

        sort_Type = "T";
        $("#ddlSortType").find("option").attr("selected", false);
        $("#ddlSortType").val('T').trigger("chosen:updated");
        $('#hdnPageNo').val(1);
        $('#searchCommon').val('');
        SearchDigi("");
    }
</script>
<input type="hidden" value="Digi" id="DigiTab" />
<div style="text-align:center">
    <table class="table table-bordered table-hover" style="margin-top:10px">
        <thead>
            <tr>
                <th>
                    Digital Code
                </th>
                <th>
                    Digital Name
                </th>
                <th>
                    Is Active
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Digital_Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Digital_Name)
                    </td>
                    <td>
                        @if (item.Is_Active == "Y")
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    </td>
                    <td>
                        <a title="Edit" class="glyphicon glyphicon-pencil" onclick="AddEditViewDigitalTab('@item.Digital_Code', 'EDITDIGI')"></a>
                        <a title="Detail" class="glyphicon glyphicon-eye-open" onclick="AddEditViewDigitalTab('@item.Digital_Code', 'VIEWDIGI')"></a>
                        @Html.ActionLink(" ", "Delete", new { id = item.Digital_Code }, new { @class = "glyphicon glyphicon-trash", @style = "cursor: pointer;", @title = "Delete" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>