@using UTOFrameWork.FrameworkClasses;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Message = Convert.ToString(Session["Message"]);
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}
@model List<RightsU_Entities.USP_List_TitleBulkImport_Result>
<link href="~/CSS/sumoselect.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" rel="stylesheet" />
<script src="~/JS_Core/jquery.sumoselect.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<link type="text/css" rel="stylesheet" href="~/css/chosen.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<script src="~/JS_Core/jquery.mark.min.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<style>
    .SumoSelect {
        width: 313px !important;
    }

    #ddlDealTypeAd_chosen {
        width: 313px !important;
    }

    #ddlStatus_chosen {
        width: 313px !important;
    }
</style>

<div class="main_section" onclick="AllsubmenuHide();">
    <div class="container acq main_col">
        <div class="top_area">
            <div class="title_block  clearfix">
                <h2 class="pull-left">
                    Title Details
                    @*<span></span>*@
                </h2>
                <span class="pull-left" style="margin-top: 23px;margin-left: 80px;">
                    <input type="checkbox" name="chkError" id="chkError" value="Y" onclick="OnChecked()" />Error &nbsp;&nbsp;
                    <input type="checkbox" name="chkError" id="chkNoError" value="N" onclick="OnChecked()" />Non Error
                </span>
                <span class="pull-left" style="margin-top: 15px; margin-left: 7px; position: absolute;">
                    <input type="text" name="txtSearchCommon" id="srchCommon" class="search" placeholder="Title Name, Title Type, Language, Key Star Cast, Director, Music Label, Year of Release, Status" style="width:600px; height:30px;" />
                    <input type="button" class="btn btn-primary" name="btnSearch" id="btnSearch" value="Search" onclick="btnSearch_OnClick()" />
                    <input type="button" class="btn btn-primary" name="btnShowAll" id="btnShowAll" value="Show All" style="margin-right:5px;" onclick="btnShowAll_OnClick()" />
                    <a title="Save To Excel" class="glyphicon glyphicon-floppy-save" style="cursor:pointer; " onclick="ExportToExcel()">
                    </a>
                </span>

            </div>
        </div>
        <input type="hidden" id="hdnPageNo" name="hdnPageNo" />
        <div class="paging_area clearfix" style="margin-top: 5px;">
            <div id="ErrorPagination" class="pagination" style="margin-right: 10px;">
            </div>
            <span class="pull-left" id="lblTotal">Total Records : </span>
            <span class="pull-right">
                Page Size:
                <input type="text" id="txtErrorPageSize" class="smallTextBox pagingSize" value="@(Convert.ToInt32(ViewBag.txtpageSize) == 0 || ViewBag.txtpageSize == null ? 10 : ViewBag.txtpageSize)"
                       onchange="PageSize_OnChange();" onkeypress="return isNumber(event);" maxlength="3" onblur="setDefaultPaging('txtErrorPageSize')" />
            </span>
        </div>
        <div class="tab-content clearfix table-wrapper scale_table_container">
            <div class=" scale_table_block">
                <div id="Title_View_List" class="deal clearfix">
                </div>
            </div>
        </div>
        <br />
        <div>
            <input type="button" value="BACK" class="btn btn-primary" onclick="return btnCancel();" />
        </div>
    </div>
</div>

<script>
    var tmp_IsAdvanced = "";
    var URL_BindTitleView = '@Url.Action("BindTitleView", "DM_Title_Master_Import")';
    $(document).ready(function () {
        debugger
        hideLoading();
        $('#ddlLangugaeAd').SumoSelect();
        $('#ddlStarCast').SumoSelect();
        $('#ddlErrorMsg').SumoSelect();
        $('#ddlDirector').SumoSelect();
        //$('#ddlMusicLabel').SumoSelect();
        var DM_Master_Import_Code = '@ViewBag.DM_Master_Import_Code';
        var File_Type = '@ViewBag.FileType';
        var SearchCriteria = $('#srchCommon').val();
        initializeChosen();
        AllsubmenuHide();
        initializeExpander();
        BindTitleView(0, DM_Master_Import_Code, SearchCriteria, File_Type,'Y');
    });
    function OnChecked() {
        debugger
        var DM_Master_Import_Code = '@ViewBag.DM_Master_Import_Code';
        var File_Type = '@ViewBag.FileType';
        $('#srchCommon').attr('required', false);
        $('#srchCommon').val('');
        $('#chkErrorRec').val('');
        if (($("#chkError").is(":checked")) && ($("#chkNoError").not(":checked"))) {
            $('#chkErrorRec').val('Y');
        }
        if (($("#chkNoError").is(":checked")) && ($("#chkError").not(":checked"))) {
            $('#chkErrorRec').val('N');
        }
        if (($("#chkNoError").is(":checked")) && ($("#chkError").is(":checked"))) {
            $('#chkErrorRec').val('');
        }
        BindTitleView(0, DM_Master_Import_Code, '', File_Type,'N');
    }

    function AllsubmenuHide() {

        if ('@objMessageKey.LayoutDirection' == 'RTL') {
            $('.RightPanel').css('left', LeftpanelHideCss);
            $('.leftPanel').css('right', panelHideCss);
            $('#sideNavi').show();
        }
        else {
            $('.RightPanel').css('right', RightpanelHideCss);
            $('.leftPanel').css('left', panelHideCss);
            $('#sideNavi').show();
        }
    }
    function btnCancel() {
        var URL = '@Url.Action("titleImport", "Title")';
        window.location.href = URL;
    }
    function btnSearch_OnClick() {
        var SearchCriteria = $.trim($('#srchCommon').val());
        var DM_Master_Import_Code = '@ViewBag.DM_Master_Import_Code';
        var File_Type = '@ViewBag.FileType';
        if (SearchCriteria == "") {
            $('#srchCommon').val('')
            $('#srchCommon').attr('required', true);
            return false;
        }
        else
            BindTitleView(0, DM_Master_Import_Code, SearchCriteria, File_Type,'N')
    }
    function btnShowAll_OnClick() {
        $("#chkError").prop("checked", false);
        $("#chkNoError").prop("checked", false);
        $('#chkErrorRec').val('');
        $('#srchCommon').attr('required', false);
        $('#srchCommon').val('');
        $('#txtTitleName').val('');

        $("#ddlLangugaeAd").find("option").attr("selected", false);
        $("#ddlLangugaeAd").val('')[0].sumo.reload();
        $("#ddlStarCast").find("option").attr("selected", false);
        $("#ddlStarCast").val('')[0].sumo.reload();
        $("#ddlErrorMsg").find("option").attr("selected", false);
        $("#ddlErrorMsg").val('')[0].sumo.reload();
        $("#ddlDirector").find("option").attr("selected", false);
        $("#ddlDirector").val('')[0].sumo.reload();
        //$("#ddlMusicLabel").find("option").attr("selected", false);
        //$("#ddlMusicLabel").val('')[0].sumo.reload();
        $("#ddlDealTypeAd").find("option").attr("selected", false);
        $("#ddlDealTypeAd").val('').trigger("chosen:updated");
        $("#ddlStatus").find("option").attr("selected", false);
        $("#ddlStatus").val('').trigger("chosen:updated");
        var DM_Master_Import_Code = '@ViewBag.DM_Master_Import_Code';
        var File_Type = '@ViewBag.FileType';
        BindTitleView(0, DM_Master_Import_Code, '', File_Type,'Y')
    }
    function validateSearch() {
        debugger;
        var TitleName = "", TitleType = "", TitleLanguage = "", KeyStarCast = "", Status = "", Director = "", MusicLabel = "", ErrorMsg = "";
        var DM_Master_Import_Code = '@ViewBag.DM_Master_Import_Code';
        var File_Type = '@ViewBag.FileType';
        TitleName = $('#txtTitleName').val();
        TitleType = $('#ddlDealTypeAd').val();
        if ($('#ddlLangugaeAd').val() != null)
            TitleLanguage = $('#ddlLangugaeAd').val().join(',');
        if ($('#ddlStarCast').val() != null)
            KeyStarCast = $('#ddlStarCast').val().join(',');
        if ($('#ddlDirector').val() != null)
            Director = $('#ddlDirector').val().join(',');
        //if ($('#ddlMusicLabel').val() != null)
        //    MusicLabel = $('#ddlMusicLabel').val().join(',');
        if ($('#ddlErrorMsg').val() != null)
            ErrorMsg = $('#ddlErrorMsg').val().join(',');
        Status = $('#ddlStatus').val();

        if (TitleName == "" && TitleType == "" && TitleLanguage == "" && KeyStarCast == "" && Director == "" && MusicLabel == "" && Status == "" && ErrorMsg == "") {
            showAlert('e', '@objMessageKey.PleaseSelect');
            return false
        }
        else
            AdvanceSearch();
    }
    function AdvanceSearch() {
        tmp_IsAdvanced == 'Y';
        var TitleName = "", TitleType = "", TitleLanguage = "", KeyStarCast = "", Director = "", MusicLabel = "", Status = "", ErrorMsg = "";
        var DM_Master_Import_Code = '@ViewBag.DM_Master_Import_Code';
        var File_Type = '@ViewBag.FileType';
        TitleName = $('#txtTitleName').val();
        TitleType = $('#ddlDealTypeAd').val();
        if ($('#ddlLangugaeAd').val() != null)
            TitleLanguage = $('#ddlLangugaeAd').val().join(',');
        if ($('#ddlStarCast').val() != null)
            KeyStarCast = $('#ddlStarCast').val().join(',');
        if ($('#ddlDirector').val() != null)
            Director = $('#ddlDirector').val().join(',');
        //if ($('#ddlMusicLabel').val() != null)
        //    MusicLabel = $('#ddlMusicLabel').val().join(',');
        if ($('#ddlErrorMsg').val() != null)
            ErrorMsg = $('#ddlErrorMsg').val().join(',');
        Status = $('#ddlStatus').val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("AdvanceSearchT", "DM_Title_Master_Import")',
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                TitleName: TitleName,
                TitleType: TitleType,
                TitleLanguage: TitleLanguage,
                KeyStarCast: KeyStarCast,
                Director: Director,
                //MusicLabel: MusicLabel,
                Status: Status,
                ErrorMsg: ErrorMsg
            }),
            async: false,
            success: function (result) {
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    BindTitleView(0, DM_Master_Import_Code, '', File_Type, 'N')
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
                hideLoading();
            }
        });

    }

    var URL_BindTitleView = '@Url.Action("BindTitleView", "DM_Title_Master_Import")';
    function BindTitleView(pageNo, DM_Import_Master_Code, SearchCriteria, File_Type, IsShowAll) {
        debugger
        $('.required').removeClass('required');
        $("[required='required']").removeAttr("required");
        var txtpagesize = $('#txtErrorPageSize').val();
        var Error = $('#chkErrorRec').val();
        $.ajax({
            type: "POST",
            url: URL_BindTitleView,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                SearchCriteria: SearchCriteria,
                pageNo: pageNo,
                txtpagesize: txtpagesize,
                DM_Import_Master_Code: DM_Import_Master_Code,
                fileType: File_Type,
                IsShowAll: IsShowAll,
                Error: Error
            }),
            async: false,
            success: function (result) {

                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    $('#Title_View_List').empty();
                    $('#Title_View_List').html(result);
                    if ($('#srchCommon').val().trim() != '') {
                        var keyword = $("#srchCommon").val();
                        var options = { 'separateWordSearch': true };
                        $(".Highlight").unmark({
                            done: function () {
                                $(".Highlight").mark(keyword, options);
                            }
                        });
                    }
                    initializeChosen();
                    initializeExpander();
                    SetViewPaging();
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
                hideLoading();
            }
        });
    }
    var panelVisible = false;
    var RightpanelHideCss = '-350px';
    var RightpanelShowCss = '0px';

    var LeftpanelHideCss = '-350px';
    var LeftpanelShowCss = '0px';
    function BindSearch() {
        BindAdvanced_Search_Controls('BTC');
        if ("RTL" == '@objMessageKey.LayoutDirection') {
            debugger;
            $('.SumoSelect > .optWrapper.multiple > .options li.opt span, .SumoSelect .select-all > span').css("right", '-3px');
            $('.SumoSelect > .optWrapper > .options li.opt label, .SumoSelect > .CaptionCont, .SumoSelect .select-all > label').css("padding-right", "22px")
            $('.SumoSelect > .optWrapper > .options li.opt label, .SumoSelect > .CaptionCont, .SumoSelect .select-all > label').css("direction", "LTR")
            $('#AdSearch').css("padding-right", "11px");
        }
        else
            $('#AdSearch').css("padding-right", "0px");
    }
    function togglePanelVisibility2(panelID) {
        debugger
        if ('@objMessageKey.LayoutDirection' == 'RTL') {
            document.getElementById('pnlSearch').removeAttribute('hidden')
            $('.leftPanel').css('right', panelHideCss);
            $(".RightPanel:not(#" + panelID + ")").css("left", LeftpanelHideCss);
            var panel = document.getElementById(panelID);
            if (panel.style.left == LeftpanelShowCss) {
                panel.style.left = LeftpanelHideCss;
                panelVisible = false;
                $('#sideNavi').show();
            }
            else {
                panel.style.left = LeftpanelShowCss;
                panelVisible = true;
                $('#sideNavi').hide();
            }
        }
        else {
            document.getElementById('pnlSearch').removeAttribute('hidden')
            $('.leftPanel').css('left', panelHideCss);
            $(".RightPanel:not(#" + panelID + ")").css("right", RightpanelHideCss);
            var panel = document.getElementById(panelID);
            if (panel.style.right == RightpanelShowCss) {
                panel.style.right = RightpanelHideCss;
                panelVisible = false;
                $('#sideNavi').show();
            }
            else {
                panel.style.right = RightpanelShowCss;
                panelVisible = true;
                $('#sideNavi').hide();
            }
        }
    }
    var URL_BindAdvanced_Search_Controls = '@Url.Action("BindAdvanced_Search_Controls", "DM_Title_Master_Import")';
    function BindAdvanced_Search_Controls(callfrom) {
        debugger;
        $('.required').removeClass('required');
        $("[required='required']").removeAttr("required");
        $("#txtTitleName").val("");
        if (callfrom == 'BTC')
            $('#divSearch').slideToggle(400);
        var Is_async = true;
        if (tmp_IsAdvanced == 'Y')
            Is_async = false;
        $.ajax({
            type: "POST",
            url: URL_BindAdvanced_Search_Controls,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
            }),
            async: Is_async,
            success: function (result) {
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    $("#ddlLangugaeAd").empty();
                    $("#ddlDealTypeAd").empty();
                    $("#ddlStarCast").empty();
                    $("#ddlErrorMsg").empty();
                    $('#ddlDirector').empty();
                    //$('#ddlMusicLabel').empty();
                    debugger;
                    var obj_Search = $(result.objPage_Properties);
                    $("#txtTitleName").val(obj_Search[0].TitleName_Search);

                    $(result.lstErrorMsg).each(function (index, item) {
                        $("#ddlErrorMsg").append($("<option>").val(this.Value).text(this.Text));
                    });
                    $("#ddlErrorMsg").val(obj_Search[0].ErrorMsg_Search.split(',')).attr("selected", "true")[0].sumo.reload();

                    $(result.lstTDirector).each(function (index, item) {
                        $("#ddlDirector").append($("<option>").val(this.Value).text(this.Text));
                    });
                    $("#ddlDirector").val(obj_Search[0].Director_Search.split(',')).attr("selected", "true")[0].sumo.reload();

                    //$(result.lstTMusicLabel).each(function (index, item) {
                    //    $("#ddlMusicLabel").append($("<option>").val(this.Value).text(this.Text));
                    //});
                    //$("#ddlMusicLabel").val(obj_Search[0].MusicLabel_Search.split(',')).attr("selected", "true")[0].sumo.reload();

                    $(result.lstTStarCast).each(function (index, item) {
                        $("#ddlStarCast").append($("<option>").val(this.Value).text(this.Text));
                    });
                    $("#ddlStarCast").val(obj_Search[0].KeyStarCast_Search.split(',')).attr("selected", "true")[0].sumo.reload();

                    $(result.lstLanguage).each(function (index, item) {
                        $("#ddlLangugaeAd").append($("<option>").val(this.Value).text(this.Text));
                    });
                    $("#ddlLangugaeAd").val(obj_Search[0].TitleLanguage_Search.split(',')).attr("selected", "true")[0].sumo.reload();

                    $(result.lstDealType).each(function (index, item) {
                        $("#ddlDealTypeAd").append($("<option>").val(this.Value).text(this.Text));
                    });
                    $("#ddlDealTypeAd").val(obj_Search[0].TitleType_Search).trigger("chosen:updated");

                    $(result.lstStatus).each(function (index, item) {
                        $("#ddlStatus").append($("<option>").val(this.Value).text(this.Text));
                    });
                    $("#ddlStatus").val(obj_Search[0].Status_Search).trigger("chosen:updated");

                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
            }
        });
    }

    function ExportToExcel() {
        debugger
        var DM_Master_Import_Code = '@ViewBag.DM_Master_Import_Code';
        var File_Type = '@ViewBag.FileType';
        var SearchCriteria = $('#srchCommon').val();

        window.location.href = '@Url.Action("ExportToExcel", "DM_Title_Master_Import")?DM_Import_Master_Code=' +
            DM_Master_Import_Code + '&FileType=' + File_Type + '&SearchCriteria=' + SearchCriteria;
    }
    var URL_BindMappingPopUp = '@Url.Action("BindMappingPopUp", "DM_Title_Master_Import")';
    function BindMappingPopUp(Code) {
        debugger
        var DM_Master_Import_Code = '@ViewBag.DM_Master_Import_Code';
        var File_Type = '@ViewBag.FileType';

        $('#popup').modal();
        $.ajax({
            type: "POST",
            url: URL_BindMappingPopUp,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            data: JSON.stringify({
                masterImportCode: DM_Master_Import_Code,
                FileType: File_Type,
                Code: Code
            }),
            success: function (result) {
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    $('#pupupHtml').empty();
                    $('#pupupHtml').html(result);
                    initializeTooltip();
                    initializeExpander();
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
            }
        });
    }
    function PageSize_OnChange() {
            debugger;
            if (!ValidatePageSize())
                return false;
            var SearchCriteria = $.trim($('#srchCommon').val());
            var DM_Master_Import_Code = '@ViewBag.DM_Master_Import_Code';
            var File_Type = '@ViewBag.FileType'

            BindTitleView(0, DM_Master_Import_Code, SearchCriteria, File_Type,'N')
        }
        function ValidatePageSize() {
            var recordPerPage = $('#txtErrorPageSize').val();
            if ($.trim(recordPerPage) != '') {
                var txtPageSize = parseInt(recordPerPage);
                if (txtPageSize > 0)
                    return true;
            }
            $('#txtErrorPageSize').addClass("required");
            return false;
        }
        function pageBinding() {
            debugger;
            var SearchCriteria = $.trim($('#srchCommon').val());
            var DM_Master_Import_Code = '@ViewBag.DM_Master_Import_Code';
            var File_Type = '@ViewBag.FileType'

            BindTitleView(0, DM_Master_Import_Code, SearchCriteria, File_Type,'N')
            SetViewPaging();
        }
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        function SetViewPaging() {
            debugger;
            IsCall = 'N';
            var PageNo, recordCnt;
            var txtPageSize = $('#txtErrorPageSize').val();
            if ('@ViewBag.PageNo' != null)
                PageNo = '@ViewBag.PageNo';

            if ('@ViewBag.RecordCount' != null && '@ViewBag.RecordCount' != '0')
                recordCnt = '@ViewBag.RecordCount';

            PageNo = PageNo - 1;

            var opt = { callback: pageselectCallback };
            opt["items_per_page"] = @(Convert.ToInt32(ViewBag.txtpageSize) == 0 || ViewBag.txtpageSize == null ? 10 : ViewBag.txtpageSize);
            opt["num_display_entries"] = 5;
            opt["num"] = 10;
            opt["prev_text"] = "<<";
            opt["next_text"] = ">>";
            opt["current_page"] = PageNo;
            $("#ErrorPagination").pagination(recordCnt, opt);
        }
        function pageselectCallback(page_index, jq) {
            debugger
            var SearchCriteria = $.trim($('#srchCommon').val());
            var DM_Master_Import_Code = '@ViewBag.DM_Master_Import_Code';
            var File_Type = '@ViewBag.FileType'

            $("#hdnPageNo").val(page_index);

            if (IsCall == 'Y') {
                BindTitleView(page_index, DM_Master_Import_Code, SearchCriteria, File_Type,'N')
            }
            else
                IsCall = 'Y';

        }
    function populateTitle(evt) {
        var txtTitleName = $('#txtTitleName').val();
        var txt = txtTitleName.split(',');
        var txt = txtTitleName.split(',');
        var iscomplete = true;

        if (txtTitleName.trim() == "") {
            $('#txtTitleName').val('')
            return false;
        }
        if (txt[txt.length - 1].trim() == "")
            iscomplete = false;
        if (iscomplete) {
            $("#txtTitleName").autocomplete({
                focus: function () {
                    return false;
                },
                source: function (request, response) {
                    var param = {
                        Searched_User: txtTitleName
                    };
                    $.ajax({
                        url: '@Url.Action("GetTitleName", "DM_Title_Master_Import")',
                        data: JSON.stringify(param),
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataFilter: function (data) { return data; },
                        success: function (data) {
                            $("#lbOrigTitle_Code").val('');
                            response($.map(data, function (v, i) {
                                return {
                                    label: v.Mapping_Name,
                                    val: v.Mapping_Code
                                }
                            }))
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Error" + textStatus);
                        }
                    });
                },
                select: function (event, i) {
                    debugger;
                    var text = this.value.split(/﹐\s*/);
                    text.pop();
                    text.push(i.item.value);
                    text.push("");
                    this.value = text;
                    this.value = text.join("﹐");
                    var value = $("#hdnTitleName").val().split(/,\s*/);
                    //this.value.pop();
                    //this.value.push(i.item.val);
                    //this.value.push("");
                    $("#hdnTitleName")[0].value = value.join(", ");
                    return false;

                   
                    return false;
                },
                minLength: 2,
                open: function (event, ui) {
                    $(".ui-autocomplete").css("position", "absolute");
                    $(".ui-autocomplete").css("max-height", "200px");
                    $(".ui-autocomplete").css("overflow-y", "auto");
                    $(".ui-autocomplete").css("overflow-x", "hidden");
                    $(".ui-autocomplete").css("z-index", "2147483647");
                },
            });
        }
        else
            return false;
    }
    function ClearAll() {
        btnShowAll_OnClick();
    }
</script>

@*var URL_BindView = '@Url.Action("BindView", "DM_Title_Master_Import")';
    function BindView(DM_Import_Master_Code, File_Type) {
        debugger;
        $('.required').removeClass('required');
        $("[required='required']").removeAttr("required");
        // var txtpagesize = $('#txtErrorPageSize').val();
        $.ajax({
            type: "POST",
            url: URL_BindView,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                DM_Import_Master_Code: DM_Import_Master_Code,
                fileType: File_Type

            }),
            async: false,
            success: function (result) {

                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    $('#Title_View_List').empty();
                    $('#Title_View_List').html(result);
                    initializeChosen();
                    initializeExpander();
                    SetViewPaging();
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
                hideLoading();
            }
        });

    }*@

<input type="hidden" id="chkErrorRec" value="" />
<div id="sideNavi">
    <div class="side-navi-item item1" style="top:0px ;width: 46px !important;" onclick="javascript: togglePanelVisibility2('pnlSearch'); BindSearch();"><div><span class="glyphicon glyphicon-search" style="transform: rotate(-270deg);"></span></div></div>
</div>
<div class="RightPanel" id="pnlSearch" hidden="hidden" dir="@objMessageKey.LayoutDirection">
    <div id="AdvanceSearchPanel">
        <h4>@objMessageKey.AdvanceSearch</h4>
        <a class="close" href="#" onclick="javascript: panelVisible = true; togglePanelVisibility2('pnlSearch');"><span class="Reviewclose">x</span></a>
        <ul id="AdSearch" style="margin-top: 11px;border-bottom: 0;border-left: 0px;border-right: 0px;">
            <li class="AdSearch">
                <label>Title Name:</label>
                <br>
                <input type="text" placeholder="Title Name" id="txtTitleName" autocomplete="on" style="width:230px" value='@ViewBag.SrchTitle' onkeyup="populateTitle(event)" />
                <input type="text" id="lbTitle_Code" style="display: none;" />
                @Html.Hidden("hdnTitleName")
            </li>
            <li class="AdSearch">
                <label>Title Type:</label><br />
                <select id="ddlDealTypeAd" class="form_input chosen-select"></select>
            </li>
            <li class="AdSearch">
                <label>Title Language:</label><br />
                <select id="ddlLangugaeAd" multiple="multiple"></select>
            </li>
            <li class="AdSearch">
                <label>Key Star Cast:</label><br />
                <select id="ddlStarCast" multiple="multiple"></select>
            </li>
            <li class="AdSearch">
                <label>Director:</label><br />
                <select id="ddlDirector" multiple="multiple"></select>
            </li>
            @*<li class="AdSearch">
                <label>Music Label:</label><br />
                <select id="ddlMusicLabel" multiple="multiple"></select>
            </li>*@
            <li class="AdSearch">
                <label>@objMessageKey.Status:</label><br />
                <select id="ddlStatus" class="form_input chosen-select"></select>
            </li>
            <li class="AdSearch">
                <label>Error Message:</label><br />
                <select id="ddlErrorMsg" multiple="multiple" style="width:100%;"></select>
            </li>
        </ul>
        <br />
        <div style="text-align:center;">
            <a class="btn-primary" href="#" onclick="validateSearch();">@objMessageKey.Search</a>
            <a class="btn-primary" href="#" onclick="ClearAll();">@objMessageKey.ClearAll</a>
            <input type="hidden" id="hdnClearAll" />
        </div>
    </div>
</div>

<div aria-labelledby="myModalLabel" class="form_wrapper modal fade big_popup" id="popup" role="dialog" tabindex="-1" aria-hidden="true" style="display: none; max-height:450px; ">
    <div class="modal-dialog">
        <div class="modal-content clearfix" style="border-radius:0px;">
            <div class="form_fields acq" id="pupupHtml">

            </div>
        </div>
    </div>
</div>