@using System.Web.Optimization
@{
    ViewBag.Title = "ChangePassword";
    if (TempData["FromPage"].ToString().ToUpper().Trim() != "LOGIN")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}
<html>
<head>
    <title>RightsU</title>

    <link rel="stylesheet" type="text/css" href="~/CSS/common.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
    <link href="~/CSS/CommonLTR.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" rel="stylesheet" />
    @*<link href="~/CSS/CommonRTL.css" rel="stylesheet" />*@
    @Scripts.Render("~/bundles/Login/JS_Core?v="+ System.Configuration.ConfigurationManager.AppSettings["Version_No"])

    <script type="text/javascript">
        var message = '';
        var LayoutDirection_G = '@objMessageKey.LayoutDirection';
        $(document).ready(function () {
            //$("#ancFileName").attr('href', '../Help/index.html?IntCode=ChangePassword');
           // $("#ancFileName").attr('href', '../Help/Masters/Layout.html?ChangePassword');
            if ('@ViewBag.AlertMsg' != '') {
                message = '@ViewBag.AlertMsg';
                showAlert('error', message);
            }

            if ('@TempData["Focus"]' != '') {
                $('#' + '@TempData["Focus"]').focus();
            }

            $('#OldPassword, #NewPassword, #ConfirmPassword').keyup(function () {
                $(this).val($(this).val().replace(/ +?/g, ''));
            });
        });

        function validateControl() {
            debugger;
            $('#OldPassword, #NewPassword, #ConfirmPassword').removeClass('required');

            var OldPassword = $('#OldPassword').val();
            var NewPassword = $('#NewPassword').val();
            var ConfirmPassword = $('#ConfirmPassword').val();
            var msg = '';
            var valid = true;

            if (OldPassword.trim() == '') {
                msg = msg + 'Enter Old Password<br/>';
                valid = false;
                $('#OldPassword').addClass('required');
            }

            if (NewPassword.trim() == '') {
                msg = msg + 'Enter New Password<br/>';
                valid = false;
                $('#NewPassword').addClass('required');
            }

            if (ConfirmPassword.trim() == '') {
                msg = msg + 'Enter Confirm Password<br/>';
                valid = false;
                $('#ConfirmPassword').addClass('required');
            }

            if (!valid) {
                showAlert('e', msg);
            }
            else {
                debugger;
                if (NewPassword.trim().length < 8) {
                    msg = msg + 'Password length should not be less than 8<br/>';
                    valid = false;
                    $('#NewPassword').addClass('required');                   
                    showAlert('e', msg);                   
                    return valid;
                }

                if (!IsContainAlphabets(NewPassword.trim())) {
                    msg = msg + 'Password should contain at least one alphabet<br/>';
                    valid = false;
                    $('#NewPassword').addClass('required');
                    showAlert('e', msg);
                    return valid;
                }

                if (!IsContainNumber(NewPassword.trim())) {
                    msg = msg + 'Password should contain at least one numeric character<br/>';
                    valid = false;
                    $('#NewPassword').addClass('required');
                    showAlert('e', msg);
                    return valid;
                }

                if (!IsContainSpecialCharacter(NewPassword.trim())) {
                    msg = msg + 'Password should contain at least one special character<br/>';
                    valid = false;
                    $('#NewPassword').addClass('required');
                    showAlert('e', msg);
                    return valid;
                }

                if (NewPassword.trim() != ConfirmPassword.trim()) {
                    msg = msg + 'New Password and Confirm Password must be same<br/>';
                    valid = false;
                    $('#NewPassword').addClass('required');
                    showAlert('e', msg);
                    return valid;
                }
            }
            return valid;
        }

        function SaveClick() {
            if (!validateControl()) {
                return false;
            }            
        }

        function CancelClick() {
            $('#OldPassword, #NewPassword, #ConfirmPassword').removeClass('required');
            return true;
        }

        // Function added by Abhay
        function IsContainAlphabets(valPWD) {
            var a = 0;
            for (var i = 0; i < valPWD.length; i++) {
                var char1 = valPWD.charAt(i);
                var cc = char1.charCodeAt(0);
                if ((cc > 64 && cc < 91) || (cc > 96 && cc < 123)) {
                    a = a + 1;
                }
            }

            if (a == 0)
                return false;
            else
                return true;
        }

        function IsContainNumber(valPWD) {
            var n = 0;
            for (var i = 0; i < valPWD.length; i++) {
                var char1 = valPWD.charAt(i);
                var cc = char1.charCodeAt(0);
                if ((cc > 47 && cc < 58)) {
                    n = n + 1;
                }
            }

            if (n == 0)
                return false;
            else
                return true;
        }

        function IsContainSpecialCharacter(valPWD) {
            var s = 0;
            for (var i = 0; i < valPWD.length; i++) {
                var char1 = valPWD.charAt(i);
                var cc = char1.charCodeAt(0);

                if ((cc > 47 && cc < 58) || (cc > 64 && cc < 91) || (cc > 96 && cc < 123)) { }
                else
                    s = s + 1
            }

            if (s == 0)
                return false;
            else
                return true;
        }
    </script>
    <style>
        td {padding: 5px 0;font-size: 13px;}
        input[type=password] {width: 100%;}
        .btn {margin-top: 10px;}
        .container .top_area {height: 60px;}
    </style>
</head>
<body>
    <div class="main_section">
        @if (TempData["FromPage"].ToString().ToUpper().Trim() == "LOGIN")
        {
            <header class="rightsU_header clearfix">
                <div class="header-nav">
                    <div class="pull-left">
                        <img alt="Site-Logo" src="@Url.Content("~/Images/logo-rights.png")" />
                        <span class="tag_line">Rights Management System
                        </span>
                    </div>
                </div>
            </header>
        }
        <section class="rightsU_container clearfix">
            <div class="container main_col">
                <div class="top_area">
                    <h2 class="pull-left">Change Password</h2>
                </div>
                <div class="grid_area acq">
                    @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @class = "form-5 clearfix", id = "frmChangePassword" }))
                    {
                        <table style="width:50%;max-width: 325px;" align="center">
                            <tr>
                                <td class="bold">Old Password
                                </td>
                                <td>
                                    @Html.Hidden("FromPage", @TempData["FromPage"])
                                    <input type="password" name="OldPassword" id="OldPassword" autocomplete="off" maxlength="15" placeholder="Old Password" />
                                </td>
                            </tr>
                            <tr>
                                <td class="bold">New Password
                                </td>
                                <td>
                                    <input type="password" name="NewPassword" id="NewPassword" autocomplete="off" maxlength="15" placeholder="New Password" />
                                </td>
                            </tr>
                            <tr>
                                <td class="bold">Confirm Password
                                </td>
                                <td>
                                    <input type="password" name="ConfirmPassword" id="ConfirmPassword" autocomplete="off" maxlength="15" placeholder="Confirm Password" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <button type="submit" id="btnSave" class="btn btn-primary" value="Save" onclick="return SaveClick();">Save</button>

                                    @if (TempData["FromPage"].ToString().ToUpper().Trim() == "LOGIN")
                                    {
                                        <input type="button" id="btnCancel" class="btn btn-primary" value="Cancel" 
                                            onclick="if(CancelClick()) window.location.href='@Url.Action("ChangePasswordCancel", "Login", new { FromPage = "Login" })    '" />
                                    }
                                    else
                                    {
                                        <input type="button" id="btnCancel" class="btn btn-primary" value="Cancel" 
                                            onclick="if(CancelClick()) window.location.href='@Url.Action("ChangePasswordCancel", "Login", new { FromPage = "Base" })    '" />
                                    }
                                </td>
                            </tr>
                        </table>
                    }
                </div>
                @* </form>*@
            </div>
        </section>
    </div>
    @if (TempData["FromPage"].ToString().ToUpper().Trim() == "LOGIN")
    {
        <footer class="rightsU_footer clearfix">
            <div class="footer_content pull-right">
                <ul class="nav nav-pills pull-left">
                    <li class="footer_link">
                        <a href="http://www.uto.in/" target="_blank">Product of U-TO Solutions</a>
                    </li>
                    <li class="footer_link">
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
                <div class="footer_logo pull-right">
                    <img alt="Site-Logo" src="@Url.Content("~/Images/logo-rights.png")" />
                </div>
            </div>
        </footer>
    }
</body>
</html>

