@using System.Web.Optimization
@{
    ViewBag.Title = "ChangePassword";
    if (TempData["FromPage"].ToString().ToUpper().Trim() != "LOGIN")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}
<html>
<head>
    <title>RightsU</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/minty/bootstrap.min.css">
    <link rel="stylesheet" href="~/CSS/jquery.passwordRequirements.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />

    <link rel="stylesheet" type="text/css" href="~/CSS/common.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
    <link href="~/CSS/CommonLTR.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" rel="stylesheet" />
    @*<link href="~/CSS/CommonRTL.css" rel="stylesheet" />*@
    @Scripts.Render("~/bundles/Login/JS_Core?v=" + System.Configuration.ConfigurationManager.AppSettings["Version_No"])
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="~/JS_Core/jquery.passwordRequirements.js"></script>
    <script src="~/JS_Core/slider-menu.jquery.js"></script>
    <script type="text/javascript">
        var message = '';
        var LayoutDirection_G = '@objMessageKey.LayoutDirection';
        var PWDPolicyDetailList = '';
        var PWD_Policy_MinLength = 1;
        var PWD_Policy_NoOfMinAlphabet = 1;
        var PWD_Policy_NoOfMinSpecialChar = 1;
        var PWD_Policy_AllowedSpecialChar = '';
        var URL_PWDPolicyDetailList = '@Url.Action("GetPWDPolicyDetailList", "Login")';
        var URL_PWDHistoryCount = '@Url.Action("GetPWDHistoryCount", "Login")';

        $(document).ready(function () {
            //$("#ancFileName").attr('href', '../Help/index.html?IntCode=ChangePassword');
           // $("#ancFileName").attr('href', '../Help/Masters/Layout.html?ChangePassword');
            if ('@ViewBag.AlertMsg' != '') {
                message = '@ViewBag.AlertMsg';
                showAlert('error', message);
            }

            if ('@TempData["Focus"]' != '') {
                $('#' + '@TempData["Focus"]').focus();
            }

            $('#OldPassword, #NewPassword, #ConfirmPassword').keyup(function () {

                $(this).val($(this).val().replace(/ +?/g, ''));
                if ($("#OldPassword").val() == '') {
                    msg = 'Please Enter Old Password First.';
                    valid = false;
                    $('#btnSave').prop('disabled', true);
                    if (!valid) {
                        showAlert('e', msg);
                    }
                }
                else if ($("#OldPassword").val() == $("#NewPassword").val()) {
                    msg = 'Old Password And New Password Should Not Same.';
                    valid = false;
                    $('#btnSave').prop('disabled', true);
                    if (!valid) {
                        showAlert('e', msg);
                    }
                }
                else {
                    if ($("#NewPassword").val() != '') {
                        GetPWDHistoryCount();
                    }
                }
            });

            GetPWDPolicyDetailList();
            $(".pr-password").passwordRequirements({
                numCharacters: PWD_Policy_MinLength,
                useAlphabetcase: true,
                useNumbers: true,
                useSpecial: true,
                useNewConfirmPWD: true,
                infoMessage: '',
                style: "light", // Style Options light or dark
                fadeTime: 300, // FadeIn / FadeOut in milliseconds
                numMinAlphabet: PWD_Policy_NoOfMinAlphabet,
                numMinNumber: PWD_Policy_NoOfMinNumber,
                numMinSpecialChar: PWD_Policy_NoOfMinSpecialChar,
                useSpecialChar: PWD_Policy_AllowedSpecialChar
            });

            //$("#NewPassword").keyup(function () {
            //    //if ($("#OldPassword").val() == '') {
            //    //    msg = 'Please Enter Old Password First';
            //    //    valid = false;
            //    //    if (!valid) {
            //    //        showAlert('e', msg);
            //    //    }
            //    //}
            //    //else {
            //    //    GetPWDHistoryCount();
            //    //}
            //});
        });

        // Added by Sandip
        function GetPWDPolicyDetailList() {
            $.ajax({
                type: "POST",
                url: URL_PWDPolicyDetailList,
                traditional: true,
                async: false,
                enctype: 'multipart/form-data',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    PWDPolicyDetailList = result.PWDPolicyDetailList;
                    if (PWDPolicyDetailList != null) {
                        $.each(PWDPolicyDetailList, function () {
                            if ((this.Text) == "PWD_Policy_MinLength") {
                                PWD_Policy_MinLength = parseInt(this.Value);
                            }
                            if ((this.Text) == "PWD_Policy_NoOfMinAlphabet") {
                                PWD_Policy_NoOfMinAlphabet = parseInt(this.Value);
                            }
                            if ((this.Text) == "PWD_Policy_NoOfMinNumber") {
                                PWD_Policy_NoOfMinNumber = parseInt(this.Value);
                            }
                            if ((this.Text) == "PWD_Policy_NoOfMinSpecialChar") {
                                PWD_Policy_NoOfMinSpecialChar = parseInt(this.Value);
                            }
                            if ((this.Text) == "PWD_Policy_AllowedSpecialChar") {
                                PWD_Policy_AllowedSpecialChar = this.Value;
                            }
                        });
                    }
                },
                error: function (result) {
                    alert('Error: ' + result.responseText);
                }
            });
        }

        function validateControl() {
            debugger;
            $('#OldPassword, #NewPassword, #ConfirmPassword').removeClass('required');

            var OldPassword = $('#OldPassword').val();
            var NewPassword = $('#NewPassword').val();
            var ConfirmPassword = $('#ConfirmPassword').val();
            var msg = '';
            var valid = true;

            if (OldPassword.trim() == '') {
                msg = msg + 'Enter Old Password<br/>';
                valid = false;
                $('#OldPassword').addClass('required');
            }

            if (NewPassword.trim() == '') {
                msg = msg + 'Enter New Password<br/>';
                valid = false;
                $('#NewPassword').addClass('required');
            }

            if (ConfirmPassword.trim() == '') {
                msg = msg + 'Enter Confirm Password<br/>';
                valid = false;
                $('#ConfirmPassword').addClass('required');
            }

            if (!valid) {
                showAlert('e', msg);
            }
            //else {
            //    debugger;
            //    if (NewPassword.trim().length < 8) {
            //        msg = msg + 'Password length should not be less than 8<br/>';
            //        valid = false;
            //        $('#NewPassword').addClass('required');
            //        showAlert('e', msg);
            //        return valid;
            //    }

            //    if (!IsContainAlphabets(NewPassword.trim())) {
            //        msg = msg + 'Password should contain at least one alphabet<br/>';
            //        valid = false;
            //        $('#NewPassword').addClass('required');
            //        showAlert('e', msg);
            //        return valid;
            //    }

            //    if (!IsContainNumber(NewPassword.trim())) {
            //        msg = msg + 'Password should contain at least one numeric character<br/>';
            //        valid = false;
            //        $('#NewPassword').addClass('required');
            //        showAlert('e', msg);
            //        return valid;
            //    }

            //    if (!IsContainSpecialCharacter(NewPassword.trim())) {
            //        msg = msg + 'Password should contain at least one special character<br/>';
            //        valid = false;
            //        $('#NewPassword').addClass('required');
            //        showAlert('e', msg);
            //        return valid;
            //    }

            //    if (NewPassword.trim() != ConfirmPassword.trim()) {
            //        msg = msg + 'New Password and Confirm Password must be same<br/>';
            //        valid = false;
            //        $('#NewPassword').addClass('required');
            //        showAlert('e', msg);
            //        return valid;
            //    }
            //}
            return valid;
        }

        function SaveClick() {
            if (!validateControl()) {
                return false;
            }
        }

        function CancelClick() {
            $('#OldPassword, #NewPassword, #ConfirmPassword').removeClass('required');
            return true;
        }

        // Function added by Abhay
        function IsContainAlphabets(valPWD) {
            var a = 0;
            for (var i = 0; i < valPWD.length; i++) {
                var char1 = valPWD.charAt(i);
                var cc = char1.charCodeAt(0);
                if ((cc > 64 && cc < 91) || (cc > 96 && cc < 123)) {
                    a = a + 1;
                }
            }

            if (a == 0)
                return false;
            else
                return true;
        }

        function IsContainNumber(valPWD) {
            var n = 0;
            for (var i = 0; i < valPWD.length; i++) {
                var char1 = valPWD.charAt(i);
                var cc = char1.charCodeAt(0);
                if ((cc > 47 && cc < 58)) {
                    n = n + 1;
                }
            }

            if (n == 0)
                return false;
            else
                return true;
        }

        function IsContainSpecialCharacter(valPWD) {
            var s = 0;
            for (var i = 0; i < valPWD.length; i++) {
                var char1 = valPWD.charAt(i);
                var cc = char1.charCodeAt(0);

                if ((cc > 47 && cc < 58) || (cc > 64 && cc < 91) || (cc > 96 && cc < 123)) { }
                else
                    s = s + 1
            }

            if (s == 0)
                return false;
            else
                return true;
        }

        function ValidatePWDPolicy() {
            debugger;
            $('#OldPassword, #NewPassword, #ConfirmPassword').removeClass('required');

            var OldPassword = $('#OldPassword').val();
            var NewPassword = $('#NewPassword').val();
            var ConfirmPassword = $('#ConfirmPassword').val();
            var msg = '';
            var valid = true;

            if (OldPassword.trim() == '') {
                msg = msg + 'Enter Old Password<br/>';
                valid = false;
                $('#OldPassword').addClass('required');
            }

            if (NewPassword.trim() == '') {
                msg = msg + 'Enter New Password<br/>';
                valid = false;
                $('#NewPassword').addClass('required');
            }

            if (ConfirmPassword.trim() == '') {
                msg = msg + 'Enter Confirm Password<br/>';
                valid = false;
                $('#ConfirmPassword').addClass('required');
            }

            if (!valid) {
                showAlert('e', msg);
            }

            return valid;
        }

        //Javascript function definition
        function eyeEnableOrDisable() {
            var x = document.getElementById("NewPassword"); //getting the password field element
            var y = document.getElementById("eyeChangeId"); //getting the eye button element
            if (x.type === "password") {
                x.type = "text";
                y.classList.remove("fa-eye");
                y.classList.add("fa-eye-slash");
            }
            else {
                x.type = "password";
                y.classList.remove("fa-eye-slash");
                y.classList.add("fa-eye");
            }
        }

        function GetPWDHistoryCount() {
            var msg = '';
            var valid = true;

            $.ajax({
                type: "POST",
                url: URL_PWDHistoryCount,
                data: {
                    data: $("#NewPassword").val()
                },
                dataType: 'json',
                success: function (response) {
                    if (response.PWDHistoryCount > 0) {
                        msg = response.PWDHistoryMsg;
                        valid = false;
                        $('#btnSave').prop('disabled', true);
                        if (!valid) {
                            showAlert('e', msg);
                        }
                    } else {

                    }
                },
                error: function (result) {
                    alert('Error: ' + result.responseText);
                }
            });
        }

    </script>
    <style>
        td {
            padding: 5px 0;
            font-size: 13px;
        }

        input[type=password] {
            width: 100%;
        }

        .btn {
            margin-top: 10px;
        }

        .container .top_area {
            height: 60px;
        }
        .navbar {
            position: relative !important;
            display: block !important;
            display: -ms-flexbox;
            display: block !important;
            /*-ms-flex-wrap: wrap;*/
            flex-wrap: wrap;
            /*-webkit-box-align: center;
            -ms-flex-align: center;*/
            align-items: center;
            /*-webkit-box-pack: justify;
            -ms-flex-pack: justify;*/
            justify-content: space-between;
            padding: unset !important;
        }

        .navbar-nav {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            /*-webkit-box-orient: vertical !important;
            -webkit-box-direction: normal !important;
            -ms-flex-direction: column !important;*/
            flex-direction: unset !important;
            padding-left: 0 !important;
            margin-bottom: 0 !important;
            list-style: none !important;
        }
    </style>


</head>
<body>
    <div class="main_section">
        @if (TempData["FromPage"].ToString().ToUpper().Trim() == "LOGIN")
        {
            <header class="rightsU_header clearfix">
                <div class="header-nav">
                    <div class="pull-left">
                        <img alt="Site-Logo" src="@Url.Content("~/Images/logo-rights.png")" />
                        <span class="tag_line">Rights Management System
                        </span>
                    </div>
                </div>
            </header>
        }
        <section class="rightsU_container clearfix">
            <div class="container main_col">
                <div class="top_area">
                    <h2 class="pull-left">Change Password</h2>
                </div>
                <div class="grid_area acq">
                    @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @class = "form-5 clearfix", id = "frmChangePassword" }))
                    {
                        <table style="width:50%;max-width: 325px;" align="center">
                            <tr>
                                <td class="bold">Old Password
                                </td>
                                <td>
                                    @Html.Hidden("FromPage", @TempData["FromPage"])
                                    <input type="password" name="OldPassword" id="OldPassword" autocomplete="off" maxlength="15" placeholder="Old Password" />
                                </td>
                            </tr>
                            <tr>
                                <td class="bold">New Password
                                </td>
                                <td>
                                    <input type="password" name="NewPassword" id="NewPassword" autocomplete="off" maxlength="15" placeholder="New Password" class="pr-password" style="width:100% !important" ondrop="return false;" onpaste="return false;"/>       
                                    <span>
                                        <i id="eyeChangeId" class="fa fa-eye" onclick="eyeEnableOrDisable()" style="position:absolute; right: 36% !important; margin-top: 5px !important; "></i> @*width: 34% !important*@
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="bold">Confirm Password
                                </td>
                                <td>
                                    <input type="password" name="ConfirmPassword" id="ConfirmPassword" autocomplete="off" maxlength="15" placeholder="Confirm Password" class="pr-password" ondrop="return false;" onpaste="return false;"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <button type="submit" id="btnSave" class="btn btn-primary" value="Save" onclick="return SaveClick();">Save</button>

                                    @if (TempData["FromPage"].ToString().ToUpper().Trim() == "LOGIN")
                                    {
                                        <input type="button" id="btnCancel" class="btn btn-primary" value="Cancel" 
                                            onclick="if(CancelClick()) window.location.href='@Url.Action("ChangePasswordCancel", "Login", new { FromPage = "Login" })    '" />
                                    }
                                    else
                                    {
                                        <input type="button" id="btnCancel" class="btn btn-primary" value="Cancel" 
                                            onclick="if(CancelClick()) window.location.href='@Url.Action("ChangePasswordCancel", "Login", new { FromPage = "Base" })    '" />
                                    }
                                </td>
                            </tr>
                        </table>
                    }
                </div>
                @* </form>*@
            </div>
        </section>
    </div>
    @if (TempData["FromPage"].ToString().ToUpper().Trim() == "LOGIN")
    {
        <footer class="rightsU_footer clearfix">
            <div class="footer_content pull-right">
                <ul class="nav nav-pills pull-left">
                    <li class="footer_link">
                        <a href="http://www.uto.in/" target="_blank">Product of U-TO Solutions</a>
                    </li>
                    <li class="footer_link">
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
                <div class="footer_logo pull-right">
                    <img alt="Site-Logo" src="@Url.Content("~/Images/logo-rights.png")" />
                </div>
            </div>
        </footer>
    }
</body>
</html>

