@model List<RightsU_Entities.Extended_Group_Config>

@{
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}

<script src="~/JS_Core/jquery.sumoselect.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<link href="~/CSS/sumoselect.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="~/css/chosen.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
    $(document).ready(function () {
        debugger;
        $('.ddlSumo').SumoSelect();
        //$('.ddlSumo')[0].sumo.reload();
        addNumericDetail();
    });

    function addNumericDetail() {
        debugger;
        $(".onlyNumber").numeric({
            allowMinus: false,
            allowThouSep: false,
            allowDecSep: false,
            max: 99,
            min: 1
        });
    }

    $('.expand_AdditionalCondition').expander({
        slicePoint: 32,
        expandPrefix: '',
        expandText: '...@objMessageKey.readmore',
        collapseTimer: 0,
        userCollapseText: '<span>[^]</span>'
    });
</script>

<table class="table table-bordered table-hover" id="tblMusicLink">
    <thead>
        <tr>
            <th style="width:6%;">Sr. No.</th>
            <th style="width:20%;">Metadata</th>
            <th style="width:10%;">Order In Group</th>
            <th style="width:18%;">Validations</th>
            <th style="width:35%;">Additional Condition</th>
            @if (ViewBag.CommandName != "VIEW")
            {
                <th style="width:6%;">Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            int rowZero = 0;
            int rowNumber = 1;
        }
        @if (ViewBag.CommandName == "ADD")
        {
            <tr>
                <td style="text-align:center;">
                    <p>New</p>
                </td>
                <td>
                    @Html.DropDownList("lstExtdClmns", (IEnumerable<SelectListItem>)ViewBag.ddlMetadata, "Please Select", htmlAttributes: new { @id = "ddlMetadata_" + rowZero, @class = "form_input chosen-select" })
                </td>
                <td>
                    <input type="text" id="txtOdrInGrp_@rowZero" value="" class="form-control input-sm onlyNumber" maxlength="100" autocomplete="off" />
                </td>
                <td>
                    @Html.DropDownList("ddlValidation", ViewBag.ddlValidation as MultiSelectList, new { @id = "ddlValidations_" + rowZero, @multiple = "multiple", @class = "ddlSumo" })
                </td>
                <td>
                    <textarea id="txtAddCon_@rowZero" class="textarea" @*style="resize:horizontal; min-width:100%"*@ maxlength="4500"></textarea>
                </td>
                <td style="text-align:center">
                    <a title="Save" class="glyphicon glyphicon-ok-circle" onclick="SaveDetail(0,0)"></a>
                    <a title="Cancel" class="glyphicon glyphicon-remove-circle" onclick="Cancel()"></a>
                </td>
            </tr>
        }
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr id="trBookDetail_@rowNumber">
                    <td style="text-align:center; display:none;">
                        <input type="hidden" id="rowNumber" value="@rowNumber" />
                        <input type="hidden" id="hdnBookDetailId_@rowNumber" value="@item.Extended_Group_Config_Code" />
                    </td>

                    @if (ViewBag.CommandName == "EDIT" && ViewBag.DetailId == item.Extended_Group_Config_Code)
                    {
                        <td>
                            <p>@rowNumber</p>
                        </td>
                        <td>
                            @Html.DropDownList("lstExtdClmns", (IEnumerable<SelectListItem>)ViewBag.ddlMetadata, "Please Select", htmlAttributes: new { @id = "ddlMetadata_" + rowNumber, @class = "chosen-single chosen-default" })
                        </td>
                        <td>
                            <input type="text" id="txtOdrInGrp_@rowNumber" value="@item.Group_Control_Order" class="form_input input-sm" maxlength="100" autocomplete="off" />
                        </td>
                        <td>
                            @Html.DropDownList("lstValidation", (IEnumerable<SelectListItem>)ViewBag.SelectedValidation as MultiSelectList, new { @id = "ddlValidations_" + rowNumber, @multiple = "multiple", @class = "ddlSumo" })
                        </td>
                        <td>
                            @*<textarea id="txtAddCon_@rowNumber" value="@item.Additional_Condition"></textarea>*@
                            @Html.TextAreaFor(model => item.Additional_Condition, new { @id = "txtAddCon_" + rowNumber, @*@style ="resize:horizontal; min-width:100%;",*@ @maxlength = "4500" })
                        </td>
                        <td style="text-align:center">
                            <a title="Save" class="glyphicon glyphicon-ok-circle" onclick="SaveDetail(@item.Extended_Group_Config_Code, @rowNumber)"></a>
                            <a title="Cancel" class="glyphicon glyphicon-remove-circle" onclick="Cancel()"></a>
                        </td>
                    }
                    else
                    {
                        <td style="text-align:center;">
                            <span>@rowNumber</span>
                        </td>
                        <td style="text-align:center;">
                            <span>
                                @{
                                    string Metadata = "";
                                    if (item.Columns_Code > 0 && item.Columns_Code != null)
                                    {
                                        Metadata = ((IEnumerable<RightsU_Entities.Extended_Columns>)ViewBag.ddlMetaData2).Where(a => a.Columns_Code == item.Columns_Code).Select(b => b.Columns_Name).FirstOrDefault();
                                    }
                                    @Metadata
                                }
                            </span>
                        </td>
                        <td style="text-align:center;">
                            <span>@item.Group_Control_Order</span>
                        </td>
                        <td style="text-align:center;">
                            @if (item.Validations == "man,dup" || item.Validations == "dup,man")
                            {
                                <span>Mandatory, Duplicate</span>
                            }
                            else if (item.Validations == "man")
                            {
                                <span>Mandatory</span>
                            }
                            else
                            {
                                <span>Duplicate</span>
                            }
                        </td>
                        <td style="text-align:center;" class="expand_AdditionalCondition">
                            <span>@item.Additional_Condition</span>
                        </td>
                        if (ViewBag.CommandName != "VIEW")
                        {
                            <td style="text-align:center">
                                <a title="Edit" class="glyphicon glyphicon-pencil" style="cursor: pointer;" onclick="AddEditGroupDetail('@item.Extended_Group_Config_Code', 'EDIT')"></a>

                                <a title="Delete" class="glyphicon glyphicon-trash" style="cursor: pointer;" onclick="DeleteGroupDetail('@item.Extended_Group_Config_Code', false)"></a>
                            </td>
                        }
                    }
                </tr>
                rowNumber++;
            }
        }
        else if (ViewBag.CommandName != "ADD")
        {
            <tr>
                @if (ViewBag.CommandName != "VIEW")
                {
                    <td colspan="6">No Record Found</td>
                }
                else
                {
                    <td colspan="6">No Record Found</td>
                }
            </tr>
        }
    </tbody>
</table>