@model List<RightsU_Entities.USPAL_GetDeliveryTrackingList_Result>
@using UTOFrameWork.FrameworkClasses
@{
    /**/

    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}
<script>

    $(document).ready(function () {
        $('#chkAll').on("click", function () {
            debugger;
            var IsCheck = $(this).prop("checked");
            $('.checkboxLst').prop('checked', IsCheck);

            if ($('.checkboxLst:checked').length > 0) {
                $("#EditableFields :input").prop("disabled", false);
            }
            else {
                ClearInputs();
                $("#EditableFields :input").prop("disabled", true);
            }
        });

        $('.checkbox').on("click", function () {
            debugger;
            if ($('.checkbox:checked').length == $('.checkbox').length) {
                $('#chkAll').prop('checked', true);
            } else {
                $('#chkAll').prop('checked', false);
            }

            if ($('.checkboxLst:checked').length > 0) {
                $("#EditableFields :input").prop("disabled", false);
            }
            else {
                ClearInputs();
                $("#EditableFields :input").prop("disabled", true);   
            }
        });
        $("#EditableFields :input").prop("disabled", true);
    })

</script>
<style>

    div.scrollmenu {
        white-space: nowrap;
    }

    thead th {
        background: #2b64a5;
        color: #FFF;
        z-index: 1;
        position: sticky;
        top: -5px;
        height: 35px;
    }

</style>

@{
    int counter = 0;
    <div id="AllsubmenuHide" dir=@objMessageKey.LayoutDirection class="scrollmenu">
        <table class="table table-bordered table-hover" id="tblMoviesList">
            <thead>

                @if (Model.Count() > 0)
                {
                    <tr class="TableHeader">
                        <th width="100px" style="width:5%; text-align:center"><input type="checkbox" id="chkAll" /></th>
                        <th style="width:15%">@Model[0].Title_Name</th>
                        <th style="width:15%">@Model[0].COL1</th>
                        <th style="width:15%">@Model[0].COL2</th>
                        <th style="width:10%">@Model[0].COL3</th>
                        <th style="width:12%">@Model[0].COL4</th>
                        <th style="width: 10%;">@Model[0].COL5</th>
                        <th style="width: 10%;">@Model[0].COL6</th>
                        <th style="width: 10%;">@Model[0].COL7</th>
                        <th style="width: 10%;">@Model[0].COL8</th>
                        <th style="width: 10%;">@Model[0].COL9</th>
                        <th style="width: 10%;">@Model[0].COL10</th>
                        <th style="width: 10%;">@Model[0].COL11</th>
                        <th style="width: 10%;">@Model[0].COL12</th>
                        <th style="width: 10%;">@Model[0].COL13</th>
                        @if (ViewBag.TabName == "S")
                        {
                            <th style="width: 10%;">@Model[0].COL14</th>
                            <th style="width: 10%;">@Model[0].COL15</th>
                            <th style="width: 10%;">@Model[0].COL16</th>
                            <th style="width: 10%;">@Model[0].COL17</th>
                        }
                        @if (ViewBag.TabName == "M")
                        {
                            <th style="width: 10%;">@Model[0].COL14</th>
                        }

                    </tr>

                }

            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    if (ViewBag.TabName == "M")
                    {
                        for (int item = 0; item < Model.Count() - 1; item++)
                        {
                            counter += 1;
                            <tr id="@Model[item+1].AL_Material_Tracking_Code">
                                <td style="text-align:center !important; width:15%;">
                                    <input type="checkbox" id="chk_@Model[item+1].AL_Material_Tracking_Code" class="checkbox checkboxLst" value="@Model[item+1].AL_Material_Tracking_Code" />
                                    @Html.Hidden("hdnCnt", Model[item + 1].AL_Material_Tracking_Code, new { id = counter + "_hdnCnt" })

                                </td>
                                <td>
                                    <span>
                                        @Model[item + 1].Title_Name
                                    </span>
                                </td>
                                <td>
                                    @Model[item + 1].COL1
                                </td>
                                <td style="text-align:center">
                                    @Model[item + 1].COL2
                                </td>
                                <td style="text-align:center">
                                    @Model[item + 1].COL3
                                </td>
                                @*
                                    <td>
                                        @Model[item + 1].COL4
                                    </td>*@
                                <td style="text-align:center" id="tdPOStatus_@Model[item + 1].AL_Material_Tracking_Code">
                                    <span id="spanPOStatus_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL4</span>
                                    <input type="hidden" name="name" value="@Model[item + 1].COL4" id="hdnPOStatus_@Model[item + 1].AL_Material_Tracking_Code" />
                                    <input type="hidden" name="name" value="@counter" id="hdnCounterPOStatus_@Model[item + 1].AL_Material_Tracking_Code" />
                                </td>
                                <td>
                                    @Model[item + 1].COL5
                                </td>
                                <td>
                                    @Model[item + 1].COL6
                                </td>
                                <td style="text-align:center" id="tdDeliveryDate_@Model[item + 1].AL_Material_Tracking_Code">
                                    <span id="spanDeliveryDate_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL7</span>
                                    <input type="hidden" name="name" value="@Model[item + 1].COL7" id="hdnDeliveryDate_@Model[item + 1].AL_Material_Tracking_Code" />
                                    <input type="hidden" name="name" value="@counter" id="hdnCounterDeliveryDate_@Model[item + 1].AL_Material_Tracking_Code" />
                                </td>
                                <td style="text-align:center" id="tdPoster_@Model[item + 1].AL_Material_Tracking_Code">
                                    <span id="spanPoster_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL8</span>
                                    <input type="hidden" name="name" value="@Model[item + 1].COL8" id="hdnPoster_@Model[item + 1].AL_Material_Tracking_Code" />
                                    <input type="hidden" name="name" value="@counter" id="hdnCounterPoster_@Model[item + 1].AL_Material_Tracking_Code" />
                                </td>
                                <td style="text-align:center" id="tdStill_@Model[item + 1].AL_Material_Tracking_Code">
                                    <span id="spanStill_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL9</span>
                                    <input type="hidden" name="name" value="@Model[item + 1].COL9" id="hdnStill_@Model[item + 1].AL_Material_Tracking_Code" />
                                    <input type="hidden" name="name" value="@counter" id="hdnCounterStill_@Model[item + 1].AL_Material_Tracking_Code" />
                                </td>
                                <td style="text-align:center" id="tdTrailer_@Model[item + 1].AL_Material_Tracking_Code">
                                    <span id="spanTrailer_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL10</span>
                                    <input type="hidden" name="name" value="@Model[item + 1].COL10" id="hdnTrailer_@Model[item + 1].AL_Material_Tracking_Code" />
                                    <input type="hidden" name="name" value="@counter" id="hdnCounterTrailer_@Model[item + 1].AL_Material_Tracking_Code" />
                                </td>
                                <td>
                                    @Model[item + 1].COL11
                                </td>
                                <td style="text-align:center" id="tdEditedPoster_@Model[item + 1].AL_Material_Tracking_Code">
                                    <span id="spanEditedPoster_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL12</span>
                                    <input type="hidden" name="name" value="@Model[item + 1].COL12" id="hdnEditedPoster_@Model[item + 1].AL_Material_Tracking_Code" />
                                    <input type="hidden" name="name" value="@counter" id="hdnCounterEditedPoster_@Model[item + 1].AL_Material_Tracking_Code" />
                                </td>
                                <td style="text-align:center" id="tdEditedStill_@Model[item + 1].AL_Material_Tracking_Code">
                                    <span id="spanEditedStill_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL13</span>
                                    <input type="hidden" name="name" value="@Model[item + 1].COL13" id="hdnEditedStill_@Model[item + 1].AL_Material_Tracking_Code" />
                                    <input type="hidden" name="name" value="@counter" id="hdnCounterEditedStill_@Model[item + 1].AL_Material_Tracking_Code" />
                                </td>
                                <td>
                                    @Model[item + 1].COL14
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        for (int item = 0; item < Model.Count() - 1; item++)
                        {
                            counter += 1;
                            <tr id="@Model[item+1].AL_Material_Tracking_Code">
                                <td style="text-align:center; width:15%; text-align:center !important">
                                    <input type="checkbox" id="chk_@Model[item+1].AL_Material_Tracking_Code" class="checkbox checkboxLst" value="@Model[item+1].AL_Material_Tracking_Code" />
                                    @Html.Hidden("hdnCnt", Model[item + 1].AL_Material_Tracking_Code, new { id = counter + "_hdnCnt" })

                                </td>
                                <td>
                                    <span>
                                        @Model[item + 1].Title_Name
                                    </span>
                                </td>
                                <td style="text-align:center">
                                    @Model[item + 1].COL1
                                </td>
                                <td style="text-align:center">
                                    @Model[item + 1].COL2
                                </td>
                                <td>
                                    @Model[item + 1].COL3
                                </td>
                                <td>
                                    @Model[item + 1].COL4
                                </td>
                                <td>
                                    @Model[item + 1].COL5
                                </td>
                                <td>
                                    @Model[item + 1].COL6
                                </td>
                                @*
                                    <td>
                                        @Model[item + 1].COL7
                                    </td>*@
                                <td style="text-align:center" id="tdPOStatus_@Model[item + 1].AL_Material_Tracking_Code">
                                    <span id="spanPOStatus_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL7</span>
                                    <input type="hidden" name="name" value="@Model[item + 1].COL7" id="hdnPOStatus_@Model[item + 1].AL_Material_Tracking_Code" />
                                    <input type="hidden" name="name" value="@counter" id="hdnCounterPOStatus_@Model[item + 1].AL_Material_Tracking_Code" />
                                </td>
                                <td>
                                    @Model[item + 1].COL8
                                </td>
                                <td>
                                    @Model[item + 1].COL9
                                </td>
                                <td style="text-align:center" id="tdDeliveryDate_@Model[item + 1].AL_Material_Tracking_Code">
                                    <span id="spanDeliveryDate_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL10</span>
                                    <input type="hidden" name="name" value="@Model[item + 1].COL10" id="hdnDeliveryDate_@Model[item + 1].AL_Material_Tracking_Code" />
                                    <input type="hidden" name="name" value="@counter" id="hdnCounterDeliveryDate_@Model[item + 1].AL_Material_Tracking_Code" />
                                </td>
                                <td style="text-align:center" id="tdPoster_@Model[item + 1].AL_Material_Tracking_Code">
                                    <span id="spanPoster_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL11</span>
                                    <input type="hidden" name="name" value="@Model[item + 1].COL11" id="hdnPoster_@Model[item + 1].AL_Material_Tracking_Code" />
                                    <input type="hidden" name="name" value="@counter" id="hdnCounterPoster_@Model[item + 1].AL_Material_Tracking_Code" />
                                </td>
                                <td style="text-align:center" id="tdStill_@Model[item + 1].AL_Material_Tracking_Code">
                                    <span id="spanStill_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL12</span>
                                    <input type="hidden" name="name" value="@Model[item + 1].COL12" id="hdnStill_@Model[item + 1].AL_Material_Tracking_Code" />
                                    <input type="hidden" name="name" value="@counter" id="hdnCounterStill_@Model[item + 1].AL_Material_Tracking_Code" />
                                </td>
                                <td style="text-align:center" id="tdTrailer_@Model[item + 1].AL_Material_Tracking_Code">
                                    <span id="spanTrailer_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL13</span>
                                    <input type="hidden" name="name" value="@Model[item + 1].COL13" id="hdnTrailer_@Model[item + 1].AL_Material_Tracking_Code" />
                                    <input type="hidden" name="name" value="@counter" id="hdnCounterTrailer_@Model[item + 1].AL_Material_Tracking_Code" />
                                </td>
                                <td>
                                    @Model[item + 1].COL14
                                </td>
                                <td style="text-align:center" id="tdEditedPoster_@Model[item + 1].AL_Material_Tracking_Code">
                                    <span id="spanEditedPoster_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL15</span>
                                    <input type="hidden" name="name" value="@Model[item + 1].COL15" id="hdnEditedPoster_@Model[item + 1].AL_Material_Tracking_Code" />
                                    <input type="hidden" name="name" value="@counter" id="hdnCounterEditedPoster_@Model[item + 1].AL_Material_Tracking_Code" />
                                </td>
                                <td style="text-align:center" id="tdEditedStill_@Model[item + 1].AL_Material_Tracking_Code">
                                    <span id="spanEditedStill_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL16</span>
                                    <input type="hidden" name="name" value="@Model[item + 1].COL16" id="hdnEditedStill_@Model[item + 1].AL_Material_Tracking_Code" />
                                    <input type="hidden" name="name" value="@counter" id="hdnCounterStill_@Model[item + 1].AL_Material_Tracking_Code" />
                                </td>
                                <td>
                                    @Model[item + 1].COL17
                                </td>
                            </tr>
                        }
                    }
                }
                else
                {
                    <tr>
                        <td colspan="9">@objMessageKey.Norecordfound</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
