@model List<RightsU_Entities.USPAL_GetDeliveryTrackingList_Result>
@using UTOFrameWork.FrameworkClasses
@{
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}
<script>
    $(document).ready(function () {



    });

</script>
@{
    int counter = 0;
    <table class="table table-bordered table-hover" id="tblMoviesList">
        <thead>

            @if (Model.Count() > 0)
            {
                <tr>
                    <th style="width:5%;"><input type="checkbox" id="chkAll" /></th>
                    <th style="width:15%">@Model[0].Title_Name</th>
                    <th style="width:15%">@Model[0].COL1</th>
                    <th style="width:15%">@Model[0].COL2</th>
                    <th style="width:10%">@Model[0].COL3</th>
                    <th style="width:12%">@Model[0].COL4</th>
                    <th style="width: 10%;">@Model[0].COL5</th>
                    <th style="width: 10%;">@Model[0].COL6</th>
                    <th style="width: 10%;">@Model[0].COL7</th>
                    <th style="width: 10%;">@Model[0].COL8</th>
                    <th style="width: 10%;">@Model[0].COL9</th>
                    <th style="width: 10%;">@Model[0].COL10</th>
                    <th style="width: 10%;">@Model[0].COL11</th>
                    <th style="width: 10%;">@Model[0].COL12</th>
                    <th style="width: 10%;">@Model[0].COL13</th>
                </tr>
            }

        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                //foreach (var item in Model)
                for (int item = 0; item < Model.Count() - 1; item++)
                {
                    //counter += 1;
                    <tr id="@Model[item+1].AL_Material_Tracking_Code">
                        <td style="text-align:center; width:15%; text-align:center !important">
                            <input type="checkbox" id="chk_@Model[item+1].AL_Material_Tracking_Code" class="checkbox" value="@Model[item+1].AL_Material_Tracking_Code" />
                            @Html.Hidden("hdnCnt", Model[item + 1].AL_Material_Tracking_Code, new { id = counter + "_hdnCnt" })

                        </td>
                        <td>
                            <span>
                                @Model[item + 1].Title_Name
                            </span>
                        </td>
                        <td>
                            @Model[item + 1].COL1
                        </td>
                        <td style="text-align:center">
                            @Model[item + 1].COL2
                        </td>
                        <td style="text-align:center">
                            @Model[item + 1].COL3
                        </td>
                        <td>
                            @Model[item + 1].COL4
                        </td>
                        <td>
                            @Model[item + 1].COL5
                        </td>
                        <td>
                            @Model[item + 1].COL6
                        </td>
                        <td style="text-align:center" id="tdDeliveryDate_@Model[item + 1].AL_Material_Tracking_Code">
                            <span id="spanDeliveryDate_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL7</span>
                            <input type="hidden" name="name" value="@Model[item + 1].COL7" id="hdnDeliveryDate_@Model[item + 1].AL_Material_Tracking_Code" />
                        </td>
                        <td style="text-align:center" id="tdPoster_@Model[item + 1].AL_Material_Tracking_Code">
                            <span id="spanPoster_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL8</span>
                            <input type="hidden" name="name" value="@Model[item + 1].COL8" id="hdnPoster_@Model[item + 1].AL_Material_Tracking_Code" />
                        </td>
                        <td style="text-align:center" id="tdStill_@Model[item + 1].AL_Material_Tracking_Code">
                            <span id="spanStill_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL9</span>
                            <input type="hidden" name="name" value="@Model[item + 1].COL9" id="hdnStill_@Model[item + 1].AL_Material_Tracking_Code" />
                        </td>
                        <td style="text-align:center" id="tdTrailer_@Model[item + 1].AL_Material_Tracking_Code">
                            <span id="spanTrailer_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL10</span>
                            <input type="hidden" name="name" value="@Model[item + 1].COL10" id="hdnTrailer_@Model[item + 1].AL_Material_Tracking_Code" />
                        </td>
                        <td>
                            @Model[item + 1].COL11
                        </td>
                        <td style="text-align:center" id="tdEditedPoster_@Model[item + 1].AL_Material_Tracking_Code">
                            <span id="spanEditedPoster_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL12</span>
                            <input type="hidden" name="name" value="@Model[item + 1].COL12" id="hdnEditedPoster_@Model[item + 1].AL_Material_Tracking_Code" />
                        </td>
                        <td style="text-align:center" id="tdEditedStill_@Model[item + 1].AL_Material_Tracking_Code">
                            <span id="spanEditedStill_@Model[item + 1].AL_Material_Tracking_Code">@Model[item + 1].COL13</span>
                            <input type="hidden" name="name" value="@Model[item + 1].COL13" id="hdnEditedStill_@Model[item + 1].AL_Material_Tracking_Code" />
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9">@objMessageKey.Norecordfound</td>
                </tr>
            }

        </tbody>
    </table>
}