
@using UTOFrameWork.FrameworkClasses
@{
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }

    RightsU_Plus.Controllers.PoDetails objPoDetails = new RightsU_Plus.Controllers.PoDetails();
    if (Session["objPoD"] != null)
    {
        objPoDetails = (RightsU_Plus.Controllers.PoDetails)Session["objPoD"];
    }
}

<script>
    var POCode = "", PRCode = "", sort_Type = "T", TabName = "MV", IncludeHoldover = "N";

    var URL_SearchPoDetails = '@Url.Action("SearchPoDetails", "PurchaseOrder")';
    var URL_BindMovieTabData = '@Url.Action("BindMovieTabData", "PurchaseOrder")';
    var URL_BindShowTabData = '@Url.Action("BindShowTabData", "PurchaseOrder")';
    var URL_GetPurchaseOrderDetailStatus = '@Url.Action("GetPurchaseOrderDetailStatus", "PurchaseOrder")';
    var URL_ValidateDownload = '@Url.Action("ValidateDownload", "PurchaseOrder")';

    $(document).ready(function () {
        addNumeric();

        $('.checkbox-inline').on("click", function () {
            debugger;
            var PoCode = $("#HiddenPoCode").val();
            var PrCode = $("#HiddenPrCode").val();
            if ($(this).prop("checked")) {
                //var searchText = "Holdover";
                IncludeHoldover = "Y"
                $('#txtPageSize_POD').val(10)
                SearchPoDetails(IncludeHoldover, TabName,PoCode, PrCode)
            }
            else {
                IncludeHoldover = "N"
                $('#txtPageSize_POD').val(10)
                SearchPoDetails(IncludeHoldover, TabName, PoCode, PrCode);
            }
        });
    });

    function addNumeric() {
        debugger;
        $(".pagingSize").numeric({
            allowMinus: false,
            allowThouSep: false,
            allowDecSep: false,
            max: 99,
            min: 1
        });
    }

    function OpenTab(NewTab, PoCode, PrCode) {
        debugger;
        if (NewTab == "MV") {
            $("[id*='tab']").removeClass('active');
            $("#tabMovie").addClass('active');
            $("#Holdover").prop("checked", false);
            TabName = NewTab;
        }
        else if (NewTab == "SH") {
            $("[id*='tab']").removeClass('active');
            $("#tabShow").addClass('active');
            $("#Holdover").prop("checked", false);
            TabName = NewTab;
        }

        $('#txtPageSize_POD').val(10)
        SearchPoDetails(IncludeHoldover, TabName, PoCode, PrCode);
    }

    function SearchPoDetails(IncludeHoldover, TabName, PoCode, PrCode) {
        debugger;
        //$('#searchCommon_POD').val(IncludeHoldover);

        $.ajax({
            type: "POST",
            url: URL_SearchPoDetails,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                //searchText: searchText,
                IncludeHoldover: IncludeHoldover,
                TabName: TabName,
                Purchase_Order_Code: PoCode,
                Proposal_Code: PrCode
            }),
            async: false,
            success: function (result) {
                debugger;
                $('#hdnPageNo_POD').text(1);
                $('#hdnPageNo_POD').val(1);
                $('#lblRecordCount_POD').text(result.Record_Count);
                $("#hdnRecordCount_POD").val(result.Record_Count);
                //$("#IsSearched").val(result.Is_Search);
                //IsSearch = result.Is_Search;
                POCode = PoCode;
                PRCode = PrCode;
                SetPaging_POD();
                if (TabName == "MV") {
                    //BindMovieTabData(PoCode)
                    BindMovieTabData()
                }
                if (TabName == "SH") {
                    //BindShowTabData(PoCode)
                    BindShowTabData()
                }
            }
        });
    }

    function BindMovieTabData(/*PoCode, PRCode*/) {
        debugger;

        var pageNo = $('#hdnPageNo_POD').val();
        var recordPerPage = $('#txtPageSize_POD').val();

        $.ajax({
            type: "POST",
            url: URL_BindMovieTabData,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                //Purchase_Order_Code: PoCode,
                //Propsal_Code: PRCode,
                pageNo: pageNo,
                recordPerPage: recordPerPage,
                sortType: sort_Type
            }),
            success: function (result) {
                debugger;
                $('#divBindTab').empty();
                $('#divBindTab').html(result);
                CheckPendingStatusForPod();
                //initializeTooltip();
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
            }
        });
    }

    function BindShowTabData(/*PoCode, PRCode*/) {
        debugger;

        var pageNo = $('#hdnPageNo_POD').val();
        var recordPerPage = $('#txtPageSize_POD').val();

        $.ajax({
            type: "POST",
            url: URL_BindShowTabData,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                //Purchase_Order_Code: PoCode,
                //Propsal_Code: PRCode,
                pageNo: pageNo,
                recordPerPage: recordPerPage,
                sortType: sort_Type
            }),
            success: function (result) {
                debugger;
                $('#divBindTab').empty();
                $('#divBindTab').html(result);
                CheckPendingStatusForPod();
                //initializeTooltip();
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
            }
        });
    }

    function SetPaging_POD() {
        debugger;
        IsCall = 'N';
        var pageNo = parseInt($('#hdnPageNo_POD').val());
        var recordCount = parseInt($('#hdnRecordCount_POD').val());
        var pagePerBatch = parseInt($('#hdnPagePerBatch_POD').val());
        var recordPerPage = parseInt($('#txtPageSize_POD').val());

        var cnt = pageNo * recordPerPage;
        if (cnt >= recordCount) {
            var v1 = parseInt(recordCount / recordPerPage);
            if ((v1 * recordPerPage) == recordCount)
                pageNo = v1;
            else
                pageNo = v1 + 1;
        }

        if (pageNo == 0)
            pageNo = 1;

        var index = pageNo - 1;
        $('#hdnPageNo_POD').val(pageNo);

        var opt = null;
        opt = { callback: pageselectCallback };
        opt["items_per_page"] = recordPerPage;
        opt["num_display_entries"] = pagePerBatch;
        opt["num"] = 10;
        opt["prev_text"] = "<<";
        opt["next_text"] = ">>";
        opt["current_page"] = index;
        $("#Pagination_POD").pagination(recordCount, opt);
    }

    function pageselectCallback(page_index, jq) {
        debugger;
        $('.required').removeClass('required');

        if (!ValidatePageSize_POD())
            return false;

        var pageNo = page_index + 1
        $('#hdnPageNo_POD').val(pageNo);
        if (IsCall == 'Y') {
            if (TabName == "MV") {
                //BindMovieTabData(POCode)
                BindMovieTabData()
            }
            if (TabName == "SH") {
                //BindShowTabData(POCode)
                BindShowTabData()
            }
        }
        else
            IsCall = 'Y';
    }

    function txtPageSize_POD_OnChange() {
        debugger;
        $("[required='required']").removeAttr("required");
        $('.required').removeClass('required');
        if (!ValidatePageSize_POD())
            return false;

        if (TabName == "MV") {
            //BindMovieTabData(POCode)
            BindMovieTabData()
        }
        if (TabName == "SH") {
            //BindShowTabData(POCode)
            BindShowTabData()
        }
        SetPaging_POD();
    }

    function ValidatePageSize_POD() {
        debugger;
        var recordPerPage = $('#txtPageSize_POD').val()
        if ($(recordPerPage) != '') {
            var pageSize = parseInt(recordPerPage);
            if (pageSize > 0)
                return true;
        }
        $('#txtPageSize_POD').attr('required', true)
        return false
    }

    function ValidateDownload(PurchaseOrderDetailCode) {
        debugger;
        $.ajax({
            type: "POST",
            url: URL_ValidateDownload,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                PurchaseOrderDetailCode: PurchaseOrderDetailCode
            }),
            success: function (result) {
                debugger;
                if (result.path == "")
                    showAlert('E', "File Not Found");
                else {
                    debugger;
                    DownloadFile(PurchaseOrderDetailCode);
                }

            },
            error: function (result) {
                alert('Error: ' + result.responseText);
            }
        });
    }

    function DownloadFile(PurchaseOrderDetailCode) {
        debugger;
        window.location.href = '@Url.Action("DownloadFile", "PurchaseOrder")?PurchaseOrderDetailCode=' + PurchaseOrderDetailCode;
    }

    function CheckPendingStatusForPod() {
        //debugger;
        var pendingRecord = 0;
        $(".deal_actionDt").each(function () {
            debugger;

            var SiblingClass = $(this).attr('class').split(' ')[1];
            if (isNaN(SiblingClass.substr(SiblingClass.length - 1))) {
                var PurchaseOrderDetailCode = SiblingClass.slice(14, SiblingClass.length - 1);

                if (SiblingClass.substr(SiblingClass.length - 1) == 'I' || SiblingClass.substr(SiblingClass.length - 1) == 'P' ) {
                    $.ajax({
                        type: "POST",
                        url: URL_GetPurchaseOrderDetailStatus,
                        traditional: true,
                        enctype: 'multipart/form-data',
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        data: JSON.stringify({
                            PurchaseOrderDetailCode: PurchaseOrderDetailCode
                        }),
                        success: function (result) {
                            debugger;
                            if (result == "true") {
                                redirectToLogin();
                            }
                            if (result.RecordStatus == "P" || result.RecordStatus == "I") {
                                $("#imgLoadingPOD_" + PurchaseOrderDetailCode).css("display", '');
                                pendingRecord++;

                                var status = '<span>In Progress</span>'

                                if (SiblingClass.substr(SiblingClass.length - 1) == 'I') {
                                    $('.clsTdStatusdtPOD_' + PurchaseOrderDetailCode + 'I').empty();
                                    $('.clsTdStatusdtPOD_' + PurchaseOrderDetailCode + 'I').append(status);
                                }
                                else {
                                    $('.clsTdStatusdtPOD_' + PurchaseOrderDetailCode + 'P').empty();
                                    $('.clsTdStatusdtPOD_' + PurchaseOrderDetailCode + 'P').append(status);
                                }
                            }
                            else if (result.RecordStatus == "C") {
                                $("#imgLoadingPOD_" + PurchaseOrderDetailCode).css("display", 'none');
                                $('.' + SiblingClass).empty();

                                var a = '<a title="Download" class="glyphicon glyphicon-save" style="cursor:pointer;" onclick="ValidateDownload(' + PurchaseOrderDetailCode + ')"></a>';
                                $('.' + SiblingClass).append(a);

                                var status = '<span>Success</span>'

                                if (SiblingClass.substr(SiblingClass.length - 1) == 'I') {
                                    $('.clsTdStatusdtPOD_' + PurchaseOrderDetailCode + 'I').empty();
                                    $('.clsTdStatusdtPOD_' + PurchaseOrderDetailCode + 'I').append(status);
                                }
                                else {
                                    $('.clsTdStatusdtPOD_' + PurchaseOrderDetailCode + 'P').empty();
                                    $('.clsTdStatusdtPOD_' + PurchaseOrderDetailCode + 'P').append(status);
                                }
                                //initializeTooltip();
                            }
                        },
                        error: function (result) {
                        }
                    });
                }
                initializeTooltip();
            }
        });

        //if (pendingRecord > 0) {
        setTimeout(CheckPendingStatusForPod, 5000);
        //}
    }

</script>

<script>
    var URL_ApproveOrReject = '@Url.Action("ApproveOrReject", "PurchaseOrder")';
    var URL_PurchaseOrderList = '@Url.Action("Index", "PurchaseOrder")';

    function ApproveReject(UserAction,PoCode) {
        debugger;

        var Remark = $("#txtRemark").val();
        if (Remark == "") {
            $('#txtRemark').val('').attr('required', true)
            return false;
        }

        $.ajax({
            type: "POST",
            url: URL_ApproveOrReject,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                PurchaseOrderCode: PoCode,
                Remark: Remark,
                User_Action: UserAction
            }),
            success: function (result) {
                debugger;
                if (result.Status == "S") {
                    showAlert("S", result.Message);
                    //SearchPOList("");
                    window.location.href = URL_PurchaseOrderList
                }
                else {
                    showAlert("E", result.Message);
                }
            }
        });
    }

</script>

<script>
    var sort_Type = "T";

    var URL_OpenStatusHistoryPopup = '@Url.Action("OpenStatusHistoryPopup", "PurchaseOrder")';
    var URL_SearchStatusHistory = '@Url.Action("SearchStatusHistory", "PurchaseOrder")';
    var URL_BindStatusHistoryList = '@Url.Action("BindStatusHistoryList", "PurchaseOrder")';

    function OpenStatusHistoryPopup(PurchaseOrderCode) {
        debugger;
        $.ajax({
            type: "POST",
            url: URL_OpenStatusHistoryPopup,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                PurchaseOrderCode: PurchaseOrderCode
            }),
            async: false,
            success: function (result) {
                debugger;
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    $('#StatusHistoryPopup').modal();
                    $('#StatusHistoryPopupHtml').empty();
                    $('#StatusHistoryPopupHtml').html(result);
                    SearchStatusHistory(PurchaseOrderCode);
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
                hideLoading();
            }
        });
    }

    function SearchStatusHistory(PurchaseOrderCode) {
        debugger;
        showLoading();
        $.ajax({
            type: "POST",
            url: URL_SearchStatusHistory,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                PurchaseOrderCode: PurchaseOrderCode
            }),
            async: false,
            success: function (result) {
                debugger;
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    $('#hdnPageNo_MSH').text(1);
                    $('#hdnPageNo_MSH').val(1);
                    $('#lblRecordCount_MSH').text(result.Record_Count);
                    $("#hdnRecordCount_MSH").val(result.Record_Count);
                    SetPaging_MSH()
                    BindStatusHistoryList();
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
                hideLoading();
            }
        });
    }

    function BindStatusHistoryList() {
        debugger;
        var pageNo = $('#hdnPageNo_MSH').val();
        var recordPerPage = $('#txtPageSize_MSH').val();

        $.ajax({
            type: "POST",
            url: URL_BindStatusHistoryList,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                pageNo: pageNo,
                recordPerPage: recordPerPage,
                sortType: sort_Type
            }),
            async: false,
            success: function (result) {
                debugger;
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    $('#divStatusHistoryList').empty();
                    $('#divStatusHistoryList').html(result);
                    hideLoading();
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
                hideLoading();
            }
        });
    }

    function ClosePopup() {
        debugger;
        $('#StatusHistoryPopup').modal('hide');
        $('#StatusHistoryPopupHtml').empty();
    }

</script>

<div>
    <div class="acq main_col">
        <div class="top_area">
            <div class="title_block clearfix">
                <h2 class="pull-left">
                    Purchase Order Details
                </h2>
            </div>
        </div>
        <div class="search_area" style="background-color: #eee; padding:5px;">
            <table class="table">
                <tr>
                    <td style="width:5%; vertical-align: middle; text-align:right;">
                        <b>Client Name :</b>
                    </td>
                    <td style="width:10%; vertical-align:middle; text-align:left;">
                        <span>@objPoDetails.Client_Name</span>
                    </td>
                    <td style="width:10%; vertical-align: middle; text-align:right;">
                        <b>Booking Sheet No :</b>
                    </td>
                    <td style="width:10%; vertical-align: middle; text-align:left;">
                        <span>@objPoDetails.Booking_sheet_No</span>
                    </td>
                    <td style="width:10%; text-align:center;" rowspan="2">
                        <input type="button" class="btn btn-primary" style="vertical-align:middle; margin-top:3%;" value="Status History" onclick="OpenStatusHistoryPopup(@objPoDetails.Purchase_Order_Code);" />
                    </td>
                </tr>
                <tr>
                    <td style="width:5%; vertical-align: middle; text-align:right;">
                        <b>Proposal - CY :</b>
                    </td>
                    <td style="width:10%; vertical-align:middle; text-align:left;">
                        <span>@objPoDetails.Proposal_Cy</span>
                    </td>
                    <td style="width:10%; vertical-align: middle; text-align:right;">
                        <b>Created On :</b>
                    </td>
                    <td style="width:10%; vertical-align: middle; text-align:left;">
                        <span>@objPoDetails.Created_On</span>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <div class="paging_area clearfix">
                <span class="pull-left">Total Records: </span>
                <span class="pull-left" id="lblRecordCount_POD"></span>
                <input type="hidden" id="hdnPageNo_POD" name="hdnPageNo" value="1" />
                <input type="hidden" id="hdnPagePerBatch_POD" name="hdnPagePerBatch" value="5" />
                <input type="hidden" id="hdnRecordCount_POD" name="hdnRecordCount" value="0" />
                @*<input type="hidden" name="srchCommon" id="searchCommon_POD" class="search" />*@

                <div id="Pagination_POD" class="pagination">
                </div>
                <span class="pull-right">
                    Page Size:
                    <input type="text" id="txtPageSize_POD" name="txtPageSize" class="smallTextBox pagingSize" value="10" autocomplete="off" onchange="txtPageSize_POD_OnChange()" onblur="setDefaultPaging('txtPageSize')">
                </span>
            </div>
            <div class="grid_area">
                <div class="navigation_tabs">
                    <div class="tabbable" id="divAlternateConfig">
                        <div class="pull-right" style="padding-right:100px;">
                            <input type="checkbox" id="Holdover" class="checkbox-inline" />
                            <input type="hidden" id="HiddenPoCode" value="@objPoDetails.Purchase_Order_Code" />
                            <input type="hidden" id="HiddenPrCode" value="@objPoDetails.Proposal_Code" />
                            <b>Include Holdover</b>
                        </div>
                        <input type="hidden" id="hdnTabName" value="TA" />
                        <ul class="nav nav-tabs nav-tab pull-left" id="ulalternate">
                            <li class="active" id="tabMovie">
                                <a data-toggle="tab" href="#" role="tab" data-tabname="TA" data-configitem="0" onclick="OpenTab('MV','@objPoDetails.Purchase_Order_Code','@objPoDetails.Proposal_Code')">@objMessageKey.Movies</a>
                            </li>
                            <li id="tabShow">
                                <a data-toggle="tab" href="#" role="tab" data-tabname="TA" data-configitem="0" onclick="OpenTab('SH','@objPoDetails.Purchase_Order_Code','@objPoDetails.Proposal_Code')">@objMessageKey.TVShows</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content clearfix table-wrapper scale_table_container">
                <div class="scale_table_block" style="max-height: 400px;overflow-y: auto;">
                    <input type="hidden" id="hdnAction" value="" />
                    <input type="hidden" id="hdnRecodLockingCode" name="hdnRecodLockingCode" value="0" />
                    <div id="divBindTab" class="deal clearfix">

                    </div>
                </div>
            </div>
            @if (ViewBag.ViewName == "ARView")
            {
                <div class="scale_table_block" style="padding-top:10px;">
                    <div class="divBlock">
                        <div class="bold" style="padding-right: 87%;">Remarks:</div>
                        <div class="charNum">0/4000</div>
                    </div>
                    <textarea class="textarea" cols="20" id="txtRemark" style="max-height:100px;" name="Remarks" onkeyup="countChar(this)" row="2"></textarea>
                </div>
            }

            <div style="margin:20px; text-align:left">
                @if (ViewBag.ViewName == "ARView")
                {
                    <input type="button" class="btn btn-primary" value="@objMessageKey.Approve" onclick="ApproveReject('A', @objPoDetails.Purchase_Order_Code);" />
                    <input type="button" class="btn btn-primary" value="@objMessageKey.Reject" onclick="ApproveReject('R', @objPoDetails.Purchase_Order_Code);" />
                }
                @Html.ActionLink("Back To List", "Index", "PurchaseOrder", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

<div aria-labelledby="myModalLabel" class="form_wrapper modal fade big_popup" id="StatusHistoryPopup" role="dialog" tabindex="-1" aria-hidden="true" style="display: none;max-width:80%">
    <div class="modal-dialog">
        <div class="modal-content clearfix">
            <div class="form_fields acq" id="StatusHistoryPopupHtml">

            </div>
        </div>
    </div>
</div>

