@model List<RightsU_Entities.USPAL_GetBookingsheetDataForLoadsheet_Result>
@{
    int counter = 0;
    <table class="table table-bordered table-hover" id="tblBookingSheet">
        <thead>
            <tr>
                @if (ViewBag.CommandName != "VIEW")
                {
                    <th style="width:5%;"><input type="checkbox" id="chkAll" /></th>
                }
                <th style="width:20%;">Client Name</th>
                <th style="width:25%;">Booking Sheet No.</th>
                <th style="width:30%;">Proposal Cycle</th>
                <th style="width:20%;">Cycle</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {

                foreach (var item in Model)
                {
                    counter += 1;
                    <tr>
                        @if (ViewBag.CommandName != "VIEW")
                        {
                            <td style="width:5%; text-align:center;">
                                <input type="checkbox" id="chk_@item.AL_Booking_Sheet_Code" class="checkbox" />
                                @Html.Hidden("hdnCnt", item.AL_Booking_Sheet_Code, new { id = counter + "_hdnCnt" })

                            </td>
                        }
                        <td>@item.Vendor_Name</td>
                        <td>@item.Booking_Sheet_No</td>
                        <td>@item.Proposal_Cycle</td>
                        <td>@item.Cycle</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7">No recordfound</td>
                </tr>
            }
        </tbody>
    </table>
}
