@model RightsU_Entities.Acq_Deal_Rights_Holdback

<script type="text/javascript">

    $(document).ready(function () {
        $('#HB_Run_After_Release_No').numeric({
            allowMinus: false,
            allowThouSep: false,
            allowDecSep: false,
            maxPreDecimalPlaces: 2,
            maxDecimalPlaces: 0
        });

        if ('@ViewBag.CommandName_HB' == 'E') {
            $('#hdnPlatform_Codes_HB').val('@ViewBag.SelectedPlatForm');

            if ('@Model.Is_Title_Language_Right' == 'Y')
                $('#chk_Is_Title_Language_Right').prop('checked', true);
            else
                $('#chk_Is_Title_Language_Right').prop('checked', false);

            $('#hdnHoldbackType').val('@Model.Holdback_Type');
            var Holdback_Comment = document.getElementById('Holdback_Comment');
            countChar(Holdback_Comment);
        }

        $('#hdnHBCounter').val('@ViewBag.DummyProperty');
        initializeExpander();
        //setChosenWidth('#lstReleaseUnit', '150px');
        //setChosenWidth('#ddlHoldBackOnPlatform', '200px');
        //setChosenWidth('#lstReleaseUnit_chosen', '150px');
        //$("#lstReleaseUnit_chosen").attr("width", "85px");
        setChosenWidth('#ddlHoldBackOnPlatform', '125px');
        setChosenWidth('#lstReleaseUnit', '85px');

        //$("#lstReleaseUnit_chosen").oncha
        $('#lstReleaseUnit').change(function () {
            setChosenWidth('#lstReleaseUnit', '85px');
        });
        $('#ddlHoldBackOnPlatform').change(function () {
            setChosenWidth('#ddlHoldBackOnPlatform', '125px');
        });
    })

    function Save_Holdback(Counter) {
        var IsValid = true;
        if ($('#hdnPlatform_Codes_HB').val() == '') {
            $('#tree2').addClass('required');
            IsValid = false;
        }
        else
            $('#tree2').removeClass('required');

        if ($('#lbTerritory_Popup').val() == null) {
            $("#lbTerritory_Popup").attr('required', true);
            IsValid = false;
        }

        if ($("#lb_Sub_Language_Popup").val() == null && $("#lb_Dubb_Language_Popup").val() == null && $('#chk_Is_Title_Language_Right').prop('checked') == false) {
            showAlert('E', 'Please select atleast one language');
            IsValid = false;
        }
        else
            $('#ulLanguage').removeClass('required');

        if ($('#hdnHoldbackType').val() == 'R' && IsValid) {
            if ($("#HB_Run_After_Release_No").val() == '' || $("#lstReleaseUnit").val() == "0" || $("#ddlHoldBackOnPlatform").val() == '') {

                if ($("#HB_Run_After_Release_No").val() == '')
                    $("#HB_Run_After_Release_No").attr('required', true);

                if ($("#lstReleaseUnit").val() == "0")
                    $("#lstReleaseUnit").addClass('required');
                else
                    $("#lstReleaseUnit").removeClass('required');

                if ($("#ddlHoldBackOnPlatform").val() == '')
                    $("#ddlHoldBackOnPlatform").addClass('required');
                else
                    $("#ddlHoldBackOnPlatform").removeClass('required');

                IsValid = false;
            }
        }
        else {
            if ($('#hdnHoldbackType').val() == 'D' && IsValid) {
                if ($("#Holdback_Comment").val() == '' && ($("#Holdback_Release_Date").val() == '' || $("#Holdback_Release_Date").val() == undefined)) {
                    if ($("#Holdback_Comment").val() == '')
                        $("#Holdback_Comment").attr('required', true);

                    if ($("#Holdback_Release_Date").val() == '' || $("#Holdback_Release_Date").val() == undefined)
                        $("#Holdback_Release_Date").attr('required', true);
                    IsValid = false;
                }
            }
        }

        if (IsValid) {
            var chk_Is_Title_Language_Right = ''

            if ($("#lb_Sub_Language_Popup").val() != null)
                $('#hdn_Sub_LanguageList').val($("#lb_Sub_Language_Popup").val().join(','));
            else
                $('#hdn_Sub_LanguageList').val('');

            if ($("#lb_Dubb_Language_Popup").val() != null)
                $('#hdn_Dubb_LanguageList').val($("#lb_Dubb_Language_Popup").val().join(','));
            else
                $('#hdn_Dubb_LanguageList').val('');

            if ($("#ddlHoldBackOnPlatform").val() != null)
                $('#hdnHoldBackOnPlatform').val($("#ddlHoldBackOnPlatform").val());
            else
                $('#hdnHoldBackOnPlatform').val('');

            if ($('#chk_Is_Title_Language_Right').prop('checked'))
                chk_Is_Title_Language_Right = 'Y'
            else
                chk_Is_Title_Language_Right = 'N'

            Counter = $('#hdnHBCounter').val();
            showLoading();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Save_Holdback", "Acq_Rights_Holdback")',
                traditional: true,
                enctype: 'multipart/form-data',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    hdnCounter: Counter,
                    hdnHoldback_Platform_Code: $('#hdnPlatform_Codes_HB').val(),
                    Regions: $('#lbTerritory_Popup').val().join(','),
                    chk_Is_Title_Language_Right: chk_Is_Title_Language_Right,
                    hdn_Sub_LanguageList: $('#hdn_Sub_LanguageList').val(),
                    hdn_Dubb_LanguageList: $('#hdn_Dubb_LanguageList').val(),
                    HoldbackType: $('#hdnHoldbackType').val(),
                    HB_Run_After_Release_No: $("#HB_Run_After_Release_No").val(),
                    lstReleaseUnit: $("#lstReleaseUnit").val(),
                    hdnHoldBackOnPlatform: $('#hdnHoldBackOnPlatform').val(),
                    Holdback_Release_Date: $("#Holdback_Release_Date").val(),
                    Holdback_Comment: $("#Holdback_Comment").val()
                }),
                success: function (result) {
                    if (result == "true") {
                        redirectToLogin();
                    }
                    if (result.Status == "U" || result.Status == "A") {
                        $('#popEditHB').modal('hide');
                        //$('.modal-backdrop').hide();
                        var msg = result.Status == "A" ? "Holdback added successfully" : "Holdback updated successfully";
                        showAlert("I", msg);
                        if ($('#Is_Theatrical_Right').prop('checked') == false) {
                            BindPlatform();
                        }
                        
                        Bind_Holdback();
                        //CheckHBRegionWithRightsRegion();
                        //CheckHBSubtitleRegionWithRightsSubtitle();
                        //CheckHBDubbingWithRightsDubbing();
                    }
                    if (result.Status == 'D') {
                        showAlert('E', 'Combination conflicts with other Holdback');
                    }
                    hideLoading();
                    $(document.getElementsByClassName('modal-open')).removeClass('modal-open');
                    $(document.getElementsByClassName('modal-backdrop')).remove();
                },
                error: function (result) {
                    hideLoading();
                    alert('Error Validate_Save_Holdback: ' + result.responseText);
                }
            });
        }
        //return true;
    }

    function ChangeHoldbackType(obj) {
        if (obj == 'R')
            $("#Holdback_Comment").removeAttr('required');
        $('#hdnHoldbackType').val(obj);
    }

    function CheckMainTitleLanguage(chk) {
        var chkTitle = $('#Is_Title_Language_Right').prop('checked');
        if (chk.checked && !chkTitle) {
            chk.checked = false;
            showAlert('E', 'Please select title language right first.');
            return false;
        }
        return true;
    }
</script>

<div class="modal-dialog">
    <div class="modal-content clearfix">
        <form class="form" id="new_syndication_bundle_form">
            <div>
                <div class="form_fields acq">
                    <div class="modal_block modal_header">
                        <a class="close" data-dismiss="modal" href="#">
                            <span>×</span>
                            <span class="sr-only">Close</span>
                        </a>
                        <h2>Add / Edit Holdback</h2>
                    </div>
                    <div class="modal_block">
                        <ul class="form_fields_wrapper">
                            <li class="clearfix">
                                <table class="four_column table">
                                    <tbody>
                                        <tr>
                                            <td class="td_label">Title</td>
                                            <td>
                                                <div class="expandable">@ViewBag.Title</div>
                                            </td>
                                            <td class="td_label">Term</td>
                                            <td>@ViewBag.PeriodTerm
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td_label">Tentative</td>
                                            <td>@ViewBag.IsTentative
                                            </td>
                                            <td class="td_label">Period</td>
                                            <td>
                                                @ViewBag.Period
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li class="clearfix">
                                <ul class="col-md-6">
                                    <li>
                                        <label class="bold small_title">Region</label>
                                        @Html.ListBox("lbTerritory_Popup", ViewBag.Territory_List_HB as MultiSelectList, new { @class = "form_input chosen-select" })
                                        @Html.Hidden("hdnTerritoryList")
                                        @Html.Hidden("hdnHBCounter")
                                    </li>
                                    <li>
                                        <label class="bold small_title">Language</label>
                                        <div class="platform_checkbox">
                                            <label class="checkbox-inline">
                                                @Html.CheckBox("chk_Is_Title_Language_Right", (Model.Is_Title_Language_Right != null && Model.Is_Title_Language_Right == "Y") ? true : false, new { @onclick = "return CheckMainTitleLanguage(this);" })
                                                Title Language Right
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <label class="bold small_title">Subtitling</label><br />
                                        <div id="divSubSingleHB">
                                            @Html.ListBox("lb_Sub_Language_Popup", ViewBag.SL_List_HB as MultiSelectList, new { @class = "form_input chosen-select" })
                                            @Html.Hidden("hdn_Sub_LanguageList")
                                        </div>
                                    </li>
                                    <li>
                                        <label class="bold small_title">Dubbing</label><br />
                                        <div id="divDubSingleHB">
                                            @Html.ListBox("lb_Dubb_Language_Popup", ViewBag.DL_List_HB as MultiSelectList, new { @class = "form_input chosen-select" })
                                            @Html.Hidden("hdn_Dubb_LanguageList")
                                        </div>
                                    </li>
                                    <li style="width: 95%">
                                        <label class="bold small_title">Holdback Type</label>
                                        <div class="tabbable">
                                            <ul id="ulRightType" class="nav nav-tabs nav-tab pull-left">
                                                <li class="@((string.IsNullOrEmpty(Model.Holdback_Type)) ? "active" : (Model.Holdback_Type == "R" ? "active" : ""))">
                                                    <a data-toggle="tab" id="liTabRelease" href="#tabRelease" onclick="ChangeHoldbackType('R')" role="tab">Release</a>
                                                </li>
                                                <li class="@(Model.Holdback_Type == "D" ? "active" : "")" >
                                                    <a data-toggle="tab" id="liTabDate" href="#tabDate" role="tab" onclick="ChangeHoldbackType('D')">Date</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content clearfix table-wrapper scale_table_container">
                                                <div class="@((string.IsNullOrEmpty(Model.Holdback_Type)) ? "tab-pane active scale_table_block" : (Model.Holdback_Type == "R" ? "tab-pane active scale_table_block" : "tab-pane scale_table_block"))" id="tabRelease">
                                                    <ul class="from_to clearfix">
                                                        <li class="form_li_sub">
                                                            @Html.TextBoxFor(mbox => Model.HB_Run_After_Release_No, new { @class = "smallTextBox" })
                                                        </li>
                                                        <li class="form_li_sub" style="width: 100px;">
                                                            @Html.DropDownList("lstReleaseUnit", ViewBag.HB_Run_After_Release_Unit as MultiSelectList, new { @class = "form_input chosen-select", @width = "150px" })
                                                        </li>
                                                        <li class="form_li_sub" style="width: 140px;">
                                                            @Html.DropDownList("ddlHoldBackOnPlatform", ViewBag.HoldbackOnPlatform as MultiSelectList, "--Please Select--", new { @class = "form_input chosen-select", @width = "200px" })
                                                            @Html.Hidden("hdnHoldBackOnPlatform")
                                                        </li>
                                                    </ul>

                                                </div>
                                                <div class="@(Model.Holdback_Type == "D" ? "tab-pane active scale_table_block" : "tab-pane scale_table_block")" id="tabDate">
                                                    <ul class="from_to clearfix">
                                                        <li class="form_li_sub" style="width: 180px;">
                                                            <label>Date</label>
                                                            @Html.TextBoxFor(m => Model.Holdback_Release_Date, "{0:" + UTOFrameWork.FrameworkClasses.GlobalParams.DateFormat + "}", new { @class = "isDatepicker", @placeholder = "DD/MM/YYYY" })
                                                        </li>
                                                    </ul>
                                                </div>
                                                @Html.Hidden("hdnHoldbackType", "R")
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="platform_wrapper col-md-6">
                                    <label class="bold small_title" for="platform">platform</label>
                                    <div id="tree2" class="treeClass">
                                        @Html.Partial("_TV_Platform")
                                        <input type="hidden" name="hdnHoldback_Platform_Code" id="hdnPlatform_Codes_HB" />
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="divBlock">
                                    <div class="bold small_title" style="padding-right: 320px;">Remarks</div>
                                    <div style="">&nbsp;&nbsp;</div>
                                    <div id="CharNum" class="charNum" style="float: right;">0/4000</div>
                                </div>
                                @Html.TextAreaFor(m => Model.Holdback_Comment, new { @class = "textarea", @onkeypress = "countChar(this)", @onkeyup = "countChar(this)", @maxlength = 4000 })
                            </li>
                        </ul>
                    </div>
                    <div class="modal_block_full">
                        <div class="form_links">
                            <ul class="modal_block clearfix">
                                <li>
                                    <input type="button" id="btnSave" class="btn btn-primary" value="Save" onclick="return Save_Holdback();" />
                                </li>
                                <li>
                                    <a data-dismiss="modal" class="btn-primary" href="#">cancel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
