@model  List<RightsU_Plus.Controllers.GetMessageStatus>

@{
    int count = 0;
    <input type="hidden" id="hdnCount" value="@Model.ElementAt(0).TotalRecords" />
    <input type="hidden" id="FirstTotalCount" value="@Model.ElementAt(0).TotalRecords" />
    <input type="hidden" id="hdnDiv" value="div_1" />
    <input type="hidden" id="hdnEmail_Type_Code" value="@ViewBag.Email_Type_Code" />
    foreach (var item in Model)
    {
        count++;

        <input type="hidden" id="hdnNECode_@count" value="@item.NotificationsCode" />
        <input type="hidden" id="hdnSeenId_@count" value="@item.NotificationDetailCode" />
        <input type="hidden" id="hdnSeen_@count" value="@item.Status" />
        <input type="hidden" id="hdnSeenNew_@count" value="N" />
        if (count > 1)
        {
            if (item.Message != null)
            {
                <div id='div_@count' style="display:none">
                    @Html.Raw(HttpUtility.HtmlDecode(item.Message.Replace("tblFormat", "table table-bordered table-hover")))
                </div>
            }

        }
        else
        {
            if (item.Message != null)
            {
                <div id='div_@count'>
                    @Html.Raw(HttpUtility.HtmlDecode(item.Message.Replace("tblFormat", "table table-bordered table-hover")))
                </div>
            }

        }
    }
    <input type="hidden" id="hdnNoOfGrid" value="@count" />

}
<script>
    $(document).ready(function () {
        debugger
        if ($('#hdnNoOfGrid').val() < 2) {
            $('#btnPrev').attr('disabled', true);
            $('#btnNext').attr('disabled', true);
        }
        else {
            $('#btnPrev').attr('disabled', false);
            $('#btnNext').attr('disabled', false);
        }
    });
</script>