@model List<RightsU_Entities.Document_Type>
@{
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}
<table class="table table-bordered table-hover" id="tblDocumentType">
    <thead>
        <tr>
            <th style="width:60%;">@objMessageKey.DocumentType</th>
            <th style="width:20%;">@objMessageKey.Status</th>
            <th style="width:10%;">@objMessageKey.Action</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.CommandName == "ADD")
        {
            <tr>
                <td>
                    <input id="txtDocumentTypeName_0" type="text" value="" maxlength="100" style="width:80%;" />
                </td>
                <td align="center">
                    <span>@objMessageKey.Active</span>
                </td>
                <td align="center">
                    <a title="@objMessageKey.Save" class="glyphicon glyphicon-ok-circle" onclick="SaveDocument_Type(0)"></a>
                    <a title="@objMessageKey.Cancel" class="glyphicon glyphicon-remove-circle" onclick="Cancel()"></a>
                </td>
            </tr>
        }
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                string strActive = objMessageKey.Active;
                if (item.Is_Active == "N")
                {
                    strActive = objMessageKey.Deactive
;
                }
                <tr>
                    @if (ViewBag.CommandName == "EDIT" && ViewBag.DocumentTypeCode == item.Document_Type_Code)
                    {
                        <td>
                            <input id="txtDocumentTypeName_@item.Document_Type_Code" type="text" value="@item.Document_Type_Name" maxlength="100" style="width:80%;" />
                        </td>
                        <td align="center">
                            <span>@strActive</span>
                        </td>
                        <td align="center">
                            <a title="@objMessageKey.Save" class="glyphicon glyphicon-ok-circle" onclick="SaveDocument_Type(@item.Document_Type_Code)"></a>
                            <a title="@objMessageKey.Cancel" class="glyphicon glyphicon-remove-circle" onclick="Cancel()"></a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div>@item.Document_Type_Name</div>
                        </td>
                        <td align="center">
                            <span>@strActive</span>
                        </td>
                        <td align="center">
                            @if (ViewBag.UserModuleRights.Contains("~" + UTOFrameWork.FrameworkClasses.GlobalParams.RightCodeForEdit + "~"))
                            {
                                if (item.Is_Active == "Y")
                                {
                                    <a title="@objMessageKey.Edit" class="glyphicon glyphicon-pencil" style="cursor:pointer;" onclick="CheckRecordLock(@item.Document_Type_Code, 'EDIT')"></a>
                                }
                                else
                                {
                                    <a title="@objMessageKey.CannoteditthisDocumentTypeasitisdeactivated" class="glyphicon glyphicon-pencil disabled" onclick="return false;"></a>
                                }
                            }
                            @if (item.Is_Active == "Y")
                            {
                                if (ViewBag.UserModuleRights.Contains("~" + UTOFrameWork.FrameworkClasses.GlobalParams.RightCodeForDeactivate + "~"))
                                {
                                    bool canDeactivate = true;
                                    string strToolTip = "";
                                    if (item.Acq_Deal_Attachment.Count > 0)
                                    {
                                        canDeactivate = false;
                                        strToolTip = objMessageKey.CannotdeactivatethisDocumentTypeasitisusedinAcquisitionDeal;
                                    }
                                    else if (item.Syn_Deal_Attachment.Count > 0)
                                    {
                                        canDeactivate = false;
                                        strToolTip = objMessageKey.CannotdeactivatethisDocumentTypeasitisusedinSyndicationDeal;
                                    }
                                    if (canDeactivate)
                                    {
                                        <a title="@objMessageKey.Deactivate" class="glyphicon glyphicon-thumbs-down" style="cursor:pointer" onclick="ActiveDeactiveDocument_Type(@item.Document_Type_Code, 'N')"></a>
                                    }
                                    else
                                    {
                                        <a title="@strToolTip" class="glyphicon glyphicon-thumbs-down disabled" onclick="return false;"></a>
                                    }
                                }
                            }
                            else
                            {
                                if (ViewBag.UserModuleRights.Contains("~" + UTOFrameWork.FrameworkClasses.GlobalParams.RightCodeForActivate + "~"))
                                {
                                    <a title="@objMessageKey.Activate" class="glyphicon glyphicon-thumbs-up" style="cursor: pointer;" onclick="ActiveDeactiveDocument_Type(@item.Document_Type_Code, 'Y')"></a>
                                }
                            }
                        </td>
                    }
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">@objMessageKey.Norecordfound</td>
            </tr>
        }
    </tbody>
</table>
