@model IEnumerable<RightsU_Entities.Extended_Columns>

@{
    ViewBag.Title = "Index";
}


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Column Name
            </th>
            <th>
                Control Type
            </th>
            <th>
                Is Ref
            </th>
            <th>
                Is Defined Values
            </th>
            <th>
                Is Multiple Select
            </th>
            <th>
                Ref Table
            </th>
            <th>
                Ref DisplayField
            </th>
            <th>
                Ref Value Field

            </th>
            @*  <th>
                    @Html.DisplayNameFor(model => model.Additional_Condition)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.Is_Add_OnScreen)
                </th>*@
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr style="text-align:center">
                    <td style="text-align:left !important">
                        @Html.DisplayFor(modelItem => item.Columns_Name)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Control_Type)*@
                        @if (item.Control_Type == "DDL")
                        {
                            <span>DropDown</span>
                        }
                        @if (item.Control_Type == "TXT")
                        {
                            <span>Text</span>
                        }
                        @if (item.Control_Type == "DATE")
                        {
                            <span>Date</span>
                        }
                        @if (item.Control_Type == "FrTEd")
                        {
                            <span>From Date To End Date</span>
                        }
                        @if (item.Control_Type == "RB")
                        {
                            <span>Radio Button</span>
                        }
                        @if (item.Control_Type == "CB")
                        {
                            <span>Check Box</span>
                        }
                    </td>
                    <td>
                        @if (item.Is_Ref == "Y")
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    </td>
                    <td>
                        @if (item.Is_Defined_Values == "Y")
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    </td>
                    <td>
                        @if (item.Is_Multiple_Select == "Y")
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ref_Table)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ref_Display_Field)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ref_Value_Field)
                    </td>
                    @*  <td>
                              @Html.DisplayFor(modelItem => item.Additional_Condition)
                          </td>
                        <td>
                              @Html.DisplayFor(modelItem => item.Is_Add_OnScreen)
                          </td>*@

                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.Columns_Code }, new { @class = "glyphicon glyphicon-pencil", title = "Edit" })
                        @Html.ActionLink(" ", "Details", new { id = item.Columns_Code }, new { @class = "glyphicon glyphicon-eye-open", title = "View" })
                        @*@Html.ActionLink(" ", "Delete", new { id = item.Columns_Code }, new { @class = "glyphicon glyphicon-trash", title = "Delete" })*@
                    </td>
                </tr>

            }
        }

        else
        {
            <tr>
                <td colspan="8">No record found</td>
            </tr>
        }
    </tbody>

</table>


