@model IEnumerable<RightsU_Entities.USP_List_IPR_Result>
@using UTOFrameWork.FrameworkClasses;
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        var a =  $('#hdnPageSizeForDosmestic_temp').val();
        if (a != "0") {
            $('#txtPageSize').val(a)
        }

        if ($('.pagination'))
            debugger;
        SetPaging();
        initializeTooltip();

        //   loadList('D', '0', 'Y', 'N')
    });


    $('.expandable').expander({
        slicePoint: 25,
        expandPrefix: '',
        expandText: '...read more',
        collapseTimer: 0,
        userCollapseText: '<span>[^]</span>'
    });
    var IsCall = 'Y';


    function SetPaging() {
        debugger;
        IsCall = 'N';
        var PageNo, RecordCount;

        if ('@ViewBag.PageNo' != null)
            PageNo = '@ViewBag.PageNo';

        if ('@ViewBag.RecordCount' != null)
            RecordCount = '@ViewBag.RecordCount';


        var pagePerBatch = parseInt($('#hdnPagePerBatch').val());
        var recordPerPage = parseInt($('#txtPageSize').val());


        var cnt = PageNo * recordPerPage;
        if (cnt >= RecordCount) {
            var v1 = parseInt(RecordCount / recordPerPage);
            if ((v1 * recordPerPage) == RecordCount)
                PageNo = v1;
            else
                PageNo = v1 + 1;
        }
        if (PageNo == 0)
            PageNo = 1;




        var index = PageNo - 1;

        $('#hdnPageNo').val(PageNo);

        var opt = null;
        opt = { callback: pageselectCallback };
        opt["items_per_page"] = recordPerPage;
        opt["num_display_entries"] = pagePerBatch;
        opt["num"] = 10;
        opt["prev_text"] = "<<";
        opt["next_text"] = ">>";
        opt["current_page"] = index;
        $(".pagination").pagination(RecordCount, opt);
    }

    function pageselectCallback(page_index, jq) {
        if (IsCall == 'Y') {
            loadList('D', page_index, 'N', 'Y');
            $("#hdnPageIndex").val(page_index);
        }
        else
            IsCall = 'Y';
    }



    //----------------------------------------------------------------------


    function txtPageSize_OnChange() {
        debugger;
        $('#hdnPageSizeForDosmestic_temp').val($('#txtPageSize').val());


        $("[required='required']").removeAttr("required");
        $('.required').removeClass('required');


        if (!ValidatePageSize())
            return false;


        var pageNo = $('#hdnPageNo').val();
        var recordPerPage = $('#txtPageSize').val();
        if (recordPerPage == "") {
            recordPerPage = 10;
            $('#txtPageSize').val("10");
        }


        loadList('D', pageNo, 'Y', 'N', recordPerPage)
        SetPaging();
    }
    function ValidatePageSize() {
        debugger;
        var recordPerPage = $('#txtPageSize').val()
        if ($.trim(recordPerPage) != '') {
            var pageSize = parseInt(recordPerPage);
            if (pageSize > 0)
                return true;
        }
        $('#txtPageSize').attr('required', true)
        return false
    }




    //----------------------------------------------------------------------
</script>
<style>
    span.not-available {
        font-style: italic;
        opacity: 0.5;
    }
</style>
<div class="paging_area clearfix">
    <input type="hidden" id="hdnPageIndex" />
    <span class="pull-left">Total Records:  @ViewBag.RecordCount</span>

    <input type="hidden" id="hdnPageNo" name="hdnPageNo" value="1" />
    <input type="hidden" id="hdnPagePerBatch" name="hdnPagePerBatch" value="5" />



    <div class="pagination"></div>
    <span class="pull-right">
        Page Size:
        <input type="text" id="txtPageSize" name="txtPageSize" class="smallTextBox pagingSize" value="10"
               onchange="txtPageSize_OnChange()">
        @*  <input type="hidden" id="hdnPageSizeForDosmestic" name="hdnPageSizeForDosmestic" value="10" />*@
    </span>
</div>
<div class="grid_area deal clearfix">
    @{
        int counter = 0;
        @Html.Hidden("hdnRowNum", new { @id = "hdnRowNum" })
        foreach (var objIPRList in Model)
        {
            counter += 1;
            <div>
                <table class="grid_item active">
                    <tr>
                        <td class="applicant_description">
                            <b>
                                <span class="" data-toggle="tooltip" title="Applicant">
                                    <a href="#" onclick="window.location.href = '@Url.Action("ButtonEvent", "IPR_List", new { MODE = UTOFrameWork.FrameworkClasses.GlobalParams.DEAL_MODE_VIEW, IPR_Rep_Code = objIPRList.IPR_Rep_Code })'">
                                        <label for="id" style="cursor:pointer;">@objIPRList.Entity</label>
                                    </a>
                                </span>
                            </b>
                            @Html.Hidden("hdnIPR_Rep_Code", objIPRList.IPR_Rep_Code, new { id = counter + "_hdnIPR_Rep_Code" })
                            <ul>
                                <li>
                                    <span title="Applicantion No.">@objIPRList.Application_No</span>
                                </li>
                                <li><span class="seperator">| </span></li>
                                <li>
                                    <span title="Application Date">@objIPRList.Application_Date.ToString().Split(' ')[0] </span>
                                </li>
                            </ul>
                        </td>
                        <td class="applicant_Trademark">
                            <h5>
                                <span title="Trademark">
                                    <a href="#" onclick="window.location.href = '@Url.Action("ButtonEvent", "IPR_List", new { MODE = UTOFrameWork.FrameworkClasses.GlobalParams.DEAL_MODE_VIEW, IPR_Rep_Code = objIPRList.IPR_Rep_Code })'">
                                        <label for="id" style="cursor:pointer;">@objIPRList.Trademark</label>
                                    </a>
                                </span>
                            </h5>
                            <ul>
                                <li>
                                    <div class="expandable"><span title="Trademark Attorney">@objIPRList.Trademark_Attorney</span></div>
                                </li>
                            </ul>
                        </td>
                        <td class="applicant_BusinessUnit">
                            <ul>
                                <li>
                                    @if (string.IsNullOrEmpty(objIPRList.Business_Unit))
                                    {
                                        <span class="not-available" title="Business Unit">@GlobalParams.msgNO Business Unit</span>
                                    }
                                    else
                                    {
                                        <div class="expandable">
                                            <span title="Business Unit">
                                                @objIPRList.Business_Unit                                               
                                            </span>
                                        </div>
                                    }
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    @if (string.IsNullOrEmpty(objIPRList.Channel_Name))
                                    {
                                        <span class="not-available" title="Channel">@GlobalParams.msgNO Channels</span>
                                    }
                                    else
                                    {
                                        <div class="expandable">
                                            <span title="Channel">
                                                @objIPRList.Channel_Name                                            
                                       </span>
                                    </div>
                                    }
                                </li>
                            </ul>
                        </td>
                        <td class="applicant_status">
                            <ul>
                                <li><span title="Type">@objIPRList.Type</span></li>
                                <li><span class="seperator">| </span></li>
                                <li>
                                    <span title="Application Status">@objIPRList.App_Status</span>
                                </li>
                                @*<li><span class="seperator">| </span></li>
                                    <li><span title="Workflow Status">@objIPRList.Workflow_Status</span></li>*@

                            </ul>

                            <ul>
                                <li><div class="expandable"><span title="Class Description">@objIPRList.Class_Description</span></div></li>
                                <li><span class="seperator">| </span></li>
                                <li><span title="Workflow Status">@objIPRList.Workflow_Status</span></li>
                            </ul>


                            @* <h5 title="Class Description"><div class="expandable"><span title="Class Description">@objIPRList.Class_Description</span></div></h5>*@
                        </td>
                        <td class="applicant_action">
                            @if (@objIPRList.Show_Hide_Buttons.Contains("," + GlobalParams.RightCodeForView + ","))
                            {

                                <a title="View" class="glyphicon glyphicon-eye-open" href="@Url.Action("ButtonEvent", "IPR_List", new { MODE = UTOFrameWork.FrameworkClasses.GlobalParams.DEAL_MODE_VIEW, IPR_Rep_Code = objIPRList.IPR_Rep_Code })"></a>
                            }
                            @if (@objIPRList.Show_Hide_Buttons.Contains("," + GlobalParams.RightCodeForEdit + ","))
                            {
                                <a class="glyphicon glyphicon-pencil" href="#" title='Edit' onclick="CheckRecordLock('@UTOFrameWork.FrameworkClasses.GlobalParams.DEAL_MODE_EDIT', @objIPRList.IPR_Rep_Code, 0);"></a>
                                @*<a title="Edit" class="glyphicon glyphicon-pencil" href="@Url.Action("ButtonEvent", "IPR_List", new { MODE = UTOFrameWork.FrameworkClasses.GlobalParams.DEAL_MODE_EDIT, IPR_Rep_Code = objIPRList.IPR_Rep_Code })"></a>*@
                            }
                            @if (@objIPRList.Show_Hide_Buttons.Contains("," + GlobalParams.RightCodeForDelete + ",") && (@objIPRList.Workflow_Status != "Approved" && Convert.ToInt32(@objIPRList.Version) == 1))
                            {
                                <a title="Delete" id="Delete" href="#" class="glyphicon glyphicon-trash"
                                   onclick="Ask_Confirmation(@objIPRList.IPR_Rep_Code,@counter,'D')"></a>
                            }

                        </td>
                    </tr>
                </table>

            </div>
        }
    }
</div>
