@using UTOFrameWork.FrameworkClasses
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}
<script>
    var IsCall = 'Y', Command_Name = "", Module_Code_G ='@ViewBag.Code', SysLanguageCode_G = '@ViewBag.LangCode';
    var URL_BindSystem_ParameterList = '@Url.Action("BindSystem_ParameterList", "System_Parameter")';
    var URL_SearchSystem_Parameter = '@Url.Action("SearchSystem_Parameter", "System_Parameter")';
    var URL_SaveSystem_Parameter = '@Url.Action("SaveSystem_Parameter", "System_Parameter")';
    var URL_CheckRecordLock = '@Url.Action("CheckRecordLock", "System_Parameter")';
    var URL_Refresh_Lock = '@Url.Action("Refresh_Lock", "Global")';
    var URL_Release_Lock = '@Url.Action("Release_Lock", "Global")';
    var  URL_Reload_Current_Page = '@Url.Action("Index", "System_Parameter")';
    $(document).ready(function () {
        addNumeric();
        SearchSystem_Parameter("")
        $('#searchCommon').keypress(function (e) {
            if (e.keyCode == 13) {
                btnSearch_OnClick()
                return false;
            }
        });
    });
    function addNumeric() {
        $(".pagingSize").numeric({
            allowMinus: false,
            allowThouSep: false,
            allowDecSep: false,
            max: 99,
            min: 1
        });
    }
    function SetPaging() {
        IsCall = 'N';
        var pageNo = parseInt($('#hdnPageNo').val());
        var recordCount = parseInt($('#hdnRecordCount').val());
        var pagePerBatch = parseInt($('#hdnPagePerBatch').val());
        var recordPerPage = parseInt($('#txtPageSize').val());

        var cnt = pageNo * recordPerPage;
        if (cnt >= recordCount) {
            var v1 = parseInt(recordCount / recordPerPage);
            if ((v1 * recordPerPage) == recordCount)
                pageNo = v1;
            else
                pageNo = v1 + 1;
        }
        if (pageNo == 0)
            pageNo = 1;

        var index = pageNo - 1;
        $('#hdnPageNo').val(pageNo);

        var opt = null;
        opt = { callback: pageselectCallback };
        opt["items_per_page"] = recordPerPage;
        opt["num_display_entries"] = pagePerBatch;
        opt["num"] = 10;
        opt["prev_text"] = "<<";
        opt["next_text"] = ">>";
        opt["current_page"] = index;
        $("#Pagination").pagination(recordCount, opt);
    }
    function pageselectCallback(page_index, jq) {
        if (checkCurrentAction()) {
            $('.required').removeClass('required');

            if (!ValidatePageSize())
                return false;

            var pageNo = page_index + 1
            $('#hdnPageNo').val(pageNo);
            if (IsCall == 'Y')
                BindSystem_ParameterList(0, "");
            else
                IsCall = 'Y';
        }
    }
    function txtPageSize_OnChange() {
        $("[required='required']").removeAttr("required");
        $('.required').removeClass('required');
        if (!checkCurrentAction())
            return false;

        if (!ValidatePageSize())
            return false;

        BindSystem_ParameterList(0, "")
        SetPaging();
    }
    function ValidatePageSize() {
        var recordPerPage = $('#txtPageSize').val()
        if ($.trim(recordPerPage) != '') {
            var pageSize = parseInt(recordPerPage);
            if (pageSize > 0)
                return true;
        }
        $('#txtPageSize').attr('required', true)
        return false
    }
    function pageBinding() {
        BindSystem_ParameterList(0, "")
        SetPaging();
    }
    function SearchSystem_Parameter(searchText) {
        $("#searchCommon").val(searchText);
        showLoading();
        $.ajax({
            type: "POST",
            url: URL_SearchSystem_Parameter,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                searchText: searchText
            }),
            async: false,
            success: function (result) {
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    $('#hdnPageNo').text(1);
                    $('#lblRecordCount').text(result.Record_Count);
                    $("#hdnRecordCount").val(result.Record_Count);
                    SetPaging()
                    BindSystem_ParameterList(0, "");
                    hideLoading();
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
                hideLoading();
            }
        });
    }
    function BindSystem_ParameterList(id, commandName) {
        var pageNo = $('#hdnPageNo').val();
        var recordPerPage = $('#txtPageSize').val();

        $.ajax({
            type: "POST",
            url: URL_BindSystem_ParameterList,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            dataType: "html",

            data: JSON.stringify({
                pageNo: pageNo,
                recordPerPage: recordPerPage,
                id: id,
                commandName: commandName
            }),
            success: function (result) {
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    $('#divSystemParameterList').empty();
                    $('#divSystemParameterList').html(result);
                    initializeExpander();
                    initializeTooltip();
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
            }
        });
    }
    function handleOk() {
    }
    function handleCancel() {
    }
    function SaveSystem_Parameter(id) {
        debugger;
        $('.required').removeClass('required');
        $("[required='required']").removeAttr("required");

        if (!ValidatePageSize())
            return false;

        var paramValue = $.trim($('#txtParamValue_' + id).val());
        var Record_Code = $('#hdnRecodLockingCode').val();
        if (paramValue == '') {
            $('#txtParamValue_' + id).val('')
            $('#txtParamValue_' + id).attr('required', true)
            return false;
            }
            showLoading();
            $.ajax({
                type: "POST",
                url: URL_SaveSystem_Parameter,
                traditional: true,
                enctype: 'multipart/form-data',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    id: id,
                    paramValue: paramValue,
                    Record_Code: Record_Code
                }),
                async: false,
                success: function (result) {
                    debugger;
                    if (result == "true") {
                        redirectToLogin();
                    }
                    else {
                        hideLoading();
                        if (result.Status == "S") {
                            $('#hdnAction').val("")
                            showAlert("S", result.Message);
                            if ($("#searchCommon").val() != "") {
                                SearchSystem_Parameter($("#searchCommon").val())
                            }
                            //SearchSystem_Parameter("");
                            SetPaging();
                            BindSystem_ParameterList(0, "");
                        }
                        else {
                            showAlert("E", result.Message);
                        }
                    }
                },
                error: function (result) {
                    alert('Error: ' + result.responseText);
                    hideLoading();
                }
            });
        }
    function EditSystemParameter(id, commandName) {
            if (checkCurrentAction() && ValidatePageSize()) {
                BindSystem_ParameterList(id, commandName);
                $('#hdnAction').val(commandName)
            }
        }
    function Cancel() {
        var recordLockingCode = parseInt($('#hdnRecodLockingCode').val())
        if (recordLockingCode > 0)
            ReleaseRecordLock(recordLockingCode, URL_Release_Lock);
            $('#hdnAction').val("")
            BindSystem_ParameterList(0, "");
        }
    function checkCurrentAction() {
            var action = $.trim($('#hdnAction').val());
           if (action == "EDIT") {
               showAlert("E", "@objMessageKey.CompleteEditOperationFirst")
                return false;
            }
            return true;
    }
    function CheckRecordLock(id,commandName){
        $.ajax({
            type: "POST",
            url: URL_CheckRecordLock,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                id: id,
                commandName:commandName
            }),
            async: false,
            success: function (result) {
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    if (result.Is_Locked == "Y") {
                        EditSystemParameter(id,commandName)
                        $('#hdnRecodLockingCode').val(result.Record_Locking_Code);
                        Call_RefreshRecordReleaseTime(result.Record_Locking_Code, URL_Refresh_Lock);
                    }
                    else
                        showAlert("E", result.Message);
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
                hideLoading();
            }
        });
    }
    function btnSearch_OnClick() {
        if (!checkCurrentAction())
            return false;
        $('.required').removeClass('required');
        $("[required='required']").removeAttr("required");

        if (!ValidatePageSize())
            return false;

        $('#hdnPageNo').val(1);
        var searchText = $.trim($('#searchCommon').val());

        if (searchText == '') {
            $('#searchCommon').val('')
            $('#searchCommon').attr('required', true)
            return false;
        }
        SearchSystem_Parameter(searchText);
    }
    function btnShowAll_OnClick() {
        if (!checkCurrentAction())
            return false;
        if (!ValidatePageSize())
            return false;

        //sort_Type_G = "T";
        //$("#ddlSortType").find("option").attr("selected", false);
        //$("#ddlSortType").val('T').trigger("chosen:updated");
        $('#hdnPageNo').val(1);
        $('#searchCommon').attr('required', false)
        $('#searchCommon').val('');
        SearchSystem_Parameter("");
    }
    function ExportToExcel()
    {
        var type = "";
        var Module_Name = "System Parameter";
        type = $('#ddlSortType').val();
        var StrSearchCriteria = $.trim($('#searchCommon').val());
        window.location.href = '@Url.Action("ExportToExcel", "Global")?Module_Code='+Module_Code_G + '&SysLanguageCode=' + SysLanguageCode_G +  '&Module_Name='+Module_Name+ '&sortColumnOrder='+type + '&StrSearchCriteria=' + StrSearchCriteria;
    }
</script>
<style>
    .search_area {
        border-bottom: 1px dotted #777;
        margin-bottom: 5px;
        background-color: #eee;
    }
</style>
<div class="main_section">
    <section class="rightsU_container clearfix">
        <div class="container acq main_col">
            <div class="">
                <div class="title_block dotted_border clearfix">
                    <h2 class="pull-left">
                        @objMessageKey.SystemParameterList
                        <span></span>
                    </h2>
                    <div class="right_nav pull-right">
                        <ul>
                            <li>
                                @if (ViewBag.UserModuleRights.Contains("~" + GlobalParams.RightCodeForExportToExcel.ToString() + "~"))
                                {
                                    <a title="@objMessageKey.SaveToExcel" class="glyphicon glyphicon-floppy-save" style="cursor:pointer; text-decoration:underline; " onclick="ExportToExcel();">
                                    </a>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="search_area">
                    <table class="table">
                        <tr>
                            <td style="width:12%; vertical-align: middle;text-align:center;">
                                Parameter Name :
                            </td>
                            <td style="width:25%; vertical-align:middle;">
                                <input type="text" name="srchCommon" id="searchCommon" class="search" style="width:100%" placeholder="Parameter Name" maxlength="100" />
                            </td>
                            <td>
                                &nbsp;&nbsp;
                                <input type="button" id="btnSearch" class="button" value="@objMessageKey.Search" onclick="btnSearch_OnClick()">&nbsp;
                                <input type="button" id="btnShowAll" class="button" value="@objMessageKey.ShowAll" onclick="btnShowAll_OnClick()">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="grid_area">
                    <div style="border-bottom: 1px dotted #777; display:none;"></div>
                    <div class="paging_area clearfix">
                        <span class="pull-left">@objMessageKey.TotalRecords: </span>
                        <span class="pull-left" id="lblRecordCount"></span>
                        <input type="hidden" id="hdnPageNo" name="hdnPageNo" value="1" />
                        <input type="hidden" id="hdnPagePerBatch" name="hdnPagePerBatch" value="5" />
                        <input type="hidden" id="hdnRecordCount" name="hdnRecordCount" value="0" />
                        <div id="Pagination" class="pagination">
                        </div>
                        <span class="pull-right">
                            @objMessageKey.PageSize:
                            <input type="text" id="txtPageSize" name="txtPageSize" class="smallTextBox pagingSize" value="10"
                                   onchange="txtPageSize_OnChange()" onfocus="checkCurrentAction()" onblur="setDefaultPaging('txtPageSize')">
                        </span>
                    </div>
                    <div class="tab-content clearfix table-wrapper scale_table_container">
                        <div class="scale_table_block">
                            <input type="hidden" id="hdnId" value="0" />
                            <input type="hidden" id="hdnAction" name="hdnAction" value="" />
                            <input type="hidden" id="hdnRecodLockingCode" name="hdnRecodLockingCode" value="0" />
                            <div id="divSystemParameterList" class="deal clearfix">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>