@model List<RightsU_Dapper.Entity.Currency>
    @using UTOFrameWork.FrameworkClasses;
    @{
        MessageKey objMessageKey = new MessageKey();
        if (Session["objMessageKey"] != null)
        {
            objMessageKey = (MessageKey)Session["objMessageKey"];
        }
        LoginEntity objLoginEntity = new LoginEntity();
        if (Session["objLoginEntity"] != null)
        {
            objLoginEntity = (LoginEntity)Session["objLoginEntity"];
        }
        List<int?> lstAcqCurrenyCodes = new RightsU_BLL.Acq_Deal_Service(objLoginEntity.ConnectionStringName).SearchFor(w => true).Select(x => x.Currency_Code).ToList();

        List<int?> lstSynCurrenyCodes = new RightsU_BLL.Syn_Deal_Service(objLoginEntity.ConnectionStringName).SearchFor(w => true).Select(x => x.Currency_Code).ToList();

    }
    <script>
    $('.expand_Currency_Name').expander({
        slicePoint: 38,
        expandPrefix: '',
        expandText: '...@objMessageKey.readmore',
        collapseTimer: 0,
        userCollapseText: '<span>[^]</span>'
    });

    </script>
    <table class="table table-bordered table-hover" id="tblMusicLink">
        <thead>
            <tr>
                <th style="width:30%;">@objMessageKey.CurrencyName</th>
                <th style="width:25%;">@objMessageKey.CurrencySign</th>
                <th style="width:15%;">@objMessageKey.BaseCurrency</th>
                <th style="width:15%;">@objMessageKey.Status</th>
                <th style="width:15%;">@objMessageKey.Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    string strActive = objMessageKey.Active, strBaseCurrency = objMessageKey.NO;
                    if (item.Is_Active == "N")
                    {
                        strActive = objMessageKey.Deactive;
                    }

                    if (item.Is_Base_Currency == "Y")
                    {
                        strBaseCurrency = objMessageKey.Yes;
                    }
                    <tr>
                        <td class="expand_Currency_Name">
                            <span>@item.Currency_Name</span>
                        </td>
                        <td style="text-align:center;">
                            <span>@item.Currency_Sign</span>
                        </td>
                        <td align="center">
                            <span>@strBaseCurrency</span>
                        </td>
                        <td align="center">
                            <span>@strActive</span>
                        </td>
                        <td align="center">
                            @if (ViewBag.UserModuleRights.Contains("~" + GlobalParams.RightCodeForEdit + "~"))
                            {
                                if (item.Is_Active == "Y")
                                {
                                    <a title="@objMessageKey.Edit" class="glyphicon glyphicon-pencil" style="cursor: pointer;" onclick="CheckRecordLock(@item.Currency_Code, 'EDIT')"></a>
                                }
                                else
                                {
                                    <a title="@objMessageKey.Cannoteditthiscurrencyasitisdeactivated" class="glyphicon glyphicon-pencil disabled" onclick="return false;"></a>
                                }
                            }
                            @if (ViewBag.UserModuleRights.Contains("~" + GlobalParams.RightCodeForView + "~"))
                            {
                                <a title="@objMessageKey.View" class="glyphicon glyphicon-eye-open" style="cursor: pointer;" onclick="AddEditViewCurrency(@item.Currency_Code, 'VIEW')"></a>
                            }
                            @if (item.Is_Active == "Y")
                            {
                                if (ViewBag.UserModuleRights.Contains("~" + GlobalParams.RightCodeForDeactivate + "~"))
                                {
                                    bool canDeactivate = true;
                                    string strToolTip = "";
                                    //if (item.Acq_Deal.Count > 0)
                                    //{
                                    //    strToolTip = objMessageKey.Cannotdeactivatethiscurrencyasitisusedinacquisitiondeal;
                                    //    canDeactivate = false;
                                    //}
                                    //else if (item.Syn_Deal.Count > 0)
                                    //{
                                    //    strToolTip = objMessageKey.Cannotdeactivatethiscurrencyasitisusedinsyndicationdeal;
                                    //    canDeactivate = false;
                                    //}


                                    if (lstAcqCurrenyCodes.Where(x => x.HasValue && x.Value == item.Currency_Code).Count() > 0)
                                    {
                                        strToolTip = objMessageKey.Cannotdeactivatethiscurrencyasitisusedinacquisitiondeal;
                                        canDeactivate = false;
                                    }
                                    else if (lstSynCurrenyCodes.Where(x => x.HasValue && x.Value == item.Currency_Code).Count() > 0)
                                    {
                                        strToolTip = objMessageKey.Cannotdeactivatethiscurrencyasitisusedinsyndicationdeal;
                                        canDeactivate = false;
                                    }
                                    if (canDeactivate)
                                    {
                                        <a title = "@objMessageKey.Deactivate" class="glyphicon glyphicon-thumbs-down" style="cursor: pointer;" onclick="ActiveDeactiveCurrency(@item.Currency_Code, 'N')"></a>
                                    }
                                    else
                                    {
                                        <a title="@strToolTip" class="glyphicon glyphicon-thumbs-down disabled" onclick="return false;"></a>
                                    }
                                }
                            }
                            else
                            {
                                if (ViewBag.UserModuleRights.Contains("~" + GlobalParams.RightCodeForActivate + "~"))
                                {
                                    <a title="@objMessageKey.Activate" class="glyphicon glyphicon-thumbs-up" style="cursor: pointer;" onclick="ActiveDeactiveCurrency(@item.Currency_Code, 'Y')"></a>
                                }
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">@objMessageKey.Norecordfound</td>
                </tr>
            }
        </tbody>
    </table>
