@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}
<link href="~/CSS/sumoselect.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" rel="stylesheet" />
<script src="~/JS_Core/jquery.sumoselect.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<link type="text/css" rel="stylesheet" href="~/css/chosen.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />

<script>
    var URL_BindChannelWiseMusicUsageReport = '@Url.Action("BindChannelWiseMusicUsageReport", "Reports")';
    var URL_PopulateContentName = '@Url.Action("PopulateContentName", "Reports")';
    var URL_PopulateChannelName = '@Url.Action("PopulateChannelList", "Reports")';
    var URL_PopulateMusicName = '@Url.Action("PopulateMusicList", "Reports")';
    $(document).ready(function () {
        $('.date-picker').datepicker({
            changeMonth: true,
            changeYear: true,
            //  showButtonPanel: true,
            dateFormat: 'MM yy',
            onClose: function (dateText, inst) {
                debugger;
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
            }
        });

    });

    function btnShow_OnClick() {
        $('.required').removeClass('required');
        $("[required='required']").removeAttr("required");
        var str = "";
        var returnVal = true;
        var musicLabelList = $('#txtMusic').val();
        var contentList = $('#txtContent').val();
        var channelList = $('#txtChannel').val();
        var txtfrom = $('#txtfrom').val();
        var txtto = $('#txtto').val();


        if ( contentList == 0) {
            contentList = " ";
        }

        str = "";
        if (musicLabelList == 0) {
            musicLabelList = " ";
        }
       
        str = "";
        if (channelList == 0) {
            channelList = " ";
        }
       
        if (($('#txtMusic').val() == null || $('#txtMusic').val() == "") && ($('#txtChannel').val() == null || $('#txtChannel').val() == "") && ($('#txtContent').val() == null || $('#txtContent').val() == "")) {
            showAlert('E', '@objMessageKey.PleaseSelectChannelorMusicLabelorContent');
            return false;
        }

        if (txtfrom == "" && txtto != "") {
            $('#txtfrom').attr('required', true);
            return false;
        }
        if (txtto == "" && txtfrom != "") {
            $('#txtto').attr('required', true);
            return false;
        }
        
        if (returnVal) {
            $.ajax({
                type: "POST",
                url: URL_BindChannelWiseMusicUsageReport,
                traditional: true,
                enctype: 'multipart/form-data',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    contentCode: contentList,
                    musiclabelCode: musicLabelList,
                    channelCode: channelList,
                    dateFrom: txtfrom,
                    dateTo: txtto,
                    dateformat: $('#ddlDateFormat').val()
                }),
                async: false,
                success: function (result) {
                    if (result == "true") {
                        redirectToLogin();
                    }
                    else {
                        $('#divResult').empty();
                        $('#divResult').html(result);
                    }
                },
                error: function (result) {
                    alert('Error: ' + result.responseText);
                }
            });
        }
    }
    function SetMaxDt() {
        setMinMaxDates('txtfrom', '', $('#txtto').val());
    }
    function SetMinDt() {
        setMinMaxDates('txtto', $('#txtfrom').val(), '');
    }
    function PopulateContentName(keyword) {
        var selectedtxt = $('#txtContent').val()
        var txt = selectedtxt.split('﹐');
        var iscomplete = true;
        if (txt[txt.length - 1].trim() == "")
            iscomplete = false;
        if (iscomplete) {
            $("#txtContent").autocomplete({
                focus: function () {
                    return false;
                },
                search: function (e, u) {
                    $(this).addClass('loader');
                },
                source: function (request, response) {
                    var param = {
                        keyword: $('#txtContent').val()
                    };
                    $.ajax({
                        url: URL_PopulateContentName,
                        data: JSON.stringify(param),
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataFilter: function (data) { return data; },
                        success: function (data) {
                            if (data.length == 0) {
                                data[0] = 'Result Not Found';
                                response($.map(data, function (v, i) {
                                    $('#txtContent').removeClass('loader');
                                    return {
                                        label: '@objMessageKey.ResultNotFound',
                                        val: '0'
                                    }
                                }))
                            }
                            else {
                                response($.map(data, function (v, i) {
                                    $('#txtContent').removeClass('loader');
                                    return {
                                        label: v.Title_Name,
                                        val: v.Title_Code
                                    }
                                }))
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            alert("Error" + textStatus);
                        }
                    });
                },
                select: function (event, i) {
                    debugger;
                    if (i.item.value != "@objMessageKey.ResultNotFound") {
                        var text = this.value.split(/﹐\s*/);
                        text.pop();
                        text.push(i.item.value);
                        text.push("");
                        this.value = text;
                        this.value = text.join("﹐");
                        var value = $("#hdnTitleCode").val().split(/,\s*/);
                        value.pop();
                        value.push(i.item.val);
                        value.push("");
                        $("#hdnTitleCode")[0].value = value.join(", ");
                        return false;
                    }
                    else {
                        $('#txtContent').val("");
                        return false;
                    }
                },

                minLength: 3,
                open: function (event, ui) {
                    $(".ui-autocomplete").css("position", "absolute");
                    $(".ui-autocomplete").css("max-height", "200px");
                    $(".ui-autocomplete").css("max-width", "285px");
                    $(".ui-autocomplete").css("overflow-y", "auto");
                    $(".ui-autocomplete").css("overflow-x", "hidden");
                    $(".ui-autocomplete").css("z-index", "2147483647");
                    $(".ui-autocomplete").css("direction", "@objMessageKey.LayoutDirection");
                },

            });
        }
        else
            return false;
    }
    function PopulateChannelName(keyword) {
        if ($('#txtChannel').val().length == "0") {
            $('#hdnChannelCode').val(0);
        }
        var selectedtxt = $('#txtChannel').val()
        var txt = selectedtxt.split('﹐');
        var iscomplete = true;
        if (txt[txt.length - 1].trim() == "")
            iscomplete = false;
        if (iscomplete) {
            $("#txtChannel").autocomplete({
                focus: function () {
                    return false;
                },
                search: function (e, u) {
                    $(this).addClass('loader');
                },
                source: function (request, response) {
                    var param = {
                        keyword: $('#txtChannel').val()
                    };
                    $.ajax({
                        url: URL_PopulateChannelName,
                        data: JSON.stringify(param),
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataFilter: function (data) { return data; },
                        success: function (data) {
                            if (data.length == 0) {
                                data[0] = 'Result Not Found';
                                response($.map(data, function (v, i) {
                                    $('#txtChannel').removeClass('loader');
                                    return {
                                        label: '@objMessageKey.ResultNotFound',
                                        val: '0'
                                    }
                                }))
                            }
                            else {
                                response($.map(data, function (v, i) {
                                    $('#txtChannel').removeClass('loader');
                                    return {
                                        label: v.Channel_Name,
                                        val: v.Channel_Code
                                    }
                                }))
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            alert("Error" + textStatus);
                        }
                    });
                },
                select: function (event, i) {
                    debugger;
                    if (i.item.value != "@objMessageKey.ResultNotFound") {
                        var text = this.value.split(/﹐\s*/);
                        text.pop();
                        text.push(i.item.value);
                        text.push("");
                        this.value = text;
                        this.value = text.join("﹐");
                        var value = $("#hdnChannelCode").val().split(/,\s*/);
                        value.pop();
                        value.push(i.item.val);
                        value.push("");
                        $("#hdnChannelCode")[0].value = value.join(", ");
                        return false;
                    }
                    else {
                        $('#txtChannel').val("");
                        return false;
                    }
                },
                minLength: 3,
                open: function (event, ui) {
                    $(".ui-autocomplete").css("position", "absolute");
                    $(".ui-autocomplete").css("max-height", "200px");
                    $(".ui-autocomplete").css("max-width", "285px");
                    $(".ui-autocomplete").css("overflow-y", "auto");
                    $(".ui-autocomplete").css("overflow-x", "hidden");
                    $(".ui-autocomplete").css("z-index", "2147483647");
                    $(".ui-autocomplete").css("direction", "@objMessageKey.LayoutDirection");
                },

            });
        }
        else
            return false;
    }
    function PopulateMusicName(keyword) {
        if ($('#txtMusic').val().length == "0") {
            $('#hdnMusicCode').val(0);
        }
        var selectedtxt = $('#txtMusic').val()
        var txt = selectedtxt.split('﹐');
        var iscomplete = true;
        if (txt[txt.length - 1].trim() == "")
            iscomplete = false;
        if (iscomplete) {
            $("#txtMusic").autocomplete({
                focus: function () {
                    return false;
                },
                search: function (e, u) {
                    $(this).addClass('loader');
                },
                source: function (request, response) {
                    var param = {
                        keyword: $('#txtMusic').val()
                    };
                    $.ajax({
                        url: URL_PopulateMusicName,
                        data: JSON.stringify(param),
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataFilter: function (data) { return data; },
                        success: function (data) {
                            if (data.length == 0) {
                                data[0] = 'Result Not Found';
                                response($.map(data, function (v, i) {
                                    $('#txtMusic').removeClass('loader');
                                    return {
                                        label: '@objMessageKey.ResultNotFound',
                                        val: '0'
                                    }
                                }))
                            }
                            else {
                                response($.map(data, function (v, i) {
                                    $('#txtMusic').removeClass('loader');
                                    return {
                                        label: v.Music_Label_Name,
                                        val: v.Music_Label_Code
                                    }
                                }))
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            alert("Error" + textStatus);
                        }
                    });
                },
                select: function (event, i) {
                    if (i.item.value != "@objMessageKey.ResultNotFound") {
                        debugger;
                        var text = this.value.split(/﹐\s*/);
                        text.pop();
                        text.push(i.item.value);
                        text.push("");
                        this.value = text;
                        this.value = text.join("﹐");
                        var value = $("#hdnMusicCode").val().split(/,\s*/);
                        value.pop();
                        value.push(i.item.val);
                        value.push("");
                        $("#hdnMusicCode")[0].value = value.join(", ");
                        return false;
                    }
                    else
                    {
                        $('#txtMusic').val("");
                        return false;
                    }
                },
                minLength: 3,
                open: function (event, ui) {
                    $(".ui-autocomplete").css("position", "absolute");
                    $(".ui-autocomplete").css("max-height", "200px");
                    $(".ui-autocomplete").css("max-width", "285px");
                    $(".ui-autocomplete").css("overflow-y", "auto");
                    $(".ui-autocomplete").css("overflow-x", "hidden");
                    $(".ui-autocomplete").css("z-index", "2147483647");
                    $(".ui-autocomplete").css("direction", "@objMessageKey.LayoutDirection");
                },

            });
        }
        else
            return false;
    }
    function btnClear_OnClick() {
        $("#hdnTitleCode,#hdnMusicCode,#hdnChannelCode").val(0);
        $('#txtContent,#txtChannel,#txtMusic').val('');
        $('#txtfrom').val('');
        $('#txtto').val('');

    }
    function ShowHideSearchCriteria(show) {
        if (show == 'S') {
            $('#divFilter').show();
            $('#tdShowImg').hide();
            $('#tdHideImg').show();
            $('#divFilter').width = '100%';
        }
        else if (show == 'H') {
            debugger;
            $('#divFilter').hide();
            $('#tdHideImg').hide();
            $('#tdShowImg').show();
            $('#divFilter').width = '100%';
        }
    }
</script>
<style>
     #divFilter {
        background: #eee;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .sumo_ChannelList{
        width: 284px !important;
    }
    .sumo_MusicLabelList
    {
        width: 294px !important;
    }
     .ui-datepicker-calendar {
    display: none;
    }
     #ui-datepicker-div{
         width : 13% !important;
     }
</style>
<div class="main_section">
    <section class="rightsU_container clearfix">
        <div class="container acq main_col">
            <h2 style="direction:@objMessageKey.LayoutDirection">@objMessageKey.ChannelMusicConsumption</h2>
            <div id="divFilter">
                <table>
                    <tr>
                        <td style="width : 3%;">
                            @objMessageKey.Channel :
                            <input type="text" id="txtChannel" class="search" maxlength="100" style="width:285px" placeholder="@objMessageKey.Channel" onkeyup="PopulateChannelName(event)" autocomplete="on" />
                            <input type="hidden" id="hdnChannelCode" value="0" />                     
                        </td>                   
                        <td>
                            @objMessageKey.AiringDate :&nbsp;
                            <input type="text" class="date-picker" value="" id="txtfrom" placeholder="@objMessageKey.From" title="@objMessageKey.From" style="width:130px;" />
                            &nbsp; @objMessageKey.To &nbsp;
                            <input type="text" class="date-picker" value="" id="txtto" placeholder="@objMessageKey.To" title="@objMessageKey.To" style="width:130px;" />
                        </td>
                        <td style="width:2%">
                            @objMessageKey.DateFormat:
                            </td>
                        <td style="width:5%;">
                            @Html.DropDownList("DateFormat", (List<SelectListItem>)ViewBag.DateFormat, new { @id = "ddlDateFormat", @class = "form_input chosen-select" })
                    </td>
                    </tr>
                    <tr>                   
                        <td>
                            @objMessageKey.Content :
                            <input type="text" id="txtContent" class="search" maxlength="100" style="width:285px" placeholder="@objMessageKey.Content" onkeyup="PopulateContentName(event)" autocomplete="on" />
                            <input type="hidden" id="hdnTitleCode" value="0" />
                        </td>
                        <td style="width:4%;">
                            @objMessageKey.MusicLabel :
                            <input type="text" id="txtMusic" class="search" maxlength="100" style="width:285px" placeholder="@objMessageKey.MusicLabel" onkeyup="PopulateMusicName(event)" autocomplete="on" />
                            <input type="hidden" id="hdnMusicCode" value="0" />                     
                        </td>
                      <td></td>
                        <td>
                            <input type="button" id="btnShow" class="btn btn-primary" value="@objMessageKey.Show" onclick="return btnShow_OnClick()">
                            <input type="button" id="btnClear" class="btn btn-primary" value="@objMessageKey.ClearAll" onclick="return btnClear_OnClick()">
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr align="left" id="trImg">
                        <td id='tdShowImg' align='left' style="display: none">
                            <input type="image" title="Expand" alt="Expand Search Criteria" style="cursor:pointer;" src="~/Images/expand.jpg" onclick="return ShowHideSearchCriteria('S');" />
                        </td>
                        <td id='tdHideImg' align="left">
                            <input type="image" title="Collapse" alt="Collapse Search Criteria" style="cursor:pointer;" src="~/Images/collapse.jpg" onclick="return ShowHideSearchCriteria('H');" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="divResult">

            </div>
        </div>
    </section>
</div>
