@model List<RightsU_Entities.Business_Unit>
@using UTOFrameWork.FrameworkClasses


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}
<link href="~/CSS/sumoselect.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" rel="stylesheet" />
<script src="~/JS_Core/jquery.sumoselect.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<link type="text/css" rel="stylesheet" href="~/css/chosen.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>

    var URL_BindAcqDealListReport = '@Url.Action("BindIPRReport", "Reports")';
    $(document).ready(function () {
        $('#txtStart').change(function () {
            SetMinDt();
        });
        $('#txtEnd').change(function () {
            SetMaxDt();
        });
        $("#ddlBusinessUnit").change(function () {
            $("#txtTitle").val('');
        });

        $("#ddlBusinessUnitMultiSelect").change(function () {
            $("#txtTitle").val('');
        });

        $('#ddlBusinessUnitMultiSelect').SumoSelect({ selectAll: true, triggerChangeCombined: false }).sumo.selectAll();
        $('#ddlBusinessUnitMultiSelect').each(function () {
            $(this)[0].sumo.reload();
            $('.SumoSelect > .CaptionCont > span').css("padding-right", "0px");
            $('.SumoSelect .select-all').css({ paddingRight: '6px' });
            $('.SumoSelect > .optWrapper > .options li.opt label').css({ direction: "LTR", paddingRight: '30px' });
            $('.SumoSelect > .CaptionCont, .SumoSelect .select-all > label').css({ paddingRight: '35px', lineHeight: '15px' });
        });
    });

    function btnShow_OnClick() {
        debugger
        $('.required').removeClass('required');
        $("[required='required']").removeAttr("required");

        var Trademark = $('#txtDealNo').val();
        var Dealtag = $('#ddlStatus').val();
        var RegistrationDate = $('#txtStart').val();
        var DateofExpiry = $('#txtEnd').val();
        var returnVal = true;
        var subDeal = "", masterDeal = "";

        if (($('#chkSubDeal').prop("checked")) == true) {
            Domestic = "Y";
        }
        if (($('#chkMasterDeal').prop("checked")) == true) {
            International = "Y";
        }
        if ($('#chkRight').is(':checked') == true) {
            IsCheckRight = "Y";
        }
        else {
            IsCheckRight = "N";
        }
        if ($('#chkPushback').is(':checked') == true) {
            IsPushBack = "Y";
        }
        else {
            IsPushBack = "N";
        }
        if (DealNo == "0") {
            $('#txtDealNo').addClass('required');
            returnVal = false;
        }
        if (Dealtag == "")
            Dealtag = 0;
        if (returnVal) {
            $.ajax({
                type: "POST",
                url: URL_BindAcqDealListReport,
                traditional: true,
                enctype: 'multipart/form-data',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    Trademark: Trademark,
                    Organisation: Organisation,
                    Domestic: Domestic,
                    International: International,
                    RegistrationDate: RegistrationDate,
                    DateofExpiry: DateofExpiry
                }),
                async: false,
                success: function (result) {
                    if (result == "true") {
                        redirectToLogin();
                    }
                    else {
                        $('#divResult').empty();
                        $('#divResult').html(result);
                    }
                },
                error: function (result) {
                    alert('Error: ' + result.responseText);
                }
            });
        }
    }
</script>
<style>
    #divFilter {
        background: #eee;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #divResult {
        margin-top: 10px;
    }

    #ddlBusinessUnit_chosen {
        width: 100%;
        max-width: 100%;
    }

    input.isDatepicker {
        width: 100px;
        z-index: auto;
    }
</style>
<div class="main_section">
    <section class="rightsU_container clearfix">
        <div class="container acq main_col">
            <div class="title_block dotted_border clearfix">
                <h2 dir='@objMessageKey.LayoutDirection'>@objMessageKey.AcquisitionDealListReport</h2>
            </div>
            <div id="divFilter">
                <table>
                    <tbody>
                        <tr style="width:100%">
                            <td style="width:12%"><b>Trademark : </b></td>
                            <td style="width:18%">
                                <input type="text" id="txtDealNo" class="DealNo" />
                            </td>
                            <td style="width:7%"><b>Organisation :</b></td>
                            <td style="width:16%;">
                                @Html.DropDownList("Status", (List<SelectListItem>)ViewBag.status, "Please Select", new { @id = "ddlStatus" }) @*, @class = "form_input chosen-select"*@
                            </td>
                            <td style="width:10%">
                                <label><input type="checkbox" id="chkMasterDeal" checked="checked" />&nbsp;Domestic</label>
                            </td>
                            <td style="width:8%">
                                <label><input type="checkbox" id="chkSubDeal" checked="checked" />&nbsp;International</label>
                            </td>
                        </tr>
                        <tr style="width:100%">
                            <td style="width:8%"><b>Registration Date :</b></td>
                            <td style="width:12%">
                                <input type="hidden" id="hdnStartDate" />
                                <input type="text" class="isDatepicker" id="txtStart" name="Start_Date" placeholder="DD/MM/YYYY" width="100"
                                       title="Registration Date" ondrop="return false" onpaste="return false" onkeypress="return false" onkeydown="return false" />
                            </td>
                            <td style="width:7%"><b>Class :</b></td>
                            <td style="width:16%">
                                @*@Html.DropDownList("Description", (List<SelectListItem>)ViewBag.Class, "Please Select", new { @id = "ddlTypeOfFilm" })*@
                                @*@Html.DropDownList("IPR_Class", ViewBag.Class, new { id = "ddlTypeOfFilm" }) @*, @class = "form-control"*@
                                @*@Html.DropDownListFor("Class", ViewBag.Class as SelectList, "Please Select", new { @id = "ddlTypeOfFilm" })*@ @*, @class = "form_input chosen-select"*@
                            </td>

                        </tr>
                        <tr style="width:100%">

                            <td style="width:8%"><b>Date of Expiry :</b></td>
                            <td style="width:12%">
                                <input type="hidden" id="hdnStartDate" />
                                <input type="text" class="isDatepicker" id="txtEnd" name="Start_Date" placeholder="DD/MM/YYYY" width="100"
                                       title="Registration Date" ondrop="return false" onpaste="return false" onkeypress="return false" onkeydown="return false" />
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><input type="button" id="btnShow" class="btn btn-primary" value="@objMessageKey.Show" onclick="btnShow_OnClick()"> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="title_block dotted_border clearfix">
            </div>

            <div>
                <table>
                    <tr align="left" id="trImg">
                        <td id='tdShowImg' align='left' style="display: none">
                            <input type="image" title="@objMessageKey.Expand" alt="Expand Search Criteria" style="cursor:pointer;" src="~/Images/expand.jpg" onclick="return ShowHideSearchCriteria('S');" />
                        </td>
                        <td id='tdHideImg' align="left">
                            <input type="image" title="@objMessageKey.Collapse" alt="Collapse Search Criteria" style="cursor:pointer;" src="~/Images/collapse.jpg" onclick="return ShowHideSearchCriteria('H');" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="divResult">

            </div>
        </div>
    </section>
</div>
