@{
    ViewBag.Title = "TitleMilestoneReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}
<link href="~/CSS/sumoselect.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" rel="stylesheet" />
<script src="~/JS_Core/jquery.sumoselect.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<link type="text/css" rel="stylesheet" href="~/css/chosen.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
    var URL_PopulateProjectForTitleMilestone = '@Url.Action("PopulateProjectForTitleMilestone", "Reports")';
    var URL_PopulateTalentForTitleMilesone = '@Url.Action("PopulateTalentTitleMilestone", "Reports")';
    var URL_BindProjectMilestoneReport = '@Url.Action("BindProjectMilestoneReport", "Reports")';

    $(document).ready(function () {
        $('#ddlMilestoneNatureName').SumoSelect();
    });

    function btnShow_OnClick() {
        debugger;
        var MilestoneNatureCode = "";
        var ExpiryDays = "0";
        $('.required').removeClass('required');
        $("[required='required']").removeAttr("required");
        var returnVal = true;
        if ($('#ddlMilestoneNatureName').val() == null && $('#txtProject').val() == "" && $('#txtfrom').val() == "" && $('#txtto').val() == "") {
            showAlert('E', 'Please select atleast one field');
            return false;
        }
        if ($('#txtTalent').val() == null || $('#txtTalent').val() == "") {
            ExpiryDays = "0";
        } else {
            ExpiryDays = $('#txtExpiryDays').val();
        }

        if ($('#ddlMilestoneNatureName').val() == null || $('#ddlMilestoneNatureName').val() == "") {
            MilestoneNatureCode = " ";
        } else {
            MilestoneNatureCode = $('#ddlMilestoneNatureName').val().join(',');
        }

        if ($('#txtProject').val() == null || $('#txtProject').val() == "") {
            Project = " ";
        } else {
            Project = $('#txtProject').val();
        }
        if (returnVal) {
            $.ajax({
                type: "POST",
                url: URL_BindProjectMilestoneReport,
                traditional: true,
                enctype: 'multipart/form-data',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    Project: Project,
                    MilestoneNatureCode: MilestoneNatureCode,
                    ExpiryDays: ExpiryDays
                }),
                async: false,
                success: function (result) {
                    if (result == "true") {
                        redirectToLogin();
                    }
                    else {
                        $('#divResult').empty();
                        $('#divResult').html(result);
                    }
                },
                error: function (result) {
                    alert('Error: ' + result.responseText);
                }
            });
        }
    }
    function btnClear_OnClick() {
        debugger;      
        var code = 1;
        $('#txtProject').val('');
        $('#txtTalent').val('');
        $('#ddlMilestoneNatureName').val('')[0].sumo.reload();
        $('#txtfrom').val('');
        $('#txtto').val('');
    }

    //Sys.WebForms.PageRequestManager.getInstance().add_endRequest(EndRequestHandler);
    //function EndRequestHandler(sender, args) {
    //    AssignDateJQuery();
    //}

    function PopulateProjectNameForTitleMilestone(keyword) {
        debugger;
        if ($('#txtProject').val().length == "0") {
            $('#hdnProjectCode').val(0);
        }
    
        var selectedtxt = $('#txtProject').val()
        var txt = selectedtxt.split('﹐');
        var iscomplete = true;
        if (txt[txt.length - 1].trim() == "")
            iscomplete = false;
        if (iscomplete) {
            $("#txtProject").autocomplete({
                focus: function () {
                    return false;
                },
                search: function (e, u) {
                    $(this).addClass('loader');
                },
                source: function (request, response) {
                    var param = {
                        keyword: $('#txtProject').val()
                    };
                    $.ajax({
                        url: URL_PopulateProjectForTitleMilestone,
                        data: JSON.stringify(param),
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataFilter: function (data) { return data; },
                        success: function (data) {
                            if (data.length == 0) {
                                data[0] = 'Result Not Found';
                                response($.map(data, function (v, i) {
                                    $('#txtProject').removeClass('loader');
                                    return {
                                        label: '@objMessageKey.ResultNotFound',
                                        val: '0',
                                    }
                                }))
                            }
                            else {
                                response($.map(data, function (v, i) {
                                    $('#txtProject').removeClass('loader');
                                    return {
                                        label: v.ProjectName,
                                        val: v.ProjectMilestoneCode
                                    }
                                }))
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            alert("Error" + textStatus);
                        }
                    });
                },
                select: function (event, i) {
                    debugger;
                    if (i.item.value != "@objMessageKey.ResultNotFound") {
                        if (jQuery.inArray((i.item.val).toString(), $("#hdnProjectCode").val().split(',')) == -1) {
                            var text = this.value.split(/﹐\s*/);
                            text.pop();
                            text.push(i.item.value);
                            text.push("");
                            this.value = text;
                            this.value = text.join("﹐");
                            var value = $("#hdnProjectCode").val().split(/,\s*/);
                            value.pop();
                            value.push(i.item.val);
                            value.push("");
                            $("#hdnProjectCode")[0].value = value.join(",");
                        }
                        return false;
                    }
                    else {
                        $('#txtProject').val("");
                        return false;
                    }
                },
                minLength: 3,
                open: function (event, ui) {
                    $(".ui-autocomplete").css("position", "auto");
                    $(".ui-autocomplete").css("max-height", "200px");
                    $(".ui-autocomplete").css("max-width", "285px");
                    $(".ui-autocomplete").css("overflow-y", "auto");
                    $(".ui-autocomplete").css("overflow-x", "hidden");
                    $(".ui-autocomplete").css("z-index", "2147483647");
                    $(".ui-autocomplete").css("direction", "@objMessageKey.LayoutDirection");
                },

            });
        }
        else
            return false;
    }

</script>
<style>
    #divFilter {
        background: #eee;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #divResult {
        margin-top: 10px;
    }

    #ddlBusinessUnit_chosen {
        width: 100%;
        max-width: 100%;
    }

    input.isDatepicker {
        width: 100px;
        z-index: auto;
    }

    #ddlDeal_chosen {
        width: 290px;
    }
</style>

<div class="main_section">
    <section class="rightsU_container clearfix">
        <div class="container acq main_col">
            <div class="title_block dotted_border clearfix">
                          <h2>Project Milestone Report</h2>            
            </div>
            <div id="divFilter">
                <table>
                    <tbody>
                        <tr>
                            <td style="width:5%">
                                <b>Project </b>
                            </td>
                            <td style="width:25%">
                                <input type="text" id="txtProject" class="search" maxlength="100" style="width:278px" placeholder="Project" onkeyup="PopulateProjectNameForTitleMilestone(event)" autocomplete="on" />
                                <input type="hidden" id="hdnProjectCode" value="0" />
                            </td>
                            <td style="width:9%">
                                <b>Nature of Deal</b>
                            </td>
                            <td style="width:20%">
                                @Html.DropDownList("ddlMilestoneNatureName", (List<SelectListItem>)ViewBag.MilestoneNatureName, new { @id = "ddlMilestoneNatureName", @multiple = "Multiple" })
                            </td>
                            <td style="width:7%">
                                <b>Expiring in </b>
                            </td>
                            <td style="width:18%">
                                <input type="text" maxlength="3" id="txtExpiryDays" style="width:50px" /> Days 
                            </td>
                            <td style="width: 15%;text-align: right;">
                                <input type="button" id="btnShow" class="btn btn-primary" value="@objMessageKey.Show" onclick="btnShow_OnClick()">
                                <input type="button" id="btnShow" class="btn btn-primary" value="@objMessageKey.Reset" onclick="btnClear_OnClick()">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="title_block dotted_border clearfix">
            </div>
            <div id="divResult">

            </div>
        </div>
    </section>
</div>


