
@{
    ViewBag.Title = "SelfUtilizationReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}

<link href="~/CSS/sumoselect.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" rel="stylesheet" />
<script src="~/JS_Core/jquery.sumoselect.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link type="text/css" rel="stylesheet" href="~/css/chosen.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />

<script>
    var BU_Code = "";
    var URL_BindTitle = '@Url.Action("BindTitleForSelfUtilizationReport", "Reports")';
    var URL_BindSelfUtilizationReport = '@Url.Action("BindSelfUtilizationReport", "Reports")';

    $(document).ready(function () {

        $('#ddlModeOfAcquisitionMultiSelect').SumoSelect({ selectAll: true, triggerChangeCombined: false }).sumo.selectAll();
        $('#ddlModeOfAcquisitionMultiSelect').each(function () {
            $(this)[0].sumo.reload();
            $('.SumoSelect > .CaptionCont > span').css("padding-right", "0px");
            $('.SumoSelect .select-all').css({ paddingRight: '6px' });
            $('.SumoSelect > .optWrapper > .options li.opt label').css({ direction: "LTR", paddingRight: '30px' });
            $('.SumoSelect > .CaptionCont, .SumoSelect .select-all > label').css({ paddingRight: '35px', lineHeight: '15px' });
        });
    });

    function PopulateTitle(keyword) {
        debugger;
        if ($('#txtTitle').val().length == "0") {
            $('#hdnTitleCode').val(0);
        }
        var selectedtxt = $('#txtTitle').val()
        var txt = selectedtxt.split('﹐');
        var iscomplete = true;
        if (txt[txt.length - 1].trim() == "")
            iscomplete = false;
        if (iscomplete) {
            $("#txtTitle").autocomplete({
                focus: function () {
                    return false;
                },
                search: function (e, u) {
                    $(this).addClass('loader');
                },
                source: function (request, response) {
                    var param = {
                        keyword: $('#txtTitle').val()

                    };
                    $.ajax({
                        url: URL_BindTitle,
                        data: JSON.stringify(param),
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataFilter: function (data) { return data; },
                        success: function (data) {
                            if (data.length == 0) {
                                data[0] = '@objMessageKey.ResultNotFound';
                                response($.map(data, function (v, i) {
                                    $('#txtTitle').removeClass('loader');
                                    return {
                                        label: '@objMessageKey.ResultNotFound',
                                        val: '0'
                                    }
                                }))
                            }
                            else {
                                response($.map(data, function (v, i) {
                                    $('#txtTitle').removeClass('loader');
                                    return {
                                        label: v.Title_Name,
                                        val: v.Title_Code
                                    }
                                }))
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            alert("Error" + textStatus);
                        }
                    });
                },
                select: function (event, i) {
                    debugger;
                    if (i.item.value != "@objMessageKey.ResultNotFound") {
                        var text = this.value.split(/﹐\s*/);
                        text.pop();
                        text.push(i.item.value);
                        text.push("");
                        this.value = text;
                        this.value = text.join("﹐");
                        var value = $("#hdnTitleCode").val().split(/,\s*/);
                        value.pop();
                        value.push(i.item.val);
                        value.push("");
                        $("#hdnTitleCode")[0].value = value.join(", ");
                        return false;
                    }
                    else{
                        $('#txtTitle').val("");
                        return false;
                    }
                },
                minLength: 3,
                open: function (event, ui) {
                    $(".ui-autocomplete").css("position", "absolute");
                    $(".ui-autocomplete").css("max-height", "200px");
                    $(".ui-autocomplete").css("max-width", "400px");
                    $(".ui-autocomplete").css("overflow-y", "auto");
                    $(".ui-autocomplete").css("overflow-x", "hidden");
                    $(".ui-autocomplete").css("z-index", "2147483647");
                    $(".ui-autocomplete").css("direction", "@objMessageKey.LayoutDirection")
                },

            });
        }
        else
            return false;
    }

    function btnShow_OnClick() {
        debugger;
        $('.required').removeClass('required');
        $("[required='required']").removeAttr("required");

        var ModeOfAcquisitionCode = $('#ddlModeOfAcquisitionMultiSelect').val().join(',');
        
        if ($('#txtTitle').val() != '0')
            var Title = $('#txtTitle').val();
        else
            var Title = "";
        
        $.ajax({
            type: "POST",
            url: URL_BindSelfUtilizationReport,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({               
                Title: Title,
                ModeOfAcquisitionCode: ModeOfAcquisitionCode
            }),
            async: false,
            success: function (result) {
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    $('#divResult').empty();
                    $('#divResult').html(result);
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
            }
        });
    }

    function Clear() {
        debugger;
        $('#txtTitle').val('');
        $('#ddlModeOfAcquisitionMultiSelect').val('')[0].sumo.reload();
    }

</script>

<style>
    #divFilter {
        background: #eee;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #divResult {
        margin-top: 10px;
    }
</style>

<div class="main_section">
    <section class="rightsU_container clearfix">
        <div class="container acq main_col">
            <h2>Self Utilization Report</h2>
            <div id="divFilter">
                <table>
                    <tr>
                        <td>
                            <div>
                                <table align="center" border="0" cellpadding="2" cellspacing="0" style="width: 100%; vertical-align: top;">
                                    <tr>
                                        <td><b>Mode Of Acquisition :</b></td>
                                        <td>
                                            @Html.DropDownList("ModeOfAcquisition", ViewBag.ModeOfAcquisitionList as SelectList, new { @id = "ddlModeOfAcquisitionMultiSelect", @multiple = "multiple" })
                                        </td>

                                        <td class="searchborder" style="width: 7%;"><b>@objMessageKey.Title :</b></td>
                                        <td class="searchborder" style="width: 28%;">
                                            <input type="text" id="txtTitle" class="search" maxlength="100" style="width:295px" placeholder="@objMessageKey.Title" onkeyup="PopulateTitle(event)" autocomplete="on" />
                                            <input type="hidden" id="hdnTitleCode" value="0" />
                                        </td>

                                        <td style="width: 30%;">
                                            <span style="padding-left:2%;"></span>
                                            <input type="button" id="btnShow" class="btn btn-primary" value="@objMessageKey.Show" onclick="return btnShow_OnClick()">
                                            <input type="button" id="btnClear" class="btn btn-primary" value="@objMessageKey.ClearAll" onclick="Clear()" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="divResult">

            </div>
        </div>
    </section>
</div>

