@{
    ViewBag.Title = "SynDealListReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}
<link type="text/css" rel="stylesheet" href="~/css/chosen.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link href="~/CSS/sumoselect.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" rel="stylesheet" />
<script src="~/JS_Core/jquery.sumoselect.js?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]"></script>
<style>
    #divFilter {
        background: #eee;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #divResult {
        margin-top: 10px;
    }

    #ddlBusinessUnit_chosen {
        width: 100%;
        max-width: 100%;
    }

    input.isDatepicker {
        width: 100px;
        z-index: auto;
    }

    .sumo_ddlTitle{
        width:189px;
    }
</style>
<script>
    var URL_PopulateTitleNameForSynDeal = '@Url.Action("BindSynTitleList", "Reports")';
    var TitleCode;
    var URL_BindSynDealListReport = '@Url.Action("BindSynDealListReport", "Reports")';
    URL_PopulateAgreementNo = '@Url.Action("PopulateAgreementNo", "Reports")';

    $(document).ready(function () {
        $('#txtStart').change(function () {
            SetMinDt();
        });

        $('#txtEnd').change(function () {
            SetMaxDt();
        });
        $('#ddlTitle').SumoSelect();
     
        $("#ddlBusinessUnit").change(function () {
            $('#txtTitle').val('');
        });
    });

    function btnShow_OnClick() {
        debugger
        $('.required').removeClass('required');
        $("[required='required']").removeAttr("required");

        var isTheatrical ="";
        if (@ViewBag.Code == 109)
        {
            isTheatrical = 'N';
        }
        else if(@ViewBag.Code == 165)
        {
            isTheatrical = 'Y';
        }
        var AllowDealSegment = $('#AllowDealSegment').val();
        if (AllowDealSegment == "Y")
            var DealSegment = $('#ddlDealSegment').val();
        else
            var DealSegment = "";
        var expiredDeal = $('#chk_expiredDeals').is(":checked");
        var businessUnitcode = $('#ddlBusinessUnit').val();
        var DealNo = $('#txtDealNo').val();
        var status = $('#ddlStatus').val();
        if ($('#txtTitle').val() != '0')
            TitleCode = $('#txtTitle').val();
        else
            TitleCode = "";

        var startDate = $('#txtStart').val();
        var endDate = $('#txtEnd').val();
        var IsPushBack = "";
        var returnVal = true;

    
        if ($('#chkRight').is(':checked') == true) {
            IsCheckRight = "Y";
        }
        else {
            IsCheckRight = "N";
        }
        if ((($('#chkRight').prop("checked")) == false) && (($('#chkPushback').prop("checked")) == false))
            IsPushBack = "N";
        else if (((($('#chkRight').prop("checked")) == true) && (($('#chkPushback').prop("checked")) == true)))
            IsPushBack = "";
        else if ($('#chkPushback').prop("checked") == true)
            IsPushBack = "Y";
        else
            IsPushBack = "N";
        //if ($('#chkPushback').is(':checked') == true) {
        //    IsPushBack = "Y";
        //}
        //else {
        //    IsPushBack = "N";
        //}
        //if (((($('#chkRight').prop("checked")) == false) && (($('#chkPushback').prop("checked")) == false)) || ((($('#chkRight').prop("checked")) == true) && (($('#chkPushback').prop("checked")) == true)))
        //    IsPushBack = "";
        //else {
        //    if (($('#chkRight').prop("checked")) == true)
        //        IsPushBack = "N";
        //    else
        //        IsPushBack = "Y";
        //}
        //if (businessUnitcode == 0) {
        //    $('#ddlBusinessUnit').attr('required', true);
        //    returnVal = false;
        //}
        if (DealNo == "0") {
            $('#txtDealNo').addClass('required');
            returnVal = false;
        }
        if (TitleCode == null)
            TitleCode = "";
        if (status == "")
            status = 0;
        if (returnVal) {
            $.ajax({
                type: "POST",
                url: URL_BindSynDealListReport,
                traditional: true,
                enctype: 'multipart/form-data',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    businessUnitcode: businessUnitcode,
                    DealNo: DealNo,
                    status: status,
                    startDate: startDate,
                    endDate: endDate,
                    DealSegment: DealSegment,
                    IsPushBack: IsPushBack,
                    TitleCode: TitleCode,
                    isExpiredDeal: expiredDeal,
                    isTheatrical: isTheatrical,
                    dateformat: $('#ddlDateFormat').val(),
                    IsCheckRight: IsCheckRight            
                }),
                async: false,
                success: function (result) {
                    if (result == "true") {
                        redirectToLogin();
                    }
                    else {
                        $('#divResult').empty();
                        $('#divResult').html(result);
                    }
                },
                error: function (result) {
                    alert('Error: ' + result.responseText);
                }
            });
        }
    }
    function ShowHideSearchCriteria(show) {
        if (show == 'S') {
            $('#divFilter').show();
            $('#tdShowImg').hide();
            $('#tdHideImg').show();
            $('#divFilter').width = '100%';
        }
        else if (show == 'H') {
            debugger;
            $('#divFilter').hide();
            $('#tdHideImg').hide();
            $('#tdShowImg').show();
            $('#divFilter').width = '100%';
        }
    }

    function populateAgreementNo(evt)
    {
        var module = 35;
        debugger;
        $('.required').removeClass('required');
        $("[required='required']").removeAttr("required");

        var businessUnitcode = $('#ddlBusinessUnit').val();
        var selectedtxt = $('#txtAgreementNo').val()
        var returnVal = true;
        if (businessUnitcode == 0) {
            $('#ddlBusinessUnit').attr('required', true);
            returnVal = false;
        }

        if (returnVal) {
            $("#txtAgreementNo").autocomplete({
                focus: function () {
                    // prevent value inserted on focus
                    return false;
                },
                search: function (e, u) {
                    $(this).addClass('loader');
                },
                source: function (request, response) {
                    $('#hdnAcqDealCode').val('0')
                    $('#hdnAgreementNo').val('')
                    var param = {
                        searchPrefix: $('#txtAgreementNo').val(),
                        module: module
                    };
                    $.ajax({
                        url: URL_PopulateAgreementNo,
                        data: JSON.stringify(param),
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataFilter: function (data) { return data; },
                        success: function (data) {
                            if (data.length == 0) {
                                data[0] = 'Result Not Found';
                                response($.map(data, function (v, i) {
                                    $('#txtAgreementNo').removeClass('loader');
                                    return {
                                        label: 'Result Not Found',
                                        val: '0'
                                    }
                                }))
                            }
                            else {
                                response($.map(data, function (v, i) {
                                    $('#txtAgreementNo').removeClass('loader');
                                    return {
                                        label: v.Text,
                                        val: v.Code
                                    }
                                }))
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Error" + textStatus);
                        }
                    });
                },
                select: function (event, i) {
                    var code = i.item.val;
                    $('#hdnAcqDealCode').val(code);
                    $('#hdnAgreementNo').val(i.item.value);
                },
                minLength: 2,
                open: function (event, ui) {
                    $(".ui-autocomplete").css("position", "absolute");
                    $(".ui-autocomplete").css("max-height", "200px");
                    $(".ui-autocomplete").css("overflow-y", "auto");
                    $(".ui-autocomplete").css("overflow-x", "hidden");
                    $(".ui-autocomplete").css("z-index", "2147483647");
                    $(".ui-autocomplete").css("direction", "@objMessageKey.LayoutDirection")
                },

            });
        }
    }
    function SetMaxDt() {
        setMinMaxDates('txtStart', '', $('#txtEnd').val());
    }
    function SetMinDt() {
        setMinMaxDates('txtEnd', $('#txtStart').val(), '');
    }
    Sys.WebForms.PageRequestManager.getInstance().add_endRequest(EndRequestHandler);
    function EndRequestHandler(sender, args) {
        AssignDateJQuery();
    }
    function PopulateTitleNameForSynDeal(keyword) {
        if ($('#txtTitle').val().length == "0")
        {
            $('#hdnTitleCode').val(0);
        }
        var selectedtxt = $('#txtTitle').val()
        var txt = selectedtxt.split('﹐');
        var iscomplete = true;
        if (txt[txt.length - 1].trim() == "")
            iscomplete = false;
        if (iscomplete) {
            $("#txtTitle").autocomplete({
                focus: function () {
                    return false;
                },
                search: function (e, u) {
                    $(this).addClass('loader');
                },
                source: function (request, response) {
                    var param = {
                        BU_Code : $('#ddlBusinessUnit').val(),
                        keyword: $('#txtTitle').val()

                    };
                    $.ajax({
                        url: URL_PopulateTitleNameForSynDeal,
                        data: JSON.stringify(param),
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataFilter: function (data) { return data; },
                        success: function (data) {
                            if (data.length == 0) {
                                data[0] = '@objMessageKey.ResultNotFound';
                                response($.map(data, function (v, i) {
                                    $('#txtTitle').removeClass('loader');
                                    return {
                                        label: '@objMessageKey.ResultNotFound',
                                        val: '0'
                                    }
                                }))
                            }
                            else {
                                response($.map(data, function (v, i) {
                                    $('#txtTitle').removeClass('loader');
                                    return {
                                        label: v.Title_Name,
                                        val: v.Title_Code
                                    }
                                }))
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            alert("Error" + textStatus);
                        }
                    });
                },
                select: function (event, i) {
                    debugger;
                    if (i.item.value != "@objMessageKey.ResultNotFound") {
                        var text = this.value.split(/﹐\s*/);
                        text.pop();
                        text.push(i.item.value);
                        text.push("");
                        this.value = text;
                        this.value = text.join("﹐");
                        var value = $("#hdnTitleCode").val().split(/,\s*/);
                        value.pop();
                        value.push(i.item.val);
                        value.push("");
                        $("#hdnTitleCode")[0].value = value.join(", ");
                        return false;
                    }
                    else{
                        $('#txtTitle').val("");
                        return false;
                    }
                },
                minLength: 3,
                open: function (event, ui) {
                    $(".ui-autocomplete").css("position", "absolute");
                    $(".ui-autocomplete").css("max-height", "200px");
                    $(".ui-autocomplete").css("max-width", "285px");
                    $(".ui-autocomplete").css("overflow-y", "auto");
                    $(".ui-autocomplete").css("overflow-x", "hidden");
                    $(".ui-autocomplete").css("z-index", "2147483647");
                    $(".ui-autocomplete").css("direction", "@objMessageKey.LayoutDirection")
                },

            });
        }
        else
            return false;
    }
</script>
<div class="main_section">
    <section class="rightsU_container clearfix">
        <div class="container acq main_col">
            @if (Convert.ToInt32(ViewBag.Code) == 109)
            {
                <div class="title_block dotted_border clearfix">
                    <h2 dir='@objMessageKey.LayoutDirection'>@objMessageKey.SyndicationDealListReport</h2>
                </div>
            }
            else if(Convert.ToInt32(ViewBag.Code) == 165)
            {
                <div class="title_block dotted_border clearfix">
                    <h2 dir='@objMessageKey.LayoutDirection'>@objMessageKey.TheatricalSyndicationReport</h2>
                </div>
            }
            <div id="divFilter">
                <table>
                    <tbody>
                        <tr style="width:100%">
                            <td style="width:12%"><b>@objMessageKey.AgreementNo : </b></td>
                            <td style="width:18%">
                                <input type="text" id="txtDealNo" class="DealNo" />
                            </td>
                            <td style="width:7%"><b>@objMessageKey.Status :</b></td>
                            <td style="width:16%;">
                                @Html.DropDownList("Status", (List<SelectListItem>)ViewBag.status, "Please Select", new { @id = "ddlStatus", @class = "form_input chosen-select" })
                            </td>
                            <td style="width:8%"><b>@objMessageKey.StartDate :</b></td>
                            <td style="width:15%">
                                <input type="hidden" id="hdnStartDate" />
                                <input type="text" class="isDatepicker" id="txtStart" name="Start_Date" placeholder="DD/MM/YYYY" width="100"
                                       title="@objMessageKey.StartDate" ondrop="return false" onpaste="return false" onkeypress="return false" onkeydown="return false" />
                            </td>
                            <td colspan="2" style="width:24%">
                                <label><input type="checkbox" id="chkRight" text="Rigts" checked="checked" style="cursor: pointer;" />&nbsp;@objMessageKey.Rights</label>
                                <label><input type="checkbox" id="chkPushback" style="cursor: pointer;" />&nbsp;@objMessageKey.LicensorHB</label>
                            </td>
                        </tr>
                        <tr style="width:100%">
                            <td style="width:11%"><b>@objMessageKey.BusinessUnit :</b></td>
                            <td style="width:16%;">
                                @Html.DropDownList("BusinessUnit",ViewBag.BusinessUnitList as SelectList, new { @id = "ddlBusinessUnit", @class = "form_input chosen-select" })
                            </td>
                            <td style="width: 7%;"><b>@objMessageKey.Title :</b></td>
                            <td style="width:18%">

                                <input type="text" id="txtTitle" class="search" maxlength="100" style="width:96%;" placeholder="@objMessageKey.Title" onkeyup="PopulateTitleNameForSynDeal(event)" autocomplete="on" />
                                <input type="hidden" id="hdnTitleCode" value="0" />
                            </td>
                          

                            <td style="width:5%"><b>@objMessageKey.EndDate : </b></td>
                            <td style="width:15%">
                                <input type="text" class="isDatepicker" id="txtEnd" name="End_Date" placeholder="DD/MM/YYYY"
                                       title="@objMessageKey.EndDate" ondrop="return false" onpaste="return false" onkeypress="return false" onkeydown="return false" />
                            </td>
                            <td style="width:17%;">
                                <input type="checkbox" id="chk_expiredDeals" style="cursor: pointer;"/>&nbsp; @objMessageKey.IncludeExpiredDeals
                            </td>

                            <td style="width:28%;"><input type="button" id="btnShow" class="btn btn-primary" value="@objMessageKey.Show" onclick="btnShow_OnClick()"> </td>

                        </tr>
                        <tr>
                            <td style="width:8%"><b>@objMessageKey.DateFormat:</b></td>
                            <td style="width:17%">
                                @Html.DropDownList("DateFormat", (List<SelectListItem>)ViewBag.DateFormat, new { @id = "ddlDateFormat", @class = "form_input chosen-select" })
                            </td>
                            <input id="AllowDealSegment"
                                   type="hidden"
                                   value=@ViewBag.AllowDealSegment />
                            @if (ViewBag.AllowDealSegment == "Y")
                            {
                                <td style="width:7%"><b>Deal Segment :</b></td>
                                <td style="width:16%">
                                    @Html.DropDownList("DealSegment", ViewBag.Deal_Segment as SelectList, "Please Select", new { @id = "ddlDealSegment", @class = "form_input chosen-select" })
                                </td>
                            }
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="title_block dotted_border clearfix">
            </div>

            <div>
                <table>
                    <tr align="left" id="trImg">
                        <td id='tdShowImg' align='left' style="display: none">
                            <input type="image" title="@objMessageKey.Expand" alt="Expand Search Criteria" style="cursor:pointer;" src="~/Images/expand.jpg" onclick="return ShowHideSearchCriteria('S');" />
                        </td>
                        <td id='tdHideImg' align="left">
                            <input type="image" title="@objMessageKey.Collapse" alt="Collapse Search Criteria" style="cursor:pointer;" src="~/Images/collapse.jpg" onclick="return ShowHideSearchCriteria('H');" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="divResult">

            </div>
        </div>
    </section>
</div>