@model List<RightsU_Dapper.Entity.Genre>
@{
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
        //List<int?> lstGenreCodes = new RightsU_BLL.Genre_Service.SearchFor(w => true).Select(x => x.Currency_Code).ToList();
    }
    RightsU_Dapper.BLL.Services.Genres_Service objGenreService = new RightsU_Dapper.BLL.Services.Genres_Service();
    List<int?> lstGenreCodes = objGenreService.GetList().Select(x => x.Genres_Code).ToList();
    //RightsU_Dapper.BLL.Services.Channel_Service objChannelService = new RightsU_Dapper.BLL.Services.Channel_Service();
    //List<int?> lstChannelCodes = objChannelService.GetList().Select(x => x.Genres_Code).ToList();
}           
<script>
    $('.expand_Genres_Name').expander({
        slicePoint: 90,
        expandPrefix: '',
        expandText: '...@objMessageKey.readmore',
        collapseTimer: 0,
        userCollapseText: '<span>[^]</span>'
    });

   
</script>
<table class="table table-bordered table-hover" id="tblGenres">
    <thead>
        <tr>
            <th style="width:60%;">@objMessageKey.Genres</th>
            <th style="width:20%;">@objMessageKey.Status</th>
            <th style="width:20%;">@objMessageKey.Action</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.CommandName == "ADD")
        {
            <tr>
                <td>
                    <input id="txtGenresName_0" type="text" value="" maxlength="100" />
                </td>
                <td align="center">
                    <span>@objMessageKey.Active</span>
                </td>
                <td align="center">
                    <a title="@objMessageKey.Save" class="glyphicon glyphicon-ok-circle" onclick="SaveGenre(0)"></a>
                    <a title="@objMessageKey.Cancel" class="glyphicon glyphicon-remove-circle" onclick="Cancel()"></a>
                </td>
            </tr>
        }
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                string strActive =objMessageKey.Active;
                if (item.Is_Active == "N")
                {
                    strActive = @objMessageKey.Deactive;
                }
                <tr>
                    @if (ViewBag.CommandName == "EDIT" && ViewBag.Genres_Code == item.Genres_Code)
                    {
                        <td>
                            <input id="txtGenresName_@item.Genres_Code" type="text" value="@item.Genres_Name" maxlength="100" />
                        </td>
                        <td align="center">
                            <span>@strActive</span>
                        </td>
                        <td align="center">
                            <a title="@objMessageKey.Save" class="glyphicon glyphicon-ok-circle" onclick="SaveGenre(@item.Genres_Code)"></a>
                            <a title="@objMessageKey.Cancel" class="glyphicon glyphicon-remove-circle" onclick="Cancel()"></a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="expand_Genres_Name">@item.Genres_Name</div>
                        </td>
                        <td align="center">
                            <span>@strActive</span>
                        </td>
                        <td align="center">
                            @if (ViewBag.UserModuleRights.Contains("~" + UTOFrameWork.FrameworkClasses.GlobalParams.RightCodeForEdit + "~"))
                            {
                                if (item.Is_Active == "Y")
                                {
                                    <a title="@objMessageKey.Edit" class="glyphicon glyphicon-pencil" style="cursor:pointer;" onclick="CheckRecordLock(@item.Genres_Code, 'EDIT')"></a>
                                }
                                else
                                {
                                    <a title="@objMessageKey.CannoteditthisGenreasitisdeactivated" class="glyphicon glyphicon-pencil disabled" onclick="return false;"></a>
                                }
                            }
                            @if (item.Is_Active == "Y")
                            {
                                bool canDeactivate = true;
                                string strToolTip = "";
                                RightsU_Dapper.BLL.Services.Channel_Service objChannelService = new RightsU_Dapper.BLL.Services.Channel_Service();
                                List<int?> ChannelCode = item.Channels.Select(a => a.Channel_Code).ToList();
                                var lstChannelCodes =  objChannelService.GetList().Where(a => ChannelCode.Contains(a.Channel_Code)).Select(s => true).ToList();

                                if (lstChannelCodes.Count > 0)
                                {
                                    canDeactivate = false;
                                    strToolTip = objMessageKey.Cannotdeactivatethisgenreasitisusedinchannel;
                                }
                                else if (lstGenreCodes.Where(x => x.HasValue && x.Value == item.Genres_Code).Count() > 0)
                                {
                                    canDeactivate = false;
                                    strToolTip = objMessageKey.Cannotdeactivatethisgenreasitisusedintitle;
                                }
                                if (canDeactivate)
                                {
                                    <a title="@objMessageKey.Deactivate" class="glyphicon glyphicon-thumbs-down" style="cursor:pointer" onclick="ActiveDeactiveGenre(@item.Genres_Code, 'N')"></a>
                                }
                                else
                                {
                                    <a title="@strToolTip" class="glyphicon glyphicon-thumbs-down disabled" onclick="return false;"></a>
                                }
                            }
                            else
                            {
                                if (ViewBag.UserModuleRights.Contains("~" + UTOFrameWork.FrameworkClasses.GlobalParams.RightCodeForActivate + "~"))
                                {
                                    <a title="@objMessageKey.Activate" class="glyphicon glyphicon-thumbs-up" style="cursor: pointer;" onclick="ActiveDeactiveGenre(@item.Genres_Code, 'Y')"></a>
                                }
                            }
                        </td>
                    }
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">@objMessageKey.Norecordfound</td>
            </tr>
        }
    </tbody>
</table>
