@model List<RightsU_Entities.USPMHCueSheetList_Result>
@using UTOFrameWork.FrameworkClasses;

<script>
    $(document).ready(function () {
        initializeChosen();
        $("#lblRecordCount").text(@ViewBag.RecordCount);
        $("#hdnPageNo").val(@((ViewBag.PageNo ?? 1)));
        $("#hdnRecordCount").val(@ViewBag.RecordCount);
        $("#txtPageSize").val(@ViewBag.PageSize);
        SetPaging();
    });
</script>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th style="width:10%;">CueSheet ID</th>
            <th style="width:30%;">File Name</th>
            <th style="width:10%;">Songs</th>
            <th style="width:20%;">Uploaded By</th>
            <th style="width:10%;">Uploaded On</th>
            <th style="width:10%;">Status</th>
            <th style="width:10%;">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.RequestID</td>
                    <td>@item.FileName</td>
                    <td align="center">@item.NoOfRecords</td>
                    <td>@item.CreatedBy</td>
                    <td align="center">@string.Format("{0:" + GlobalParams.DateFormat_Display + "}", item.CreatedOn)</td>
                    <td>@item.UploadStatus</td>
                    <td class="action" align="center">
                        <a title="" data-placement="top" class="glyphicon glyphicon-eye-open" data-original-title="View" onclick="BindPartialView('VIEW',@item.MHCueSheetCode,'V')"></a>
                        @if (item.UploadStatus.ToUpper() == "DATA ERROR")
                        {
                            <a title="" href="#" class="glyphicon glyphicon-log-in" data-original-title="Assign Music" onclick="BindPartialView('EDIT',@item.MHCueSheetCode,'A')"></a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {

            <tr>
                <td colspan="7">No Record Found</td>
            </tr>

        }
    </tbody>
</table>
