@model IEnumerable<RightsU_Entities.Banner>

<style>
    td {
        text-align: center;
    }
</style>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th style="display: none">
                Banner Code
            </th>
            <th>
                Banner Name
            </th>
            <th>
                Banner Short Name
            </th>
            @*<th width="20%">
                Inserted By
            </th>
            <th width="10%">
                Inserted On
            </th>
            <th width="10%">
                Last ActionBy
            </th>
            <th width="10%">
                Last Updated Time
            </th>*@
            <th style="display: none">
                Lock Time
            </th>
            
            <th>
                Actions
            </th>
        </tr>
    </thead>
    @{
        if (ViewBag.CommandName == "ADD")
        {
    <tr>
        <td style="display: none">
            New
        </td>
        <td>
            <input type="text" id="Banner_Name" />
        </td>
        <td>
            <input type="text" id="Banner_Short_Name" />
        </td>
        @*<td>
            <input type="text" id="Inserted_By" />
        </td>
        <td>
            <input type="text" id="Inserted_On" />
        </td>
        <td>
            <input type="text" id="Last_Action_By" />
        </td>
        <td>
            <input type="text" id="Last_Updated_Time" />
        </td>*@
        @*<td style="display: none">
            <input type="text" id="Lock_Time" />
        </td>*@
        <td>
            <a title="Save" class="glyphicon glyphicon-ok-circle" onclick="SaveBanner(0)"></a>
            <a title="Cancel" class="glyphicon glyphicon-remove-circle" onclick="BannerCancel()"></a>
        </td>
    </tr>
        }
    }

    @foreach (var item in Model)
    {

    <tr>
        @if (ViewBag.CommandName == "EDIT" && ViewBag.BannerCode == item.Banner_Code)
        {
            <td style="display: none">
                <input type="text" id="Banner_Code" value="@item.Banner_Code"  />
            </td>

            <td>
                <input type="text" id="Banner_Name" value="@item.Banner_Name" />
            </td>

            <td>
                <input type="text" id="Banner_Short_Name" value="@item.Banner_Short_Name" />
            </td>
            @*<td>
                <input type="text" id="Inserted_By" value="@item.Inserted_By" />
            </td>
            <td>
                <input type="text" id="Inserted_On" value="@item.Inserted_On" />
            </td>
            <td>
                <input type="text" id="Last_Action_By" value="@item.Last_Action_By" />
            </td>
            <td>
                <input type="text" id="Last_Updated_Time" value="@item.Last_Updated_Time" />
            </td>*@
            <td style="display: none">
                <input type="text" id="Lock_Time" value="@item.Lock_Time" />
            </td>
            <td>
                <a title="Save" class="glyphicon glyphicon-ok-circle" onclick="SaveBanner(@item.Banner_Code)"></a>
                <a title="Cancel" class="glyphicon glyphicon-remove-circle" onclick="BannerCancel()"></a>
            </td>
        }
        else
        {
            <td style="display: none">
                @Html.DisplayFor(modelItem => item.Banner_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Banner_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Banner_Short_Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Inserted_By)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inserted_On)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Action_By)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Updated_Time)
            </td>*@
            <td style="display: none">
                @Html.DisplayFor(modelItem => item.Lock_Time)
            </td>
            <td>
                <a title="Edit" class="glyphicon glyphicon-pencil" style="cursor: pointer" onclick="CheckRecordLock('EDIT', '@item.Banner_Code')"></a>
                @Html.ActionLink(" ", "DeleteBanner", new { id = item.Banner_Code }, new { @class = "glyphicon glyphicon-trash", @style = "cursor: pointer;", @title = "Delete" })
            </td>

        }
    </tr>
    }

</table>

