@using UTOFrameWork.FrameworkClasses
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}
<link type="text/css" rel="stylesheet" href="~/css/chosen.min.css?v=@System.Configuration.ConfigurationManager.AppSettings["Version_No"]" />

<script>
    var IsCall = 'Y', Command_Name = "", dummyGuid_G, sort_Type = "T";
    var URL_BindBannerList = '@Url.Action("BindBanner_List", "Banner")';
    var URL_SearchBanner = '@Url.Action("SearchBanner", "Banner")'
    var URL_SaveBanner = '@Url.Action("SaveBanner", "Banner")';
    var URL_CheckRecordLock = '@Url.Action("CheckRecordLock", "Banner")';
    var URL_Refresh_Lock = '@Url.Action("Refresh_Lock", "Global")';
    var URL_Release_Lock = '@Url.Action("Release_Lock", "Global")';
    var Url_DeleteBanner = '@Url.Action("DeleteBanner", "Banner")';
    $(document).ready(function () {
        debugger;
        if (LayoutDirection_G == "RTL") {
            $('#btnUser').css("float", "right");
            $('#txtSort').css("text-align", "left");
            $('#ddlSortType_chosen').css("text-align", "right");
        }
        else {
            $('#btnUser').css("float", "left");
            $('#txtSort').css("text-align", "right");
            $('#ddlSortType_chosen').css("text-align", "left");
        }
        SearchBanner("");
        addNumeric();
        initializeChosen();

        $('#searchCommon').keypress(function (e) {
            if (e.keyCode == 13) {
                btnSearch_OnClick()
                return false;
            }
        });
        $('#ddlSortType').change(function () {
            sort_Type = $('#ddlSortType').val();
            $('#hdnPageNo').val(1);
            var searchtext = $("#searchCommon").val();
            SearchBanner(searchtext);
        })
    });

    //-----------------SEARCH-----------------

    function btnSearch_OnClick() {
        debugger;
        $('.required').removeClass('required');
        $("[required='required']").removeAttr("required");

        var searchText = $.trim($('#searchCommon').val());

        if (searchText == '') {
            $('#searchCommon').val('');
            $('#searchCommon').attr('required', true)
            return false;
        }
        SearchBanner(searchText);
    }

    function btnShowAll_OnClick() {
        debugger;
        if (!checkCurrentActionAttribGroup())
            return false;
        if (!ValidatePageSize())
            return false;
        sort_Type = "T";
        $("#ddlSortType").find("option").attr("selected", false);
        $("#ddlSortType").val('T').trigger("chosen:updated");
        $('#hdnPageNo').val(1);
        $('#searchCommon').attr('required', false)
        $('#searchCommon').val('');
        //SearchBanner("");
        SearchBanner("");
    }

    function SearchBanner(searchtext) {
        debugger;
        $('#searchCommon').val(searchtext);
        showLoading();
        $.ajax({
            type: "POST",
            url: URL_SearchBanner,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                searchText: searchtext
            }),
            success: function (result) {
                $('#hdnPageNo').text(1);
                $('#hdnPageNo').val(1);
                $('#lblRecordCount').text(result.Record_Count);
                $("#hdnRecordCount").val(result.Record_Count);
                SetPaging();
                BannerList("", 0);
                hideLoading();
            }
        });
    }

    //-----------------PAGING-----------------

    function addNumeric() {
        debugger;
        $(".pagingSize").numeric({
            allowMinus: false,
            allowThouSep: false,
            allowDecSep: false,
            max: 99,
            min: 1
        });
    }

    function SetPaging() {
        debugger;
        IsCall = 'N';
        var pageNo = parseInt($('#hdnPageNo').val());
        var recordCount = parseInt($('#hdnRecordCount').val());
        var pagePerBatch = parseInt($('#hdnPagePerBatch').val());
        var recordPerPage = parseInt($('#txtPageSize').val());

        var cnt = pageNo * recordPerPage;
        if (cnt >= recordCount) {
            var v1 = parseInt(recordCount / recordPerPage);
            if ((v1 * recordPerPage) == recordCount)
                pageNo = v1;
            else
                pageNo = v1 + 1;
        }

        if (pageNo == 0)
            pageNo = 1;

        var index = pageNo - 1;
        $('#hdnPageNo').val(pageNo);

        var opt = null;
        opt = {callback: pageselectCallback };
        opt["items_per_page"] = recordPerPage;
        opt["num_display_entries"] = pagePerBatch;
        opt["num"] = 10;
        opt["prev_text"] = "<<";
        opt["next_text"] = ">>";
        opt["current_page"] = index;
        $("#Pagination").pagination(recordCount, opt);
    }

    function pageselectCallback(page_index, jq) {
        debugger;
        if (checkCurrentActionAttribGroup()) {
            $('.required').removeClass('required');

            if (!ValidatePageSize())
                return false;

            var pageNo = page_index + 1
            $('#hdnPageNo').val(pageNo);
            if (IsCall == 'Y')
                BannerList("", 0);
            else
                IsCall = 'Y';
        }
    }

    function txtPageSize_OnChange() {
        debugger;
        $("[required='required']").removeAttr("required");
        $('.required').removeClass('required');
        if (!ValidatePageSize())
            return false;

        BannerList("", 0);
        SetPaging();
    }

    function ValidatePageSize() {
        debugger;
        var recordPerPage = $('#txtPageSize').val()
        if ($.trim(recordPerPage) != '') {
            var pageSize = parseInt(recordPerPage);
            if (pageSize > 0)
                return true;
        }
        $('#txtPageSize').attr('required', true)
        return false
    }

    function pageBinding() {
        debugger;
        BannerList("", 0);
        SetPaging();
    }

    //-----------------VALIDATION-----------------

    function checkCurrentActionAttribGroup() {
        debugger;
        var action = $("#hdnAction").val();
        if (action == "ADD") {
            showAlert("E", "Complete Add Operation First")
            return false;
        }
        else if (action == "EDIT") {
            showAlert("E", "Complete Edit Operation First")
            return false;
        }
        return true;
    }

    //-----------------MASTER-----------------

    function BannerList(commandName, BannerCode) {
        debugger;
        var pageNo = $('#hdnPageNo').val();
        var recordPerPage = $('#txtPageSize').val();

        $.ajax({
            type: "POST",
            url: URL_BindBannerList,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            data: JSON.stringify({
                pageNo: pageNo,
                recordPerPage: recordPerPage,
                Banner_Code: BannerCode,
                commandName: commandName,
                sortType: sort_Type
            }),
            success: function (result) {
                debugger;
                $('#divBannerList').empty();
                $('#divBannerList').html(result);
                initializeTooltip();
                initializeExpander();
            }
        })
    }

    function AddEditBanner(commandName, BannerCode) {
        debugger;
        if (checkCurrentActionAttribGroup() && ValidatePageSize()) {
            BannerList(commandName, BannerCode);
            $('#hdnAction').val(commandName)
        }
    }

    function SaveBanner(BannerCode) {
        debugger;
        var returnVal = true;
        var Banner_Code = BannerCode;
        var Banner_Name = $("#Banner_Name").val();
        var Banner_short_name = $("#Banner_Short_Name").val();
        var Lock_Time = $("#Lock_Time").val();
        if (returnVal) {
            $.ajax({
                type: "POST",
                url: URL_SaveBanner,
                traditional: true,
                enctype: 'multipart/form-data',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    Banner_Code: Banner_Code,
                    Banner_Name: Banner_Name,
                    Banner_short_name: Banner_short_name,
                    Lock_Time: Lock_Time
                }),
                success: function (result) {
                    debugger;
                    if (result.Status == "S") {
                        $('#lblRecordCount').text(result.RecordCount);
                        $('#hdnAction').val("")
                        showAlert("S", result.Message);
                        SearchBanner("");

                        if ($("#searchCommon").val() != "") {
                            SearchBanner($("#searchCommon").val())
                        }
                        else {
                            BannerList("", 0);
                        }
                        //SetPaging();
                        
                    }
                    else {
                        showAlert("E", result.Message);
                    }
                }
            })
        }
    }


    function BannerCancel() {
        debugger;
        var recordLockingCode = parseInt($('#hdnRecodLockingCode').val())
        if (recordLockingCode > 0)
            ReleaseRecordLock(recordLockingCode, URL_Release_Lock);
        $('#hdnAction').val("")
        BannerList("", 0);
    }

   //Record Locking 
    function CheckRecordLock(commandName, BannerCode) {
        debugger;
        $.ajax({
            type: "POST",
            url: URL_CheckRecordLock,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                BannerCode: BannerCode,
                commandName: commandName
            }),
            async: false,
            success: function (result) {
                debugger;
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    if (result.Is_Locked == "Y") {
                        AddEditBanner(commandName, BannerCode)
                        $('#hdnRecodLockingCode').val(result.Record_Locking_Code); // This syntax must be after AddEditCountry() this
                        Call_RefreshRecordReleaseTime(result.Record_Locking_Code, URL_Refresh_Lock);
                    }
                    else {
                        showAlert("E", result.Message);
                    }
                     
                }
                
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
                hideLoading();
            }
        });
    }

    //Delete Function

    function DeleteBanner(id) {
        debugger;
        $.ajax({
            type: "POST",
            url: Url_DeleteBanner,
            traditional: true,
            enctype: 'multipart/form-data',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                id: id
            }),
            async: false,
            success: function (result) {
                debugger;
                if (result == "true") {
                    redirectToLogin();
                }
                else {
                    if (result.Is_Locked == "Y") {
                       // This syntax must be after AddEditCountry() this
                        Call_RefreshRecordReleaseTime(result.Record_Locking_Code, URL_Refresh_Lock);
                    }
                    else
                        showAlert("S", result.Message);
                        SearchBanner("");
                }
            },
            error: function (result) {
                alert('Error: ' + result.responseText);
            }
        });
    }
</script>

<style>
    .search_area {
        border-bottom: 1px dotted #777;
        margin-bottom: 5px;
        background-color: #eee;
    }

    #ddlSortType_chosen {
        max-width: 42%;
        text-align: left;
    }
</style>

<div class="main_section">
    <section class="rightsU_container clearfix">
        <div class="container acq main_col">
            <div class="">

                <div class="title_block dotted_border clearfix">
                    <h2 class="pull-left">
                        Banner
                        <span></span>
                    </h2>

                    <div class="right_nav pull-right">
                        <ul>
                            <li id="btnUser">
                                <input type="button" class="btn btn-primary" value="@objMessageKey.Add" onclick="AddEditBanner('ADD', 0)" />
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="search_area">
                    <table class="table">
                        <tr>
                            <td style="width:10%; vertical-align: middle;text-align:center;">
                                @objMessageKey.SearchText :
                            </td>
                            <td style="width:25%; vertical-align:middle;">
                                <input type="text" name="srchCommon" id="searchCommon" class="search" style="width:100%" placeholder="Banner Name, Banner Short Name" maxlength="100" />
                            </td>
                            <td>
                                <input type="button" id="btnSearch" class="button" value="@objMessageKey.Search" onclick="btnSearch_OnClick()">
                                <input type="button" id="btnShowAll" class="button" value="@objMessageKey.ShowAll" onclick="btnShowAll_OnClick()">
                            </td>
                            <td id="txtSort">
                                @objMessageKey.SortBy :
                                @Html.DropDownList("SortType", (List<SelectListItem>)ViewBag.SortType, new { @id = "ddlSortType", @class = "form_input chosen-select" })
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="grid_area">
                    <div style="border-bottom: 1px dotted #777; display:none;"></div>
                    <div class="paging_area clearfix">
                        <span class="pull-left">@objMessageKey.TotalRecords: </span>
                        <span class="pull-left" id="lblRecordCount"></span>
                        <input type="hidden" id="hdnPageNo" name="hdnPageNo" value="1" />
                        <input type="hidden" id="hdnPagePerBatch" name="hdnPagePerBatch" value="5" />
                        <input type="hidden" id="hdnRecordCount" name="hdnRecordCount" value="0" />

                        <div id="Pagination" class="pagination">
                        </div>
                        <span class="pull-right">
                            @objMessageKey.PageSize:
                            <input type="text" id="txtPageSize" name="txtPageSize" class="smallTextBox pagingSize" value="10" onchange="txtPageSize_OnChange()" onfocus="checkCurrentActionAttribGroup()" onblur="setDefaultPaging('txtPageSize')">
                        </span>
                    </div>

                    <div class="tab-content clearfix table-wrapper scale_table_container">
                        <div class="scale_table_block">
                            <input type="hidden" id="hdnCategoryCode" value="0" />
                            <input type="hidden" id="hdnAction" name="hdnAction" value="" />
                            <input type="hidden" id="hdnRecodLockingCode" name="hdnRecodLockingCode" value="0" />
                            <div id="divBannerList" class="deal clearfix">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
