@model List<RightsU_Entities.USPAL_GetBookingSheetList_Result>
@using UTOFrameWork.FrameworkClasses
@{
    MessageKey objMessageKey = new MessageKey();
    if (Session["objMessageKey"] != null)
    {
        objMessageKey = (MessageKey)Session["objMessageKey"];
    }
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th rowspan="2">Clients</th>
            <th rowspan="2">Proposal Id</th>
            <th rowspan="2">Booking Sheet No.</th>
            <th colspan="2">No. of content</th>
            <th rowspan="2">Update By</th>
            <th rowspan="2">Updated on</th>
            <th rowspan="2">Action</th>
        </tr>
        <tr>
            <th>Movie</th>
            <th>Show</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">
                        @*@Html.DisplayFor(modelItem => item.Vendor_Name)*@
                        @item.Vendor_Name
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Proposal_No)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Booking_Sheet_No)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Movie_Content_Count)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Show_Content_Count)
                    </td>
                    <td style="text-align:center">
                        @*@Html.DisplayFor(modelItem => item.Last_Action_By)*@
                        <span>
                            @{
                                string UpdateBy = "";
                                if (item.Last_Action_By > 0 && item.Last_Action_By != null)
                                {
                                    UpdateBy = ((IEnumerable<RightsU_Entities.User>)ViewBag.UserCode).Where(a => a.Users_Code == item.Last_Action_By).Select(b => b.Login_Name).FirstOrDefault();
                                }
                                @UpdateBy
                            }
                        </span>
                    </td>
                    <td style="text-align:center">
                        @item.Last_Updated_Time.Value.ToString("dd MMM yyyy")
                    </td>
                    <td style="text-align:center">

                        <a title="@objMessageKey.View" class="glyphicon glyphicon-eye-open" style="cursor:pointer;"></a>

                        <a title="Import" class="glyphicon glyphicon-save" style="cursor:pointer;"></a>

                        <a title="Export" class="glyphicon glyphicon-export" style="cursor:pointer;"></a>

                        @*<a title="@objMessageKey.View" class="glyphicon glyphicon-eye-open" style="cursor: pointer; color:red"></a>*@

                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="9">@objMessageKey.Norecordfound</td>
            </tr>
        }

    </tbody>
</table>